﻿<br />
<h3>Mantenimiento de Perfiles</h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos generales</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="Detalles-tab" data-toggle="tab" href="#Detalles" role="tab" aria-controls="Detalles" aria-selected="false">Detalles</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
        <br />
        <div class="overflow-auto" style="height:400px;">
            @Html.Action("GridViewPartial")
        </div>
    </div>
    <div class="tab-pane fade" id="Detalles" role="tabpanel" aria-labelledby="Detalles-tab">
        <br />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="LblCodigoPerfil" >Código perfil</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" id="CodigoPerfil" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="LblNombrePerfil" >Nombre perfil</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" class="form-control" id="NombrePerfil" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="cdestado">Estado</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="radio" id="activo" name="EstadoModulo" value="true" /> Activo
                    <input type="radio" id="activo" name="EstadoModulo" value="false" /> Inactivo
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button class="btn btn-primary" id="guardar" type="button">Guardar</button>
            <button Class="btn btn-primary" id="Limpiar" type="button">Limpiar</button>
        </div>
    </div>
        </div>
<br />

<script>
    $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
    });
    function CrearMenu(CD_CODIGO_PERFIL, DS_NOMBRE_PERFIL, CD_ESTADO_PERFIL) {
        url = '@Url.Action("Create_Menu", "GLB_PERFILES_USUARIOS")';
        var data = { CD_CODIGO_PERFIL: CD_CODIGO_PERFIL, DS_NOMBRE_PERFIL: DS_NOMBRE_PERFIL, CD_ESTADO_PERFIL: CD_ESTADO_PERFIL};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    };
    $(document).ready(function () {
        $("#guardar").click(function () {
            alert($('#CodigoPerfil').val());
            CD_CODIGO_PERFIL = $('#CodigoPerfil').val();
            DS_NOMBRE_PERFIL = $('#NombrePerfil').val();
            CD_ESTADO_PERFIL = $("input[name='EstadoModulo']:checked").val();
            CrearMenu(CD_CODIGO_PERFIL, DS_NOMBRE_PERFIL, CD_ESTADO_PERFIL);
        });
        $("#limpiar").click(function () {
            LimpiarInfo();
        });
        if ('@ViewBag.idseleccinado') {
            CargarInfo('@ViewBag.idseleccinado');
        }
    });
    //cargar cliente
    function CargarInfo(CD_CODIGO_PERFIL) {
        url = '@Url.Action("ObtenerMenus", "GLB_PERFILES_USUARIOS")';
        var data = { CD_CODIGO_PERFIL: CD_CODIGO_PERFIL };

        $.post(url, data).done(function (result) {
            for (var i = 0; i < result.length; i++) {
                $('#CodigoPerfil').val(result[i].CD_CODIGO_PERFIL);
                $('#NombrePerfil').val(result[i].DS_NOMBRE_PERFIL);
                $("input[name=EstadoModulo][value=" + result[i].CD_ESTADO_PERFIL + "]").prop('checked', true);
                $('.nav-tabs a[href="#Detalles"]').tab('show');
            }
        });
    }
    //limpiar
    function LimpiarInfo() {
        $('#CodigoPerfil').val('');
        $('#NombrePerfil').val('');
        $("input[name=EstadoModulo][value=true]").prop('checked', true);
    }
</script>
