﻿<br />
<h3>Mantenimiento de Menús</h3>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos generales</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="Detalles-tab" data-toggle="tab" href="#Detalles" role="tab" aria-controls="Detalles" aria-selected="false">Detalles</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
        <br />
        <div class="overflow-auto" style="height:400px;">
            @Html.Action("GridView3Partial")
        </div>
    </div>
    <div class="tab-pane fade" id="Detalles" role="tabpanel" aria-labelledby="Detalles-tab">
        <br />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblcodmenu">Código menú</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" id="CodigoMenu" class="form-control" name="CodigoMenu" />
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblnomenu">Nombre menú</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" class="form-control" id="NombreMenu" name="NombreMenu" />
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblestado">Estado</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="radio" id="activo" name="EstadoMenu" value="true" /> Activo
                    <input type="radio" id="activo" name="EstadoMenu" value="false" /> Inactivo
                </div>
            </div>
            </div>
            <br />

            <button class="btn btn-primary" id="limpiar" type="button">Limpiar</button>
            <button class="btn btn-primary" id="guardar" type="button">Guardar</button>
            <br />
        </div>
    </div>
<br />

<script>
    $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
    });
    function CrearMenu(CD_CODI_SIST, DS_NOMB_SIST, CD_ESTADO_SISTEMA) {
        url = '@Url.Action("Create_Menu", "GLBSISTEMAS")';
        var data = { CD_CODI_SIST: CD_CODI_SIST, DS_NOMB_SIST: DS_NOMB_SIST, CD_ESTADO_SISTEMA: CD_ESTADO_SISTEMA};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    };
    $(document).ready(function () {
        $("#guardar").click(function () {
            CD_CODI_SIST = $('#CodigoMenu').val();
            DS_NOMB_SIST = $('#NombreMenu').val();
            CD_ESTADO_SISTEMA = $("input[name='EstadoMenu']:checked").val();
            CrearMenu(CD_CODI_SIST, DS_NOMB_SIST, CD_ESTADO_SISTEMA);
        });
        $("#limpiar").click(function () {
            LimpiarInfo();
        });
        if ('@ViewBag.idseleccinado') {
            CargarInfo('@ViewBag.idseleccinado');
        }
    });
    //cargar cliente
    function CargarInfo(CD_CODI_SIST) {
        url = '@Url.Action("ObtenerMenus", "GLBSISTEMAS")';
        var data = { CD_CODI_SIST: CD_CODI_SIST };

        $.post(url, data).done(function (result) {
            for (var i = 0; i < result.length; i++) {
                $('#CodigoMenu').val(result[i].CD_CODI_SIST);
                $('#NombreMenu').val(result[i].DS_NOMB_SIST);
                $("input[name=EstadoMenu][value=" + result[i].CD_ESTADO_SISTEMA + "]").prop('checked', true);
                $('.nav-tabs a[href="#Detalles"]').tab('show');
            }
        });
    }
    //limpiar
    function LimpiarInfo() {
        $('#CodigoMenu').val('');
        $('#NombreMenu').val('');
        $("input[name=EstadoMenu][value=true]").prop('checked', true);
    }


</script>

