﻿@model PagedList.IPagedList<ControlPlanilla.Models.ListaDocumentosView>
@using PagedList.Mvc;
@{
    var i = 0;
}

    <div class="table-responsive" style="padding:15px">

        <table class="table table-bordered" id="tListaDocumentos">

            <thead>
                <tr>
                    @*<th hidden>ID</th>*@
                    <th hidden>Id</th>
                    <th hidden>Código Documento</th>
                    <th hidden>Código Opcion Sistema</th>
                    @if (ViewBag.OpcionConsulta == 2)
                    {
                        <th>
                            Opción de sistema
                        </th>
                    }
                    @if (ViewBag.OpcionConsulta == 2)
                    {
                        <th>
                            Descripción de origen
                        </th>
                    }
                    <th>Documento</th>
                    <th hidden>Archivo</th>
                    <th>Descripción</th>
                    <th>Vigencia desde</th>
                    <th>Vigencia hasta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    i += 1;

                    <tr>
                        <td id="txtId_@i" hidden posicion="@i">
                            @item.Id
                        </td>
                        <td id="txtCdTipoDoc_@i" posicion="@i" hidden>
                            @item.CdTipoDocumento
                        </td>
                        <td id="txtCdOpcionSis_@i" posicion="@i" hidden>
                            @item.OpcionSistema
                        </td>
                        @if (ViewBag.OpcionConsulta == 2)
                        {
                            <td id="txtDsOpcionSist_@i" posicion="@i">
                                @item.DsOpcionSistema
                            </td>
                        }
                        @if (ViewBag.OpcionConsulta == 2)
                        {
                            <td>
                                @item.DsForaneo
                            </td>
                        }
                        <td id="txtDsTipoDoc_@i" posicion="@i">
                            @item.DsTipoDocumento
                        </td>
                        <td id="txtArchivo_@i" hidden posicion="@i">
                            @item.Archivo
                        </td>
                        <td id="txtDsDocumento_@i" posicion="@i">
                            @item.DsDocumento
                        </td>
                        <td id="txtDesde_@i" posicion="@i">
                            @item.Desde.ToString("dd/MM/yyyy")
                        </td>
                        <td id="txtHasta_@i" posicion="@i">
                            @{var miF = item.Hasta.HasValue ? item.Hasta.Value.ToString("dd/MM/yyyy") : "";}
                            @miF
                        </td>
                    </tr>

                }

            </tbody>


        </table>



        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("ListaDocumentos", "Auditoria", new { OpcionSistema = ViewBag.CD_OPC_SIST, CdForaneo = ViewBag.CdForaneo, page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
            {

                HttpMethod = "POST",
                UpdateTargetId = "ListaDocumentos",
                OnSuccess = "onAjaxSuccess",
                OnFailure = "onAjaxFailure"
            }))
    </div>

        <script>
            /***/
            window.onload = function () {
                //funciones a ejecutar
                alert("0");
                //$("table").eq(1).children("tr:has(table:eq(2))");
            };


            $("#tListaDocumentos tr").click(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var value = $(this).find('td:first').html();
                renderizarDatos(value)
            });



                    //$('.ok').on('click', function (e) {
                    //    alert($("#table tr.selected td:first").html());
                    //});

        </script>
