﻿
@{
    ViewBag.Title = "Adjuntar Archivos";
    Layout = "~/Views/Shared/_Vista.cshtml";
}


<br />
                <h3>Adjuntar Archivos</h3>

                <div class="col-sm-12">

                    <form enctype="multipart/form-data" id="UploadForm">

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Seleccione tipo de documento
                            </label>
                            <div class="col-md-9">
                                @Html.DropDownList("CD_TIPO_DOCUMENTO", (IEnumerable<SelectListItem>)ViewBag.CD_TIPO_DOCUMENTO, "Seleccione", htmlAttributes: new { @class = "form-control col-md-9", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Seleccionar archivo
                            </label>
                            <div class="col-md-7">
                                <input type="file" id="FileName" class="form-control" accept="image/png, .jpeg, .jpg, .pdf" required />
                            </div>
                            <div class="col-md-2">
                                <button id="btnVistaPrevia" class="btn btn-primary-stm" onclick="VistaPrevia()">Vista previa</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Descripción
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="txtDescripcion" class="form-control" placeholder="Opcional" />
                            </div>
                            <br />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Vigencia
                            </label>
                            <div class="col-md-4">
                                <input type="date" id="txtDesde" class="form-control" required />
                            </div>
                            <div class="col-md-4">
                                <input type="date" id="txtHasta" class="form-control" />
                            </div>
                            <br />
                        </div>

                    </form>
                    <!--Fin de formulario-->

                    <br />

                    <div style="margin-top:50px;" id="ListaDocumentos" name="ListaDocumentos">


                    </div>


                    <!--Botones-->
                    <div class="table-responsive" style="padding:15px">
                        <div class="btn-group btn-group" style="text-align:center">
                            <button class="btn btn-primary" onclick="Crear()">Adicionar</button>
                            <button class="btn btn-primary" onclick="Modificar()">Modificar</button>
                            <button class="btn btn-primary" onclick="Eliminar()">Eliminar</button>
                            <button class="btn btn-primary" onclick="Nuevo()">Nuevo</button>
                        </div>
                        <br />
                        <div>
                            <a href="@ViewBag.DS_LINK" class="btn btn-link">Regresar</a>
                        </div>
                        </div>

                    </div>

        <br />


<div class="modal fade" id="abrirModalVistaPrevia" name="abrirModalVistaPrevia" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 class="modal-title" id="myModalLabelPer">Vista previa</h4>
            </div>
            <div class="modal-body">

                <img id="imgPrevia" style="align-content:center; width: 100%; height: 100%;" class="img-responsive"/>
                <div id="VistaPreviaPPDF">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>
<style>
    /* Efecto de mano en el puntero en la tabla tListaDocumentos */
    td {
        border: 1px #DDD solid;
        padding: 5px;
        cursor: pointer;
    }

    /* Sobreado al seleccionar una fila de la tabla tListaDocumentos */
    .selected {
        background-color: lightgray;
        color: black;
    }

    /*Modificar la vista previa de PDFs*/
    .pdfobject-container {
        height: 45rem;
        border: 1rem solid rgba(0,0,0,.1);
    }
</style>

<script>
    var TmpPath = ""; //Almacena la ruta temporal para poder hacer la vista previa de archivos (imagen o pdf)
    var IdAdjunto = 0; // Para la modificacion o eliminacion de archivos
    window.onload = function ()
    {
        //funciones a ejecutar
        $.unblockUI();
        CargarListaDocumentos();
    };
     // Escuchamos el evento 'change' del input donde cargamos el archivo
    $(document).on('change', 'input[type=file]', function (e) {
        // Obtenemos la ruta temporal mediante el evento
        TmpPath = URL.createObjectURL(e.target.files[0]);
    });

    function CargarListaDocumentos() {
        $.blockUI();
        cadenaBinaria = "";
        var cdOpcion = '@ViewBag.CD_OPC_SIST';
        var cdForaneo = '@ViewBag.CdForaneo';
        var opcionConsulta = 1;

        var url = '@Url.Action("ListaDocumentos","Auditoria")';
        var data = { OpcionSistema: cdOpcion, CdForaneo: cdForaneo, OpcionConsulta : opcionConsulta };

         $.post(url, data).done(function (result) {
                $('#ListaDocumentos').html('');
                $('#ListaDocumentos').html(result);
                $.unblockUI();
         });
    }

    //Modal para vista previa http://localhost:51510/Auditoria/SubirArchivos?opcion=PayFrec&CdForaneo=2
    function VistaPrevia() {
        $('#VistaPreviaPPDF').css('display', 'none');
        $('#imgPrevia').css('display', 'none');
        if (TipoContenido != "application/pdf" &&  TipoContenido != null && TipoContenido !="") {
            $('#imgPrevia').css('display', 'block');
            $('#imgPrevia').attr('src', TmpPath);
        }
        else if (TipoContenido == "application/pdf" &&  TipoContenido != null && TipoContenido != "")
        {
            PDFObject.embed(TmpPath, "#VistaPreviaPPDF");
            $('#VistaPreviaPPDF').css('display', 'block');
        }
        $('#abrirModalVistaPrevia').modal('show');
    }

    var reader = new FileReader();
    var cadenaBinaria; //Para poder renderizar el archivo en la vista previa cuando se esta creando el registro
    var TipoContenido = ""; //Almacena el tipo de archivo que se quiere adjuntar
    //Validar el tipo de archivo que se quiere adjuntar a la BD.
    $("#FileName").change(function () {
        var file = this.files[0];
        TipoContenido = file.type;
        var imagefile = file.type;
        var match= ["image/jpeg","image/png","image/jpg","application/pdf"];


         var selectedFile = this.files[0];

            reader.onload = function () {
                var comma = this.result.indexOf(',');
                var base64 = this.result.substr(comma + 1);
                    cadenaBinaria=base64;
            }
            reader.readAsDataURL(selectedFile);

        if (!((imagefile == match[0]) || (imagefile == match[1]) || (imagefile == match[2]) || (imagefile == match[3]))) {
            alert('Seleccione un formato de imagen valido (JPEG/JPG/PNG) o archivo PDF.');
            $("#FileName").val('');
            return false;
        }

    });


    function Crear() {
        $.blockUI();
        var cdDoc = $('#CD_TIPO_DOCUMENTO').val();
        var Descripcion = $('#txtDescripcion').val();
        var desde = $('#txtDesde').val();
        var hasta = $('#txtHasta').val();
        var cdOpcion = '@ViewBag.CD_OPC_SIST';
        var cdFor = '@ViewBag.CdForaneo';
        var DsFor = '@ViewBag.DsForaneo';
        var url = '@Url.Action("AdjuntarArchivo","Auditoria")';
        var data = { CD_TIPO_DOCUMENTO: cdDoc, CD_CODI_OPCI_SIST: cdOpcion, CD_FORANEO: cdFor, DS_FORANEO: DsFor, DS_DOCUMENTO: Descripcion, ARCHIVO: cadenaBinaria, TIPO_CONTENIDO: TipoContenido, VIGENCIA_DESDE: desde, VIGENCIA_HASTA: hasta };

        $.post(url, data).done(function (result) {
            if (result) {
                CargarListaDocumentos();
                $("#FileName").val('');
                $.unblockUI();
            }
            $.unblockUI();
        });
    }

    function renderizarDatos(value)
    {
        $.blockUI();
        var url = '@Url.Action("TraerDatosDocumento","Auditoria")';
        var data = { Id: value };
        IdAdjunto = value;
        $.get(url, data).done(function (result) {
            if (result.length > 0)
            {

                $("#CD_TIPO_DOCUMENTO option[value=" + result[0].CD_TIPO_DOCUMENTO + "]").attr("selected", true);

                $("#txtDescripcion").val(result[0].DS_DOCUMENTO);
                var fInicio;
                var fFin;
                $("#txtDesde").val('');
                $("#txtHasta").val('');
                if (result[0].VIGENCIA_DESDE != null)
                {
                    //Se cambia el formato de fecha por yyyy-MM-dd para que pueda ser renderizado en el input type date
                    fInicio = JSONDate(result[0].VIGENCIA_DESDE);
                    $("#txtDesde").val(fInicio);
                }
                if (result[0].VIGENCIA_HASTA != null)
                {
                    //Se cambia el formato de fecha por yyyy-MM-dd para que pueda ser renderizado en el input type date
                    fFin = JSONDate(result[0].VIGENCIA_HASTA);
                    $("#txtHasta").val(fFin);
                }

                TipoContenido = result[0].TIPO_CONTENIDO; //Guardamos el tipo de archivo que se obtiene de la BD

                if (TipoContenido != "application/pdf") {
                    TmpPath = "@Url.Action("ObtenerImagen", "Auditoria")";
                    TmpPath += "?Id=" + result[0].Id;
                }
                else
                {
                    TmpPath = "@Url.Action("ObtenerPDF", "Auditoria")";
                    TmpPath += "?Id=" + result[0].Id;
                }
                $.unblockUI();        
            }
        });
        
    }

    function JSONDate(dateStr) {
        var m, day;
        jsonDate = dateStr;
        var d = new Date(parseInt(jsonDate.substr(6)));
        m = d.getMonth() + 1;
        if (m < 10)
            m = '0' + m
        if (d.getDate() < 10)
            day = '0' + d.getDate()
        else
            day = d.getDate();
        return (d.getFullYear() + "-" + m + '-' + day)
    }

    function Modificar()
    {
        if (IdAdjunto > 0)
        {
            $.blockUI();
            var cdDoc = $('#CD_TIPO_DOCUMENTO').val();
            var Descripcion = $('#txtDescripcion').val();
            var desde = $('#txtDesde').val();
            var hasta = $('#txtHasta').val();
            var cdOpcion = '@ViewBag.CD_OPC_SIST';
            var cdFor = '@ViewBag.CdForaneo';
            var DsFor = '@ViewBag.DsForaneo';
            var url = '@Url.Action("EditarArchivo","Auditoria")';
            var data = { ID_ADJUNTO: IdAdjunto, CD_TIPO_DOCUMENTO: cdDoc, CD_CODI_OPCI_SIST: cdOpcion, CD_FORANEO: cdFor, DS_FORANEO: DsFor, DS_DOCUMENTO: Descripcion, ARCHIVO: cadenaBinaria, TIPO_CONTENIDO: TipoContenido, VIGENCIA_DESDE: desde, VIGENCIA_HASTA: hasta };

            $.post(url, data).done(function (result) {
                if (result) {
                    CargarListaDocumentos();
                    $.unblockUI();
                    $("#FileName").val('');
                }
                $.unblockUI();
            });
        }

    }

    function Eliminar() {
        if (IdAdjunto > 0)
        {
            $.blockUI();
            var url = '@Url.Action("EliminarArchivo","Auditoria")';
            var data = { Id: IdAdjunto };

            $.post(url, data).done(function (result) {
                if (result) {
                    CargarListaDocumentos();
                    $.unblockUI();
                }
                $.unblockUI();
            });
        }
    }

    function Nuevo()
    {
        $("#CD_TIPO_DOCUMENTO").val('');
        $("#txtDescripcion").val('');
        $("#FileName").val('');
        $("#txtDesde").val('');
        $("#txtHasta").val('');
    }




</script>