﻿@model PagedList.PagedList<ControlPlanilla.Models.PayrollCalcMethodLine>
@using PagedList.Mvc;
@{
    var i = 0;
}

<table class="table table-bordered table-hover"
       style="display: block;
    overflow-x: auto;
    white-space: nowrap;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MethodStep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BaseAmount)
            </th>
            <th>
                Effective Date Base
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayrollRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayStructureCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BracketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Bracket)
            </th>
            <th>
                Effective Date Brackets
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ActivationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UnitofMeasureCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>
                    @Html.EditorFor(modelitem => item.LineNumber, new { htmlAttributes = new { @class = "form-control", @id = "LineNumber_" + i, @posicion = i, @readonly = "readonly", @type = "text" } })
                </td>
                <td>
                    @Html.DropDownList("MethodStepCode_" + i, new SelectList(ViewBag.MethodStepCode, "Value", "Text", item.MethodStepCode), null, htmlAttributes: new { @class = "form-control", @posicion = i })
                </td>
                <td>
                    @Html.DropDownList("BaseAmountCode_" + i, new SelectList(ViewBag.BaseAmountCode, "Value", "Text", item.BaseAmountCode), null,
                   htmlAttributes: new { @class = "form-control base", @posicion = i, @onchange = "BaseAmountEdit(this);",
                       @DateBase = item.EffectiveDateBaseAmount, @codigo=item.BaseAmountCode })
                </td>
                <td>
                    @if (item.EffectiveDateBaseAmount != null)
                    {
                        <select class="form-control" name="DateBaseAmount_@i" id="DateBaseAmount_@i" posicion="@i">
                            <option value="@item.EffectiveDate">@item.EffectiveDate</option>
                        </select>
                    }
                    else
                    {
                        <select class="form-control" name="DateBaseAmount_@i" id="DateBaseAmount_@i" posicion="@i">
                        </select>
                    }
                </td>
                <td>
                    @Html.DropDownList("PayrollRateCode_"+i, new SelectList(ViewBag.PayrollRateCode, "Value", "Text", item.PayrollRateCode), null, htmlAttributes: new { @class = "form-control", @posicion = i })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.PayStructureCode, new { htmlAttributes = new { @class = "form-control", @id = "PayStructureCode_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.DropDownList("BracketTypeCode_"+i, new SelectList(ViewBag.BracketTypeCode, "Value", "Text", item.BracketTypeCode), null,
                   htmlAttributes: new { @class = "form-control", @posicion = i, @onchange = "ChangedBracketTypeEdit(this);",
                   @btype=item.BracketTypeCode, @bcode=item.BracketCode})
                </td>
                <td>
                    @Html.DropDownList("BracketCode_"+i, new SelectList(ViewBag.BracketCode, "Value", "Text", item.BracketCode), null,
                   htmlAttributes: new { @class = "form-control", @posicion = i, code=item.BracketCode, @onchange="BracketsDateEdit(this);"})
                </td>
                <td>
                    @if (item.EffectiveDateBreaket != null)
                    {
                        <select class="form-control" name="EffectiveDateBrackets_@i" id="EffectiveDateBrackets_@i" posicion="@i">
                            <option value="@item.EffectiveDateBreaket">@item.EffectiveDateBreaket</option>
                        </select>
                    }
                    else
                    {
                        <select class="form-control" name="EffectiveDateBrackets_@i" id="EffectiveDateBrackets_@i" posicion="@i">
                        </select>
                    }

                </td>
                <td>
                    @Html.EditorFor(modelItem => item.ActivationCode, new { htmlAttributes = new { @class = "form-control", @id = "ActivationCode_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Comment, new { htmlAttributes = new { @class = "form-control", @id = "Comment_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UnitofMeasureCode, new { htmlAttributes = new { @class = "form-control", @id = "UnitofMeasureCode_" + i, @posicion = i } })
                </td>
                <td>
                    <button class="btn btn-sm botones" onclick="EditarLineMethod(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarLineMethod(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td>
                @Html.DropDownList("MethodStepCode", null, htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                @Html.DropDownList("BaseAmountCode", null, htmlAttributes: new { @class = "form-control", @onchange = "BaseAmount(this);" })
            </td>
            <td>
                <select class="form-control" name="DateBaseAmount" id="DateBaseAmount" onload="BaseAmount(this);" required>
                </select>
            </td>
            <td>
                @Html.DropDownList("PayrollRateCode", null, htmlAttributes: new { @class = "form-control" })
            </td>
            @*<td>
                    @Html.DropDownList("PayrollControlCode", null, htmlAttributes: new { @class = "form-control" })
                </td>*@
            <td>
                <input type="text" class="form-control" id="PayStructureCode" name="PayStructureCode" maxlength="20" />
            </td>
            <td>
                @Html.DropDownList("BracketTypeCode", null, htmlAttributes: new { @class = "form-control", @onchange = "ChangedBracketType(this);" })
            </td>
            <td>
                <select class="form-control" name="BracketCode" id="BracketCode" onchange="BracketsDate(this);" required>
                </select>
                @*@Html.DropDownList("BracketCode", null, htmlAttributes: new { @class = "form-control" })*@
            </td>
            <td>
                <select class="form-control" name="EffectiveDateBrackets" id="EffectiveDateBrackets" required>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" id="ActivationCode" name="ActivationCode" maxlength="10" />
            </td>
            <td>
                <input type="text" class="form-control" id="Comment" name="PayStructureCode" maxlength="80" />
            </td>
            <td>
                <input type="text" class="form-control" id="UnitofMeasureCode" name="UnitofMeasureCode" maxlength="20" />
            </td>
            <td>
                <button class="btn btn-sm botones" type="button" onclick="CrearLineMethod()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>
    </tbody>

</table>


<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("CaclLines", "PayrollCalcMethods",
    new { PayrollControlCode = ViewBag.PayCode, EffectiveDate = ViewBag.EffectiveDate, page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {

            HttpMethod = "POST",
            UpdateTargetId = "ListCalcDetail",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))
