﻿@model ControlPlanilla.Models.PayrollCalcMethod

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Payroll Calc Methods</h3>
                <div class="col-sm-12">
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControl.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControl.Name)
                            </dd>

                        </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id=Model.PayrollControlCode, fecha=Model.EffectiveDate}) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>
        <br />