﻿@model IEnumerable<ControlPlanilla.Models.PayrollCalcMethod>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Payroll Calc Methods</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PayrollControlCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PayrollControl)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id=item.PayrollControlCode, fecha=item.EffectiveDate}) |
                                    @Html.ActionLink("Detalle", "Details", new {  id=item.PayrollControlCode, fecha=item.EffectiveDate }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id=item.PayrollControlCode, fecha=item.EffectiveDate })
                                </td>
                                <td>
                                    <a href="" class="btn btn-info btn-xs CalcMethod" data-id="@item.PayrollControlCode"
                                       effetiveD="@item.EffectiveDate">
                                        <span class="glyphicon glyphicon glyphicon-modal-window">
                                            @item.PayrollControlCode
                                        </span>
                                    </a>
                                    @Html.DisplayFor(modelItem => item.PayrollControl.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PayrollControl.Name)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
        <br />


<!--Modal -->
<div class="modal fade" id="abrirModalCalcMethod" name="abrirModalCalcMethod" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelCalcMethod">Brackets</label>
            </div>
            <div class="modal-body col-12">
                <div id="ListCalcDetail" name="ListCalcDetail" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var CodigoControl = "";
    var effectivedate, effectivedatebreaket, effectivedatebaseAmount;
    var BracketType = "";
    //Everytime we press delete in the table row
    $('.CalcMethod').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
         
        CodigoControl= $(this).data('id');
        effectivedate = $(this).attr('effetiveD');

        //$('#item-to-delete').val(id);
        $('#myLabelCalcMethod').html("Payroll Calc Method Lines: " + CodigoControl);

        TraerCalcLines()
    });
     

     function TraerCalcLines()
     {
          $.blockUI(); 

        var url = '@Url.Action("CaclLines", "PayrollCalcMethods")';
        var data = { PayrollControlCode: CodigoControl, EffectiveDate: effectivedate};
         

         $.post(url, data).done(function (result) {

            $('#ListCalcDetail').html('');
            $('#ListCalcDetail').html(result);
            $('#abrirModalCalcMethod').modal('show');

            $.unblockUI();
         });
    }
    function ActualizarCalcLines()
     {
        var url = '@Url.Action("CaclLines", "PayrollCalcMethods")';
        var data = { PayrollControlCode: CodigoControl, EffectiveDate: effectivedate};
         

         $.post(url, data).done(function (result) {

            $('#ListCalcDetail').html('');
            $('#ListCalcDetail').html(result);
         });
    }

    function BaseAmount(element) {
        var CodeBase = $(element).val();

        var url = '@Url.Action("TraerEffectiveDateBase", "PayrollCalcMethods")';
        var data = { Code: CodeBase};
         
        $('#DateBaseAmount').html('');
          $.get(url, data).done(function (result) {
                //$('#DateBaseAmount').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#DateBaseAmount').append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
                }
            });
        
    }

    function BaseAmountEdit(element) {
        var posicion = $(element).attr("posicion");
        var p = posicion;
        var CodeBase = $(element).val();
        var Fecha = $(element).attr("DateBase");
        var codigo = $(element).attr("codigo");
       
        var url = '@Url.Action("TraerEffectiveDateBase", "PayrollCalcMethods")';
        var data = { Code: CodeBase};
         
        $('#DateBaseAmount_'+p).html('');
          $.get(url, data).done(function (result) {
                for (var i = 0; i < result.length; i++) {
                    $('#DateBaseAmount_'+p).append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
              }
              //Si es el mismo base amount cuando se creo el registro
              if (CodeBase == codigo) {
                  $("#DateBaseAmount_" + p +" option[value=" + Fecha + "]").attr("selected", true);
              }
              
          });
        
    }
    function ChangedBracketType(element) {
        BracketType = $(element).val();

        var url = '@Url.Action("TraerBracketCode", "PayrollCalcMethods")';
        var data = { Type: BracketType};
         
        $('#BracketCode').html('');
        $('#EffectiveDateBrackets').html('');
          $.get(url, data).done(function (result) {
                //$('#BracketCode').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#BracketCode').append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
                }
            });
        
    }
    function ChangedBracketTypeEdit(element) {
        var posicion = $(element).attr("posicion");
        var p = posicion;
        var type = $(element).val();
        var btype = $(element).attr("btype");
        var bcode = $(element).attr("bcode");

        var url = '@Url.Action("TraerBracketCode", "PayrollCalcMethods")';
        var data = { Type: type};
         
        $('#BracketCode_'+p).html('');
        $('#EffectiveDateBrackets_'+p).html('');
          $.get(url, data).done(function (result) {
                //$('#BracketCode').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#BracketCode_'+p).append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
                }
            });
        
    }
    function BracketsDate(element) {
        var CodeBrackets = $(element).val();

        var url = '@Url.Action("TraerEffectiveDateBrackets", "PayrollCalcMethods")';
        var data = { Code: CodeBrackets, Type: BracketType};
         
        $('#EffectiveDateBrackets').html('');
          $.get(url, data).done(function (result) {
                //$('#DateBaseAmount').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#EffectiveDateBrackets').append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
                }
            });
        
    }
    function BracketsDateEdit(element) {
        var posicion = $(element).attr("posicion");
        var p = posicion;
        var CodeBrackets = $(element).val();
        var bType = $('#BracketTypeCode_' + p).val();

        var url = '@Url.Action("TraerEffectiveDateBrackets", "PayrollCalcMethods")';
        var data = { Code: CodeBrackets, Type: bType};
         
        $('#EffectiveDateBrackets_'+p).html('');
          $.get(url, data).done(function (result) {
                //$('#DateBaseAmount').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#EffectiveDateBrackets_'+p).append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
                }
            });
        
    }

    function CrearLineMethod() {
        $('.botones').attr("disabled", "disabled");

        var methodstep = $('#MethodStepCode').val();
        var baseamountcode = $('#BaseAmountCode').val();
        effectivedatebaseAmount = $('#DateBaseAmount').val();
        var payrollrate = $('#PayrollRateCode').val();
        var paystructure = $('#PayStructureCode').val();
        var typebracket = $('#BracketTypeCode').val();
        var bracketcode = $('#BracketCode').val();
        effectivedatebreaket = $('#EffectiveDateBrackets').val();
        var codeactivacion = $('#ActivationCode').val();
        var comentario = $('#Comment').val();
        var unidadmedida = $('#UnitofMeasureCode').val();

        var url = '@Url.Action("CrearLineMethod", "PayrollCalcMethods")';
        var data =
        {
            MethodStepCode: methodstep, PayrollControlCode: CodigoControl, EffectiveDate: effectivedate,
            BaseAmountCode: baseamountcode,
            PayrollRateCode: payrollrate, BracketCode: bracketcode, BracketTypeCode: BracketType,
            UnitofMeasureCode: unidadmedida, ActivationCode: codeactivacion, PayStructureCode: paystructure,
            Comment: comentario, BracketTypeCodeBraket: typebracket,
            EffectiveDateBreaket: effectivedatebreaket, EffectiveDateBaseAmount: effectivedatebaseAmount
        }

        $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        toastr.success("Registro creado con éxito");
                        ActualizarCalcLines();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                    else
                    {
                        toastr.error("Hubo error al crear el registro");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
         //$('.botones').removeAttr("disabled", "disabled")
    }

    function EditarLineMethod(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var p = posicion;
        var line = $('#LineNumber_'+p).val();
        var methodstep = $('#MethodStepCode_'+p).val();
        var baseamountcode = $('#BaseAmountCode_'+p).val();
        effectivedatebaseAmount = $('#DateBaseAmount_'+p).val();
        var payrollrate = $('#PayrollRateCode_'+p).val();
        var paystructure = $('#PayStructureCode_'+p).val();
        var typebracket = $('#BracketTypeCode_'+p).val();
        var bracketcode = $('#BracketCode_'+p).val();
        effectivedatebreaket = $('#EffectiveDateBrackets_'+p).val();
        var codeactivacion = $('#ActivationCode_'+p).val();
        var comentario = $('#Comment_'+p).val();
        var unidadmedida = $('#UnitofMeasureCode_'+p).val();

        var url = '@Url.Action("EditarLineMethod", "PayrollCalcMethods")';
        var data =
        {
            MethodStepCode: methodstep, PayrollControlCode: CodigoControl, EffectiveDate: effectivedate,
            LineNumber: line, BaseAmountCode: baseamountcode,
            PayrollRateCode: payrollrate, BracketCode: bracketcode, BracketTypeCode: typebracket,
            UnitofMeasureCode: unidadmedida, ActivationCode: codeactivacion, PayStructureCode: paystructure,
            Comment: comentario, BracketTypeCodeBraket: typebracket,
            EffectiveDateBreaket: effectivedatebreaket, EffectiveDateBaseAmount: effectivedatebaseAmount
        }

        $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        toastr.success("Registro editado con éxito");
                        ActualizarCalcLines();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                    else
                    {
                        toastr.error("Hubo error al editar el registro");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
         //$('.botones').removeAttr("disabled", "disabled")
    }

    function EliminarLineMethod(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var p = posicion;
        var line = $('#LineNumber_'+p).val();

        var url = '@Url.Action("EliminarLineMethod", "PayrollCalcMethods")';
        var data =
        {
            PayrollControlCode: CodigoControl, EffectiveDate: effectivedate,
            LineNumber: line
        }

        $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        toastr.success("Registro eliminado con éxito");
                        ActualizarCalcLines();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                    else
                    {
                        toastr.error("Hubo error al eliminar el registro");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
         //$('.botones').removeAttr("disabled", "disabled")
    }

</script>