﻿@model ControlPlanilla.Models.PayrollPostingGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Posting Group</h3>

                <div class="col-sm-12">
                    <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.EarningsAccount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EarningsAccount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BankAccountNo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BankAccountNo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LiabilityAccount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LiabilityAccount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ExpenseAccount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ExpenseAccount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DateFilter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateFilter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DetailExists)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DetailExists)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CurrentEffectiveDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CurrentEffectiveDate)
                            </dd>

                        </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>