﻿@model ControlPlanilla.Models.PayrollPostingGroup

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Posting Group</h3>
                <div class="table-responsive" style="padding:15px">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="col-sm-12">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)

                        <div class="form-group">
                            @Html.LabelFor(model => model.EarningsAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EarningsAccount, new { htmlAttributes = new { @class = "form-control", @pattern = "[A-Za-z0-9_-]{1,10}", @maxlength = "10" } })
                                @Html.ValidationMessageFor(model => model.EarningsAccount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BankAccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BankAccountNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BankAccountNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LiabilityAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LiabilityAccount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LiabilityAccount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ExpenseAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ExpenseAccount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ExpenseAccount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateFilter, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.DateFilter == null)
                                {
                                    @Html.EditorFor(model => model.DateFilter, new { htmlAttributes = new { @class = "form-control" } })
                                }
                                else
                                {
                                    <input type="date" id="DateFilter" name="DateFilter" value="@Model.DateFilter.Value.ToString("yyyy-MM-dd")" class="form-control" />
                                }

                                @Html.ValidationMessageFor(model => model.DateFilter, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DetailExists, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DetailExists, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DetailExists, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CurrentEffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.CurrentEffectiveDate == null)
                                {
                                    @Html.EditorFor(model => model.CurrentEffectiveDate, new { htmlAttributes = new { @class = "form-control" } })
                                }
                                else
                                {
                                    <input type="date" id="CurrentEffectiveDate" name="CurrentEffectiveDate" value="@Model.CurrentEffectiveDate.Value.ToString("yyyy-MM-dd")" class="form-control" />
                                }

                                @Html.ValidationMessageFor(model => model.CurrentEffectiveDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" /> | 
                            @Html.ActionLink("Regresar a la Lista", "Index")
                        </div>
                    </div>
                    }
                </div>