﻿@model IEnumerable<ControlPlanilla.Models.PayrollPostingGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Payroll Posting Groups</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EarningsAccount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BankAccountNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LiabilityAccount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpenseAccount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateFilter)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailExists)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CurrentEffectiveDate)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                                </td>
                                <td>
                                    <a href="" class="btn btn-info btn-xs PostingDetails" data-id="@item.Code">
                                        <span class="glyphicon glyphicon glyphicon-modal-window">
                                            @item.Code
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EarningsAccount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BankAccountNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LiabilityAccount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpenseAccount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateFilter)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetailExists)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrentEffectiveDate)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

<!--Modal para la seccion del detalle del posting group-->
<div class="modal fade" id="abrirModalPostingDetails" name="abrirModalPostingDetails" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelPostingDetails">PayControl</label>
            </div>
            <div class="modal-body col-12">
                <div id="ListPostingDetails" name="ListComments" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="myBtn" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var CodigoPosteo = "";
    var RecargarPagina = false;
    //Everytime we press delete in the table row
    $('.PostingDetails').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        CodigoPosteo = $(this).data('id');

        $('#myLabelPostingDetails').html("Posting Grouo Details: " + CodigoPosteo);

        TraerPostingDetails()
    });

     function TraerPostingDetails()
     {
          $.blockUI();
        var url = '@Url.Action("PostingDetails", "PayrollPostingGroups")';
        var data = { Code: CodigoPosteo };

         $.post(url, data).done(function (result) {

            $('#ListPostingDetails').html('');
            $('#ListPostingDetails').html(result);
            $('#abrirModalPostingDetails').modal('show');

            $.unblockUI();
         });
    }
    $("#myBtn").click(function(){
        $("#abrirModalPostingDetails").modal("hide");
    });
    $("#abrirModalPostingDetails").on('hidden.bs.modal', function () {
        if (RecargarPagina) {
            RecargarPagina = false;
            location.reload();
        }
        
    });

    function ActualizarPostingDetails()
    {
        var url = '@Url.Action("PostingDetails", "PayrollPostingGroups")';
        var data = { Code: CodigoPosteo };

         $.post(url, data).done(function (result) {
             RecargarPagina = true;
            $('#ListPostingDetails').html('');
            $('#ListPostingDetails').html(result);
         });
    }

    function CrearPostingDetail() {
        $('.botones').attr("disabled", "disabled");

        var EfDate = $('#EffectiveDate').val();
        var earning = $('#EarningsAccount').val();
        var bank = $('#BankAccountNo').val();
        var liability = $('#LiabilityAccount').val();
        var expense = $('#ExpenseAccount').val();

        var url = '@Url.Action("CrearPostingDetail", "PayrollPostingGroups")';

        var data =
        {
            Code: CodigoPosteo, EffectiveDate: EfDate,
            EarningsAccount: earning, BankAccountNo: bank,
            LiabilityAccount: liability, ExpenseAccount: expense
        };

            $.post(url, data).done(function (result) {
                if (result == "True") {
                    toastr.success("Registro creado");
                    ActualizarPostingDetails();
                    $('.botones').removeAttr("disabled", "disabled");
                }
                else if (result == "False") {
                    toastr.error("Ocurrió un error al crear el registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }

    function EditarPostingDetail(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var EfDate = $('#EffectiveDate_'+i).val();
        var earning = $('#EarningsAccount_'+i).val();
        var bank = $('#BankAccountN_'+i).val();
        var liability = $('#LiabilityAccount_'+i).val();
        var expense = $('#ExpenseAccount_'+i).val();

        var url = '@Url.Action("EditarPostingDetail", "PayrollPostingGroups")';

        var data =
        {
            Code: CodigoPosteo, EffectiveDate: EfDate,
            EarningsAccount: earning, BankAccountNo: bank,
            LiabilityAccount: liability, ExpenseAccount: expense
        };

            $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        toastr.success("Registro actualizado");
                        ActualizarPostingDetails();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                    else
                    {
                        toastr.error("Ocurrió un error al actualizar el registro");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }

    function EliminarPostingDetail(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var EfDate = $('#EffectiveDate_'+i).val();

        var url = '@Url.Action("EliminarPostingDetail", "PayrollPostingGroups")';

        var data =
        {
            Code: CodigoPosteo, EffectiveDate: EfDate
        };

            $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        toastr.success("Registro eliminado");
                        ActualizarPostingDetails();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                    else
                    {
                        toastr.error("Ocurrió un error al eliminar el registro")
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }



</script>