﻿@model PagedList.PagedList<ControlPlanilla.Models.PayrollPostingGroupDetail>
@using PagedList.Mvc;
@{
    var i = 0;
}

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EffectiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EarningsAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BankAccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LiabilityAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ExpenseAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>
                    <input type="date" class="form-control" id="EffectiveDate_@i" posicion=@i value="@item.EffectiveDate.ToString("yyyy-MM-dd")" />
                    @*@Html.EditorFor(modelItem => item.EffectiveDate.ToString("yyyy-MM-dd"), new { htmlAttributes = new { @class = "form-control", @id = "EffectiveDate_" + i, @type = "date", @posicion = i } })*@
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.EarningsAccount, new { htmlAttributes = new { @class = "form-control", @id = "EarningsAccount_" + i, @type = "text", @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.BankAccountNo, new { htmlAttributes = new { @class = "form-control", @id = "BankAccountNo_" + i, @type = "text", @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.LiabilityAccount, new { htmlAttributes = new { @class = "form-control", @id = "LiabilityAccount_" + i, @type = "text", @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.ExpenseAccount, new { htmlAttributes = new { @class = "form-control", @id = "ExpenseAccount_" + i, @type = "text", @posicion = i } })
                </td>
                <td style="width:100px;">
                    <button class="btn btn-sm botones" onclick="EditarPostingDetail(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarPostingDetail(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
            </tr>
        }
        @if (Model.Count == 0)
        {
            <tr>
                <td>
                    <input type="date" class="form-control" id="EffectiveDate" />
                </td>
                <td>
                    <input type="text" class="form-control" id="EarningsAccount" maxlength="20" />
                </td>
                <td>
                    <input type="text" class="form-control" id="BankAccountNo" maxlength="20" />
                </td>
                <td>
                    <input type="text" class="form-control" id="LiabilityAccount" maxlength="20" />
                    @*@Html.EditorFor(modelItem => item.LiabilityAccount, new { htmlAttributes = new { @class = "form-control", @id = "LiabilityAccount_" + i, @type = "text", @posicion = i } })*@
                </td>
                <td>
                    <input type="text" class="form-control" id="ExpenseAccount" maxlength="20" />
                    @*@Html.EditorFor(modelItem => item.ExpenseAccount, new { htmlAttributes = new { @class = "form-control", @id = "ExpenseAccount_" + i, @type = "text", @posicion = i } })*@
                </td>
                <td style="width:100px;">
                    <button class="btn btn-sm botones" onclick="CrearPostingDetail(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                </td>
            </tr>
        }


    </tbody>
</table>

<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("PostingDetails", "PayrollPostingGroups", new { Code = ViewBag.Code, page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {

        HttpMethod = "POST",
        UpdateTargetId = "ListPostingDetails",
        OnSuccess = "onAjaxSuccess",
        OnFailure = "onAjaxFailure"
    }))