﻿<!--inicio-->
<div class="col-md-10 col-xl-12">
    <form id="contact-form" name="contact-form" action="" method="POST">
        <!--inicio collapse-->
        <div id="faq" role="tablist" aria-multiselectable="true">

            <div class="card">
                <!--titulo para bloque-->
                <div class="card-header" role="tab" id="questionOne">
                    Relacionado al Empleado
                    <a data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="true" aria-controls="answerOne">
                        <i class="bi bi-chevron-down float-right"></i>
                    </a>
                </div>
                <div id="answerOne" class="collapse show" role="tabcard" aria-labelledby="questionOne">
                    <!--inicio card-body-->
                    <div class="card-body">
                        <!--inicio row-->
                        <div class="row">
                            <!--inicio columna-->
                            <div class="col-md-6 ">
                                <div class="md-form">
                                    <label>Empleado</label>
                                    <select class="form-control" id="cboEmpleado" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div><!--fin columna-->
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>Tipo de Empleado</label>
                                    <select class="form-control" id="cboTipoEmpleado" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div><!--fin column-->
                        </div><!--fin row-->
                    </div><!--fin card-body-->
                </div><!--fin answerOne-->
            </div><!--fin card-->
            <div class="card">
                <div class="card-header" role="tab" id="questionTwo">
                    Por Fechas
                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerTwo" aria-expanded="false" aria-controls="answerTwo">
                        <i class="bi bi-chevron-down float-right"></i>
                    </a>
                </div>
                <div id="answerTwo" class="collapse" role="tabcard" aria-labelledby="questionTwo">
                    <div class="card-body">
                        <!--inicio row-->
                        <div class="row">
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>Desde</label>
                                    <input class="form-control" type="date" id="FechDesde">
                                </div>
                            </div><!--fin columna-->
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>Hasta</label>
                                    <input class="form-control" type="date" id="FechHasta">
                                </div>
                            </div><!--fin column-->
                        </div><!--fin row-->
                    </div><!--fin card-body-->
                </div><!--fin answerTwo-->
            </div><!--fin card-->
            <div class="card">
                <div class="card-header" role="tab" id="questionThree">
                    Datos de la planilla
                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerThree" aria-expanded="true" aria-controls="answerThree">
                        <i class="bi bi-chevron-down float-right"></i>
                    </a>
                </div>
                <div id="answerThree" class="collapse in" role="tabcard" aria-labelledby="questionThree">
                    <div class="card-body">
                        <!--inicio row-->
                        <div class="row">
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>Diario de Planilla</label>
                                    <select class="form-control" id="cboDiario" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div><!--fin columna-->
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>Ciclo de Pago</label>
                                    <select class="form-control" id="cboCicloPago" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div><!--fin column-->
                        </div><!--fin row-->
                        <!--inicio row-->
                        <div class="row">
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>Lote del Diario</label>
                                    <select class="form-control" id="cboLoteDiario" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div><!--fin columna-->
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>Término</label>
                                    <select class="form-control" id="cboTermino" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div><!--fin column-->
                        </div><!--fin row-->
                        <!--inicio row-->
                        <div class="row">
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>Empresa</label>
                                    <select class="form-control" id="cboEmpresa" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div><!--fin columna-->
                            <!--inicio columna-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label>No. de Período</label>
                                    <select class="form-control" id="cboPeriodo" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div><!--fin column-->
                        </div><!--fin row-->
                    </div><!--fin card-body-->
                </div><!--fin answerThree-->
            </div><!--fin card-->
            <div class="card">
                <div class="card-header" role="tab" id="questionFour">
                    REGISTROS DE MARCACION
                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerFour" aria-expanded="true" aria-controls="answerFour">
                        <i class="bi bi-chevron-down float-right"></i>
                    </a>
                </div>
                <div id="answerFour" class="collapse in" role="tabcard" aria-labelledby="questionFour">
                    <div class="card-body">
                        <div class="col-sm-12 overflow-auto">
                            <table class="table table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Status</th>
                                        <th scope="col">Empleado</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Jornada</th>
                                        <th scope="col">Entrada Jornada</th>
                                        <th scope="col">Marcación</th>
                                        <th scope="col">Diferencia</th>
                                        <th scope="col">Salida Jornada</th>
                                        <th scope="col">Marcación</th>
                                        <th scope="col">Diferencia</th>
                                        <th scope="col">Hrs Normales</th>
                                        <th scope="col">Hrs Extras Diurnas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div><!--fin card-body-->
                </div><!--fin answerFour-->
            </div><!--fin card-->
        </div><!--fin faq-->
        <br />
        <p><button type="button" class="btn btn-secondary float-right">Aceptar</button></p>
        <br />
    </form>
</div><!--fin col-md-10 col-xl-12-->