﻿@model ControlPlanilla.Models.DirectDepositDateFormat

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

 <br /> 
                <h3>Crear Tipo de Formato de Fecha</h3>  

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

<div class="col-sm-12">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" /> |
        @Html.ActionLink("Regresar a la Lista", "Index")
    </div>
</div>
                            }
