﻿@model ControlPlanilla.Models.DirectDepositDateFormat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br /> 
                <h3>Detalle tipo de formato de fecha</h3> 
                <div class="col-sm-12">
                    <div>

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.DESCRIPCION)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_ACTUA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_ACTUA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_ACTUA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_ACTUA)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_DATE_FORMAT }) |
                        @Html.ActionLink("Regresar", "Index")
                    </p>
                </div> 