﻿@model ControlPlanilla.Models.HORAS_EXTRAS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Horas Extras</h3>
                <div class="table-responsive" style="padding:15px">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-sm-12">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID_HORASEXTRA)

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NOMBRE_PRESTACION, htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.NOMBRE_PRESTACION, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NOMBRE_PRESTACION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        </div>
                            }
                        </div>
        <br />
