﻿@model ControlPlanilla.Models.TIPO_MANO_OBRA_EMPRESA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Tipo de Mano de Obra</h3>

                <div class="class="col-sm-12"">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DESCRIPCION)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DESCRIPCION)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_ACTU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_ACTU)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_ACTU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_ACTU)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EMPRESAS.DS_EMPRESA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EMPRESAS.DS_EMPRESA)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_MANO_OBRA }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>
<br />
