﻿@model IEnumerable<ControlPlanilla.Models.TIPO_MANO_OBRA_EMPRESA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Tipo Mano de Obra</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">

                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.DESCRIPCION)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EMPRESAS.DS_EMPRESA)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_MANO_OBRA }) |
                                    @Html.ActionLink("Detalles", "Details", new { id = item.ID_MANO_OBRA }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_MANO_OBRA })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DESCRIPCION)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EMPRESAS.DS_EMPRESA)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
<br />