﻿@*@model IEnumerable<ControlPlanilla.Models.ListaDocumentosView>*@

@{
    ViewBag.Title = "Documentos Adjuntos";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Payroll Journal</h3>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label> Payroll Journal Template</label>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="form-group">
            <select id="id_template" name="descripcion" class="form-control col-md-12">
                <option value="">--Seleccione una opción--</option>
                <option value="CONSTANCIA">Diario de Constancia</option>
                <option value="LIQUIDA">Planilla Liquidación</option>
                <option value="PLANI SPS">Planilla DEMO San Pedro Sula</option>
                <option value="VACASION">Planilla vacación</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label>Payroll Control Code Filter </label>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="form-group">
            <select id="code_filter" name="code_filter" class="form-control col-md-12">
                <option value="">--Seleccione una opción--</option>
                <option value="SUELDOQ">SUELDOQ</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label>No de Empleado</label>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="form-group">
            <input type="text" id="No_empleado" class="form-control" placeholder="Opcional" />
        </div>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-md-2">
        <button id="btn_calculate" class="btn btn-primary" type="button">Calcular</button>
    </div>
</div>
<br />
<div class="col-sm-12 overflow-auto" style="width:1200px;" id="ListaTable" name="ListaTable">

</div>
<div class="col-sm-12 overflow-auto" style="width:1200px;" id="ListaTable1" name="ListaTable1">

    @Html.Action("GridViewPartial1")

    <br />
</div>

<!--Botones-->
<div class="btn-group btn-group" id="grpBotones" style="text-align:center">
    <button class="btn btn-primary" id="btnCrearArchivo" name="btnCrearArchivo" onclick="Crear()">Adicionar</button>
    <button class="btn btn-primary" id="btnModificarArchivo" name="btnModificarArchivo" onclick="Modificar()">Modificar</button>
    <button class="btn btn-primary" id="btnEliminarArchivo" name="btnEliminarArchivo" onclick="Eliminar()">Eliminar</button>
    <button class="btn btn-primary" onclick="Nuevo()">Nuevo</button>
</div>

<br />


<style>
    /* Efecto de mano en el puntero en la tabla tListaDocumentos */
    td {
        border: 1px #DDD solid;
        padding: 5px;
        cursor: pointer;
    }

    /* Sobreado al seleccionar una fila de la tabla tListaDocumentos */
    .selected {
        background-color: lightgray;
        color: black;
    }

    /*Modificar la vista previa de PDFs*/
    .pdfobject-container {
        height: 45rem;
        border: 1rem solid rgba(0,0,0,.1);
    }
</style>

<script>
    var TmpPath = ""; //Almacena la ruta temporal para poder hacer la vista previa de archivos (imagen o pdf)
    var IdAdjunto = 0; // Para la modificacion o eliminacion de archivos
    var CdOpcionSistema;
    var CdForaneo;
    var DsForaneo;
    window.onload = function ()
    {
        //funciones a ejecutar
        $('#grpBotones').css('display', 'none');
        $.unblockUI();
        //CargarListaDocumentos();
    };
     // Escuchamos el evento 'change' del input donde cargamos el archivo
    $(document).on('change', 'input[type=file]', function (e) {
        // Obtenemos la ruta temporal mediante el evento
        TmpPath = URL.createObjectURL(e.target.files[0]);
    });
    $(document).ready(function () {
        $("#btn_calculate").click(function () {
            No = $('#No_empleado').val();
            Codefilter = $('#code_filter').val();
            IdTemplate = $('#id_template').val();

            Calculate220(No, Codefilter, IdTemplate);

        })

        $("#No_empleado").change(function () {
            //CargarJournal();
        });


     });

    function Calculate220(No, codefilter,idtemplate)
    {

        url = '@Url.Action("ListaTable", "PayrollJournal")';
        var data = { No: No, codefilter: codefilter, idtemplate: idtemplate };

        $.post(url, data).done(function (result) {
            $('#ListaTable').html('');
            $('#ListaTable').html(result);
            $.unblockUI();
        });

    }
    function CargarListaDocumentos() {
        $.blockUI();
        cadenaBinaria = "";

        var opcionConsulta = 2

        var url = '@Url.Action("ListaDocumentos", "PayrollJournal")';
        var data = { OpcionConsulta : opcionConsulta };

         $.post(url, data).done(function (result) {
             $('#ListaTable').html('');
             $('#ListaTable').html(result);
                $.unblockUI();
         });
    }



    function CargarJournal() {
        $.blockUI();
        cadenaBinaria = "";
        Employee_No = $('#No_empleado').val();

        var url = '@Url.Action("GridViewPartial", "PayrollJournal")';
        var data = { Employee_No: Employee_No };

        $.post(url, data).done(function (result) {
            $.unblockUI();
             $('#ListaTable1').html('');
             $('#ListaTable1').html(result);

         });
    }
</script>
