﻿    <div class="table-responsive" style="padding:15px">

        <table class="table table-bordered" id="tListaTable">

            <thead>
                <tr>
                    <th>Employee No.</th>
                    <th>Payroll Control</th>
                    <th>Method Step Code</th>
                    <th>Payroll Amount</th>
                    <th>Taxable Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>@ViewBag.employee</td><td>@ViewBag.prc</td><td>@ViewBag.stpe1</td><td>@ViewBag.pra1<td>@ViewBag.ta1</td></tr>
                <tr><td>@ViewBag.employee</td><td>@ViewBag.prc</td><td>@ViewBag.stpe2</td><td>@ViewBag.pra2<td>@ViewBag.ta2</td></tr>
                <tr><td>@ViewBag.employee</td><td>@ViewBag.prc</td><td>@ViewBag.stpe3</td><td>@ViewBag.pra3<td>@ViewBag.ta3</td></tr>
                <tr><td>@ViewBag.employee</td><td>@ViewBag.prc</td><td>@ViewBag.stpe4</td><td>@ViewBag.pra4<td>@ViewBag.ta4</td></tr>
            </tbody>


        </table>

    </div>

        