﻿@model ControlPlanilla.Models.PC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Código Postal</h3>
                <div class="col-sm-12">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Codigo_Postal)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Codigo_Postal)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CIUDADES.NOMBRE_CIUDAD)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CIUDADES.NOMBRE_CIUDAD)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_ACTU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_ACTU)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_ACTU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_ACTU)
                        </dd>
                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Codigo }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>