﻿@model ControlPlanilla.Models.PC

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Código Postal</h3>

                <div class="table-responsive" style="padding:15px">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-sm-12">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id_Codigo)

                            <div class="form-group">
                                <label class="control-label col-md-2">PAIS</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="cmbPaises" id="cmbPaises" required>
                                        @foreach (var item in ViewBag.cmbPaises)
                                        {
                                            <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Departamento</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="cmbDepartamentos" id="cmbDepartamentos" required>
                                        @foreach (var item in ViewBag.cmbDepartamentos)
                                        {
                                            <option value="@item.ID_DEPTO">@item.NOMBRE_DEPTO</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ID_CIUDAD, "ID_CIUDAD", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ID_CIUDAD", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ID_CIUDAD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Codigo_Postal, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Codigo_Postal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Codigo_Postal, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        </div>
                    }
                </div>
        <br />

<script>
     //Selecionar pais de la empresa por defecto
    document.getElementById("cmbPaises").value = '@ViewBag.CD_PAIS';
    $("#cmbPaises").change(function () {
        cargarDepartamentos($('#cmbPaises').val());
    });
    function cargarDepartamentos(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerDepartamentos", "CIUDADES")';
        var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#cmbDepartamentos').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#cmbDepartamentos').append('<option value="' + result[i].ID_DEPTO + '">' + result[i].NOMBRE_DEPTO + '</option>')
                }
                document.getElementById("cmbDepartamentos").value = '@ViewBag.ID_DEPTO';
            });
    }
    document.getElementById("cmbDepartamentos").value = '@ViewBag.ID_DEPTO';
    $("#cmbDepartamentos").change(function () {
        cargarMunicipios($('#cmbDepartamentos').val());

    });
    function cargarMunicipios(cdDepartamento) {
            //debugger;
            var url = '@Url.Action("ObtenerMunicipios", "CIUDADES")';
        var data = { ID_DEPTO: cdDepartamento };
            $.get(url, data).done(function (result) {
                $('#ID_CIUDAD').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#ID_CIUDAD').append('<option value="' + result[i].ID_CIUDAD + '">' + result[i].NOMBRE_CIUDAD + '</option>')
                }
            });
    }
</script>
