﻿<script>
     $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
     });
    //Para el cambio en el filtro
    function cambiarPerfil(s, e) {
        var perfil = s.GetValue()
        console.log(perfil);
        if (perfil == "" || perfil == null) {
            s.SetValue("");
            $("#perfil").val("");
        } else {
            $("#perfil").val(perfil);
        }
    }
    function OnGridFocusedRowChanged(s, e) {
        if ($("#perfil").val() == "" || $("#perfil").val() == null){
            alert("Debe seleccionar una opcion de Perfil");
        } else {
            var key = s.GetRowKey(s.GetFocusedRowIndex());
            mySplitResult = key.split('|');

            grdDisponibles.GetValuesOnCustomCallback({ CD_CODI_SIST: mySplitResult[0], CD_CODI_MENU: mySplitResult[1], CD_CODI_OPCI_SIST: mySplitResult[2], CD_CODIGO_PERFIL: $("#perfil").val() }, CallbackHandler);
            grdDisponibles.Refresh();
            toastr.success("Exitoso"); }
    }
    function Ondelete(s, e) {
        var confirmar = confirm("¿Desea retirar esta forma de este perfil?");
        if (confirmar) {
            var key = s.GetRowKey(s.GetFocusedRowIndex());
            mySplitResult = key.split('|');
            GridView.GetValuesOnCustomCallback({ CD_CODI_SIST: mySplitResult[0], CD_CODI_MENU: mySplitResult[1], CD_CODI_OPCI_SIST: mySplitResult[2], CD_CODIGO_PERFIL: mySplitResult[3] }, CallbackHandler);
            GridView.Refresh();
            toastr.success("Exitoso");
        }
    }


    function CallbackHandler(values) {

    }
</script>

<br />
                      <h2>Mantenimiento de perfiles-sistema</h2>
                      <br />
                      
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <input type="hidden" id="perfil" />
                                  <h4>Menús vigentes</h4>
                                  <br />

                                  @Html.Action("GridViewPartial")
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <h4>Opciones disponibles</h4>
                                  <br />
                                  @Html.Action("grdDisponiblesPartial")

                              </div>
                           </div>
                       </div>
                              <br />
