﻿/**
---------------------------------------------------------------------------------------
--------------            CLASES DE CSS PARA EL MENU WEB          ------------------
---------------------------------------------------------------------------------------
**/
.stm-menu {
    background-color: #dee1e3;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-top: 2rem;
}
.stm-menu li {
    border-left: 1px solid #0058a7;
    display: inline-block;
    list-style: none;
    width: 25%;
}
.stm-menu li a,
.stm-menu li a:hover,
.stm-menu li a:focus {
    color: #0058a7;
    font-size: 1.25em;
    font-weight: 600;
    text-decoration: none;
}
/**
---------------------------------------------------------------------------------------
------------------------         MEDIA QUERYS WEB        ---------------------------
---------------------------------------------------------------------------------------
**/
@media screen and (min-width:993px) and (max-width:1400px) {
}
@media screen and (min-width:768px) and (max-width:992px) {
}
@media screen and (min-width:321px) and (max-width:767px) {
    .stm-menu li {
        border-left: none;
        width: 100%;
    }
}
@media screen and (max-width:320px) {
    .stm-menu li {
        border-left: none;
        width: 100%;
    }
}