﻿@model PagedList.IPagedList<ControlPlanilla.Models.PayrollControlComment>
@using PagedList.Mvc
@{
    var i = 0;
}
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th hidden>
                @Html.HiddenFor(model => model.FirstOrDefault().ID_COMMENT)
            </th>
            <th>
                Fecha
            </th>
            <th>
                @Html.LabelFor(model => model.FirstOrDefault().COMMENT)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td hidden>
                    @Html.EditorFor(modelitem => item.ID_COMMENT, new { htmlAttributes = new { @class = "form-control", @id = "ID_COMMENT_" + i, @posicion = i, @disabled="disabled" } })
                </td>
                <td>
                    @if (item.FECH_ACTUA == null)
                    {
                        @Html.DisplayFor(modelItem => item.FECH_CREA, new { htmlAttributes = new { @class = "form-control", @id = "FECHA_" + i, @posicion = i } })
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FECH_ACTUA, new { htmlAttributes = new { @class = "form-control", @id = "FECHA_" + i, @posicion = i } })
                    }
                </td>
                <td>
                    @Html.EditorFor(modelitem => item.COMMENT, new { htmlAttributes = new { @class = "form-control", @id = "COMMENT_" + i, @posicion = i, @maxlength="100" } })
                </td>
                <td>
                    <button class="btn btn-sm botones" onclick="EditarComment(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarComment(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td hidden>
            </td>
            <td>
            </td>
            <td>
                <input class="form-control" id="COMMENT" maxlength="100" />
            </td>
            <td>
                <button class="btn btn-sm botones" onclick="CrearComment()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("CommentsPayControl", "PayrollControls",
    new { PayControl = ViewBag.PayControl, page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {

            HttpMethod = "POST",
            UpdateTargetId = "ListComments",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))