﻿@model ControlPlanilla.Models.PayrollControl

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Crear Control de Pago</h3>

                <div class="col-sm-12">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos Generales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Calculo-tab" data-toggle="tab" href="#Calculo" role="tab" aria-controls="Calculo" aria-selected="false">Cálculo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Distrib-tab" data-toggle="tab" href="#Distrib" role="tab" aria-controls="Distrib" aria-selected="false">Distribución</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
                                <br />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PayrollPostingGroup, "PayrollPostingGroup", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("PayrollPostingGroup", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PayrollPostingGroup, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Type, "Type", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("Type", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PrintOnCheck, "PrintOnCheck", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("PrintOnCheck", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PrintOnCheck, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NormalSign, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.NormalSign, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.NormalSign, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CategoryCode, "CategoryCode", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("CategoryCode", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PostAbsence, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.PostAbsence, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.PostAbsence, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ReportingAuthorityType, "ReportingAuthorityType", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("ReportingAuthorityType", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ReportingAuthorityType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Absencecode, "Absencecode", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("Absencecode", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Absencecode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ReportingAuthorityCode, "ReportingAuthorityCode", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("ReportingAuthorityCode", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ReportingAuthorityCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EditStatus, "EditStatus", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("EditStatus", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.EditStatus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TaxTypeCode, "TaxTypeCode", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("TaxTypeCode", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.TaxTypeCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Individual, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Individual, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.Individual, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GLPostType, "GLPostType", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("GLPostType", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.GLPostType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LoanControl, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.LoanControl, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.LoanControl, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Calculo" role="tabpanel" aria-labelledby="Calculo-tab">
                                <br />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Calculate, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Calculate, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.Calculate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ArrearsCode, "ArrearsCode", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("ArrearsCode", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ArrearsCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AutoInsert, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.AutoInsert, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.AutoInsert, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DefinedInMasterOrder, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.DefinedInMasterOrder, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.DefinedInMasterOrder, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MonthlySchedule, "MonthlySchedule", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("MonthlySchedule", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.MonthlySchedule, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CalculationOrders, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.CalculationOrders, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CalculationOrders, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NetPayTest, "NetPayTest", htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.DropDownList("NetPayTest", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NetPayTest, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="Distrib" role="tabpanel" aria-labelledby="Distrib-tab">
                                <br />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployerNoFilter, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.EmployerNoFilter, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EmployerNoFilter, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DateFilter, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.DateFilter, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.DateFilter, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SourceBaseAmountCode, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.SourceBaseAmountCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SourceBaseAmountCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GlobalDimension1Filter, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.GlobalDimension1Filter, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.GlobalDimension1Filter, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DistrByDimension, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.DistrByDimension, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.DistrByDimension, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GlobalDimension2Filter, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.GlobalDimension2Filter, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.GlobalDimension2Filter, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DistrByEarnedPayCycle, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.DistrByEarnedPayCycle, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.DistrByEarnedPayCycle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.WorkTypeFilter, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.WorkTypeFilter, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.WorkTypeFilter, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CreateCashReceiptJournal, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.CreateCashReceiptJournal, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.CreateCashReceiptJournal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TaxableAmount, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.TaxableAmount, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TaxableAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PayrollControlPagoHoras, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.PayrollControlPagoHoras, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PayrollControlPagoHoras, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CalcMethods, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.CalcMethods, new { htmlAttributes = new { @class = "form-control", @type = "checkbox" } })
                                            @Html.ValidationMessageFor(model => model.CalcMethods, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CodTarifa, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.CodTarifa, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CodTarifa, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SourcePayControl, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.SourcePayControl, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SourcePayControl, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PorcentajeTarifa, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.PorcentajeTarifa, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PorcentajeTarifa, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="padding:15px">
                                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        </div>
                                    }
                                </div>
                                <br />

                                <script>
                                    var coll = document.getElementsByClassName("collapsible");
                                    var i;

                                    for (i = 0; i < coll.length; i++) {
                                        coll[i].addEventListener("click", function () {
                                            this.classList.toggle("active");
                                            var content = this.nextElementSibling;
                                            if (content.style.display === "block") {
                                                content.style.display = "none";
                                            } else {
                                                content.style.display = "block";
                                            }
                                        });
                                    }
                                </script>
                                <style>
                                    .collapsible {
                                        background-color: #0059a3;
                                        color: white;
                                        cursor: pointer;
                                        padding: 18px;
                                        width: 100%;
                                        border: none;
                                        text-align: left;
                                        outline: none;
                                        font-size: 15px;
                                        margin-bottom: 10px;
                                    }

                                        .collapsible:hover {
                                            background-color: ActiveCaption;
                                        }

                                    .content {
                                        padding: 0 18px;
                                        display: none;
                                        overflow: hidden;
                                        /*background-color: #f1f1f1;*/
                                    }
                                </style>
