﻿@model ControlPlanilla.Models.PayrollControl

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Eliminar Control de Pago</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                        <h3>¿Está seguro de eliminar este registro?</h3>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.County)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.County)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastDateModified)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastDateModified)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Calculate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Calculate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NormalSign)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NormalSign)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DateFilter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateFilter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GlobalDimension1Filter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.GlobalDimension1Filter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GlobalDimension2Filter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.GlobalDimension2Filter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.WorkTypeFilter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.WorkTypeFilter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Amount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Amount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TaxableAmount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TaxableAmount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CalcMethods)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CalcMethods)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SourcePayControl)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SourcePayControl)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DefinedInMasterOrder)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DefinedInMasterOrder)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CalculationOrders)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CalculationOrders)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AutoInsert)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AutoInsert)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EmployerNoFilter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EmployerNoFilter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SourceBaseAmountCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SourceBaseAmountCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DistrByDimension)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DistrByDimension)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DistrByEarnedPayCycle)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DistrByEarnedPayCycle)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Comment)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Comment)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Individual)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Individual)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LoanControl)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LoanControl)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateCashReceiptJournal)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateCashReceiptJournal)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlPagoHoras)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlPagoHoras)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CodTarifa)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CodTarifa)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PorcentajeTarifa)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PorcentajeTarifa)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PostAbsence)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PostAbsence)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayControlCategory)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayControlCategory.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayRateEditStatus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayRateEditStatus.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlAbsenceCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlAbsenceCode.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlArrearsCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlArrearsCode.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlMonthlySchedule)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlMonthlySchedule.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlNetPayTest)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlNetPayTest.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlPrintOnCheck)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlPrintOnCheck.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlType.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollPostingGroup1.EarningsAccount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollPostingGroup1.EarningsAccount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollPostType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollPostType.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollTypeReportingAuthority)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollTypeReportingAuthority.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlNetPayTest)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlNetPayTest.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GLB_TIPOS_DE_IMPUESTOS.CD_PAIS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.GLB_TIPOS_DE_IMPUESTOS.CD_PAIS)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollReportingAuthority.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollReportingAuthority.Name)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        }
                    </div>
        <br />