﻿@model IEnumerable<ControlPlanilla.Models.PayrollControl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Control de Pagos</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Crear registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.County)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastDateModified)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Calculate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NormalSign)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateFilter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GlobalDimension1Filter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GlobalDimension2Filter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkTypeFilter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TaxableAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CalcMethods)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SourcePayControl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DefinedInMasterOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CalculationOrders)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AutoInsert)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployerNoFilter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SourceBaseAmountCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DistrByDimension)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DistrByEarnedPayCycle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Comment)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Individual)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LoanControl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateCashReceiptJournal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlPagoHoras)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CodTarifa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PorcentajeTarifa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostAbsence)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayControlCategory)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayRateEditStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlAbsenceCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlArrearsCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlMonthlySchedule)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlNetPayTest)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlPrintOnCheck)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollPostingGroup1.EarningsAccount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollPostType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollTypeReportingAuthority)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlNetPayTest)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GLB_TIPOS_DE_IMPUESTOS.CD_PAIS)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollReportingAuthority.Name)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.Code }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                            @if (ViewBag.ArchivoAdjunto)
                            {
                                <p>|</p>
                                @Html.ActionLink("Archivos", "SubirArchivos", "Auditoria", new { opcion = ViewBag.OpcionSistema, DsForaneo = item.Name, CdForaneo = item.Code }, htmlAttributes: new { @class = "" })
                            }

                        </td>
                        <td>
                            <a href="" class="btn btn-info btn-xs comments" data-toggle="modal" data-target="#myModal" data-id="@item.Code">
                                <span class="glyphicon glyphicon glyphicon-modal-window">
                                    @item.Code
                                </span>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastDateModified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calculate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NormalSign)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFilter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GlobalDimension1Filter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GlobalDimension2Filter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkTypeFilter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxableAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CalcMethods)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourcePayControl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DefinedInMasterOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CalculationOrders)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AutoInsert)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployerNoFilter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourceBaseAmountCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistrByDimension)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistrByEarnedPayCycle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Individual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoanControl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateCashReceiptJournal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlPagoHoras)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodTarifa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PorcentajeTarifa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostAbsence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayControlCategory.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayRateEditStatus.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlAbsenceCode.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlArrearsCode.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlMonthlySchedule.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlNetPayTest.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlPrintOnCheck.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlType.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollPostingGroup1.EarningsAccount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollPostType.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollTypeReportingAuthority.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlNetPayTest.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GLB_TIPOS_DE_IMPUESTOS.CD_PAIS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollReportingAuthority.Name)
                        </td>
                    </tr>
                        }

                    </table>
                </div>
        <br /> 

<!--Modal para la seccion del arhivo de abono-->
<div class="modal fade" id="abrirModalComments" name="abrirModalComments" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelComments">PayControl</label>
            </div>
            <div class="modal-body col-12">
                <div id="ListComments" name="ListComments" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var CodigoControl = "";
    //Everytime we press delete in the table row
    $('.comments').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        var id = $(this).data('id');

        $('#myLabelComments').html("PayControl: " + id);
        CodigoControl = id;
        TraerComments()
    });

     function TraerComments()
     {
          $.blockUI();
        var url = '@Url.Action("CommentsPayControl", "PayrollControls")';
        var data = { PayControl: CodigoControl };

         $.post(url, data).done(function (result) {

            $('#ListComments').html('');
            $('#ListComments').html(result);
            $('#abrirModalComments').modal('show');

            $.unblockUI();
         });
     }

    //CRUD de DirectDepositSections
    function ActualizarComments() {
        $('.botones').attr("disabled", "disabled");
        var url = '@Url.Action("CommentsPayControl", "PayrollControls")';
        var data = { PayControl: CodigoControl };

        $.post(url, data).done(function (result) {
            $('#ListComments').html('');
            $('#ListComments').html(result);
            $('.botones').removeAttr("disabled", "disabled");
        });

    }
    function CrearComment() {
        $('.botones').attr("disabled", "disabled");

        var ds = $('#COMMENT').val();

        var url = '@Url.Action("CrearComment", "PayrollControls")';

        var data =
        {
            CodePayControl: CodigoControl, COMMENT: ds
        };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarComments();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }

    function EditarComment(element) {

        var posicion = $(element).attr("posicion");
        var i = posicion;
        var idC = $('#ID_COMMENT_' + i).val();
        var ds = $('#COMMENT_'+i).val();
        $('.botones').attr("disabled", "disabled");

        var url = '@Url.Action("EditarComment", "PayrollControls")';

        var data =
        {
            ID_COMMENT: idC, CodePayControl:CodigoControl, COMMENT: ds
        };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarComments();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                });
        $('.botones').removeAttr("disabled", "disabled");

    }


    function EliminarComment(element) {
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var idC = $('#ID_COMMENT_' + i).val();
        $('.botones').attr("disabled", "disabled");
        var url = '@Url.Action("EliminarComment", "PayrollControls")';

        var data =
        {
            Id: idC
        };

        $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarComments();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                });
        $('.botones').removeAttr("disabled", "disabled");

    }

</script>