﻿@model ControlPlanilla.Models.PayrollLedgerEntry

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Editar PayrollLedgerEntry</h3>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

    <h3>¿Está seguro de eliminar este registro?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegularPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxableAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxableAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountonPayCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountonPayCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollPostingGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollPostingGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlobalDimension1Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlobalDimension1Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlobalDimension2Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlobalDimension2Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollControlCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollControlCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollControlType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollControlType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollControlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollControlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPeriodEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPeriodEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLPostType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLPostType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorLedgerEntryNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorLedgerEntryNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorLedgerPosting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorLedgerPosting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTaskNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTaskNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BurdenAllocated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BurdenAllocated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chargeable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chargeable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalBatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalBatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportingAuthorityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportingAuthorityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportingAuthorityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportingAuthorityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayCycleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayCycleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayCycleTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayCycleTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayCyclePeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayCyclePeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPeriodStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPeriodStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarnedPayCycleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarnedPayCycleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarnedPayCycleTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarnedPayCycleTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarnedPayCyclePeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarnedPayCyclePeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarnedPeriodStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarnedPeriodStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarnedPeriodEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarnedPeriodEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkReportingAuthorityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkReportingAuthorityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LedgerPostingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LedgerPostingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsurableHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsurableHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeasonalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeasonalWages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonalWages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DimensionSetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DimensionSetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calcReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calcReport)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
<br />