﻿@model ControlPlanilla.Models.PayrollLedgerEntry

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Editar PayrollLedgerEntry</h3>

<div class="table table-responsive" style="padding:15px">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="col-sm-12">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.EntryNo)

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EntryNo, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.EntryNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.EntryNo, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.PayrollControlCode, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.DropDownList("PayrollControlCode", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PayrollControlCode, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.PayrollControlType, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.DropDownList("PayrollControlType", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PayrollControlType, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.PostingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.PostingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostingDate, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.DocumentType, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.DocumentType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DocumentType, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.DocumentNo, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DocumentNo, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmployerNo, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.DropDownList("EmployerNo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployerNo, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeNo, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.DropDownList("EmployeeNo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.TaxableAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.TaxableAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TaxableAmount, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.GLPostType, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.DropDownList("GLPostType", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GLPostType, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    @Html.ActionLink("Regresar a la Lista", "Index")
                </div>
            </div>
        </div>
                }

    <br />
