﻿@model IEnumerable<ControlPlanilla.Models.PayrollLedgerEntry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Listado PayrollLedgerEntry</h3>
<div class="col-sm-12 overflow-auto" style="height:400px;">
    <p>
        @Html.ActionLink("Nuevo Registro", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollControlCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollControlType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxableAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GLPostType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryNo)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.EntryNo }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.EntryNo }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.EntryNo })
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.PayrollControlCode)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PayrollControlType)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PostingDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DocumentType)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DocumentNo)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.EmployerNo)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.EmployeeNo)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Amount)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.TaxableAmount)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.GLPostType)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.EntryNo)
                </th>
            </tr>
        }

    </table>
</div>
