﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
 
<br />
                <h3>Jornadas Laborales</h3>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos Generales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Detalles-tab" data-toggle="tab" href="#Detalles" role="tab" aria-controls="Detalles" aria-selected="false">Detalles</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
                        <br />
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Code</th>
                                <th>Hr. Entrada</th>
                                <th>Hr. Salida</th>
                                <th>Hr. Inicio Alim.</th>
                                <th>Hr. Final Alim.</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="Detalles" role="tabpanel" aria-labelledby="Detalles-tab">
                        <br />
                        <form class="form" role="form" id="formJornada">
                            <!--formulario 1-->
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Code Jornada</label>
                                    </div>
                                    </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="TxtCodeJor" name="TxtCodeJor" />
                                    </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Hr. Entrada</label>
                                    </div>
                                    </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="time" class="form-control" id="TxtEntrada" name="TxtEntrada" />
                                    </div>
                                    </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Hr. Salida</label>
                                    </div>
                                    </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="time" class="form-control" id="TxtSalida" name="TxtSalida" />
                                    </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Hr. Inicio Alim.</label>
                                    </div>
                                    </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="time" class="form-control" id="TxtInicio" name="TxtInicio" />
                                    </div>
                                    </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Hr. Final Alim.</label>
                                    </div>
                                    </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="time" class="form-control" id="TxtFinal" name="TxtFinal" />
                                    </div>
                                    </div>
                                </div>
                            <button class="btn btn-primary" id="guardar">Guardar</button>
                        </form>
                        <!--fin formulario 1-->
                        <hr />
                        <br />
                        <form class="form" role="form" id="formHorario">
                            <!--formulario 2-->
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Lunes</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Entrada</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Salida</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="checkbox" id="Cklunes" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtLunIn" name="TxtLunIn" readonly="readonly" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtLunFi" name="TxtLunFi" readonly="readonly" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Martes</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Entrada</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Salida</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="checkbox" id="CkMartes" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtMarIn" name="TxtMarIn" readonly="readonly" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtMarFi" name="TxtMarFi" readonly="readonly" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Miércoles</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Entrada</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Salida</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="checkbox" id="CkMie" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtMieIn" name="TxtMieIn" readonly="readonly" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtMieFi" name="TxtMieFi" readonly="readonly" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Jueves</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Entrada</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Salida</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="checkbox" id="CkJue" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtJueIn" name="TxtJueIn" readonly="readonly" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtJueFi" name="TxtJueFi" readonly="readonly" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Viernes</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Entrada</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Salida</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="checkbox" id="CkVie" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtVieIn" name="TxtVieIn" readonly="readonly" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtVieFi" name="TxtVieFi" readonly="readonly" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Sábado</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Entrada</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Salida</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="checkbox" id="CkSab" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtSabIn" name="TxtSabIn" readonly="readonly" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtSabFi" name="TxtSabFi" readonly="readonly" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Domingo</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Entrada</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Salida</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="checkbox" id="CkDom" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtDomIn" name="TxtDomIn" readonly="readonly" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtDomFi" name="TxtDomFi" readonly="readonly" />
                                </div>
                            </div><br />
                            <button class="btn btn-primary" id="limpiar">Limpiar</button>
                            <button class="btn btn-primary" id="guardar">Guardar</button>
                            <button Class="btn btn-primary" id="actualizar">Actualizar</button>
                            <br />
                        </form><!--fin formulario 2-->
                    </div>
                </div>
                   
<br />

