﻿@model ControlPlanilla.Models.PayrollControlArrearsCode

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Tipo de Atraso</h3>
                <div class="table table-responsive" style="padding:15px">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-sm-12">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID_ARREARS)

                            <div class="form-group">
                                @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        </div>
                    }
                </div>