﻿<br />
<h3>Mantenimiento Módulos</h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos generales</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="Detalles-tab" data-toggle="tab" href="#Detalles" role="tab" aria-controls="Detalles" aria-selected="false">Detalles</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
        <br />
        <div class="overflow-auto" style="height:400px;">
            @Html.Action("GridView1Partial")
        </div>
    </div>
    <div class="tab-pane fade" id="Detalles" role="tabpanel" aria-labelledby="Detalles-tab">
        <br />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblcodmod">Código módulo</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" id="CodigoModulo" class="form-control" name="CodigoModulo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblnommod">Nombre módulo</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" class="form-control" id="NombreModulo" name="NombreModulo" />
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblestado">Estado</label>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="radio" id="activo" name="EstadoModulo" value="true" /> Activo
                    <input type="radio" id="activo" name="EstadoModulo" value="false" /> Inactivo
                </div>
            </div>
            </div>
            <br />
            <div class="form-group">
                <button class="btn btn-primary" id="limpiar" type="button">Limpiar</button>
                <button class="btn btn-primary" id="guardar" type="button">Guardar</button>
            </div>
        </div>
</div>
<br />

<script>
    $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
    });
    function CrearMenu(CD_CODI_MENU, DS_DESC_MENU, CD_ESTADO_MENU) {
        url = '@Url.Action("Create_Menu", "GLB_MENUS_SISTEMAS")';
         var data = { CD_CODI_MENU: CD_CODI_MENU, DS_DESC_MENU: DS_DESC_MENU, CD_ESTADO_MENU: CD_ESTADO_MENU};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    };
    $(document).ready(function () {
        $("#guardar").click(function () {
            CD_CODI_MENU = $('#CodigoModulo').val();
            DS_DESC_MENU = $('#NombreModulo').val();
            CD_ESTADO_MENU = $("input[name='EstadoModulo']:checked").val();
            CrearMenu(CD_CODI_MENU, DS_DESC_MENU, CD_ESTADO_MENU);
        });
        $("#limpiar").click(function () {
            LimpiarInfo();
        });
        if ('@ViewBag.idseleccinado') {
            CargarInfo('@ViewBag.idseleccinado');
        }
    });
    //cargar cliente
    function CargarInfo(CD_CODI_MENU) {
        url = '@Url.Action("ObtenerMenus", "GLB_MENUS_SISTEMAS")';
        var data = { CD_CODI_MENU: CD_CODI_MENU };

        $.post(url, data).done(function (result) {
            for (var i = 0; i < result.length; i++) {
                $('#CodigoModulo').val(result[i].CD_CODI_MENU);
                $('#NombreModulo').val(result[i].DS_DESC_MENU);
                $("input[name=EstadoModulo][value=" + result[i].CD_ESTADO_MENU + "]").prop('checked', true);
                $('.nav-tabs a[href="#Detalles"]').tab('show');
            }
        });
    }
    //limpiar
    function LimpiarInfo() {
        $('#CodigoModulo').val('');
        $('#NombreModulo').val('');
       $("input[name=EstadoModulo][value=true]").prop('checked', true);
    }


</script>
