﻿@model ControlPlanilla.Models.GLB_TIPOS_DE_IMPUESTOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Tipo de Impuesto</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.PAISES.DS_NOMBREPAIS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PAISES.DS_NOMBREPAIS)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.EMPRESAS.DS_EMPRESA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EMPRESAS.DS_EMPRESA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DS_DESCRIPCION_IMPUESTO)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DS_DESCRIPCION_IMPUESTO)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CD_CUENTA_CONTABLE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CD_CUENTA_CONTABLE)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.VL_PORCENTAJE_1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.VL_PORCENTAJE_1)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.VL_PORCENTAJE_2)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.VL_PORCENTAJE_2)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_ACTU)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_ACTU)
                            </dd>

                        </dl>
                        <p>
                            @Html.ActionLink("Editar", "Edit", new { id = Model.CD_CODIGO_IMPUESTO }) |
                            @Html.ActionLink("Regresar a la Lista", "Index")
                        </p>
                    </div>