﻿@model IEnumerable<ControlPlanilla.Models.GLB_TIPOS_DE_IMPUESTOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado de Tipos de Impuestos</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.DS_DESCRIPCION_IMPUESTO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VL_PORCENTAJE_1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VL_PORCENTAJE_2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CD_CUENTA_CONTABLE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EMPRESAS.DS_EMPRESA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PAISES.DS_NOMBREPAIS)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CD_CODIGO_IMPUESTO }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.CD_CODIGO_IMPUESTO }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.CD_CODIGO_IMPUESTO })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DS_DESCRIPCION_IMPUESTO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VL_PORCENTAJE_1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VL_PORCENTAJE_2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CD_CUENTA_CONTABLE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPRESAS.DS_EMPRESA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAISES.DS_NOMBREPAIS)
                        </td>
                    </tr>
                        }

                    </table>
                </div>