﻿@model IEnumerable<ControlPlanilla.Models.CONTRATO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado de Contrato</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.NOMBRE_PRESTACION)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID_CONTRATO }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.ID_CONTRATO }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_CONTRATO })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOMBRE_PRESTACION)
                        </td>
                    </tr>
                        }

                    </table>
                </div>
        <br />
