﻿@model ControlPlanilla.Models.CENTRO_RESPONSABILIDAD

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

    <br />
    <h3>Detalle Centro Responsabilidad</h3>

<div class="col-sm-12"> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUA_CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECH_CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECH_CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUA_ACTU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_ACTU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECH_ACTU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECH_ACTU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_CENTRO }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
