﻿@model ControlPlanilla.Models.CENTRO_RESPONSABILIDAD

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Editar Centro Responsabilidad</h3>
<div class="table-responsive" style="padding:15px">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-sm-12">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_CENTRO)

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    @Html.ActionLink("Regresar a la lista", "Index")
                </div>
            </div>
        </div>
            }

