﻿@model IEnumerable<ControlPlanilla.Models.CENTRO_RESPONSABILIDAD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Centro responsabilidad</h3>

<div class="col-sm-12 overflow-auto" style="height:400px;">
    <p>
        @Html.ActionLink("Nuevo Registro", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID_CENTRO }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.ID_CENTRO }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_CENTRO })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
    </tr>
        }

    </table>
</div>
