﻿@model ControlPlanilla.Models.PayrollReportingAuthority

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Crear Payroll Reporting Authority</h3>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

<div class="col-sm-12">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Type, "Type", htmlAttributes: new { @class = "control-label col-md-3" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.DropDownList("Type", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Locality, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.Locality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Locality, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.DateFilter, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.DateFilter, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.DateFilter, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.GlobalDimension1Filter, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.GlobalDimension1Filter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GlobalDimension1Filter, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.GlobalDimension2Filter, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.GlobalDimension2Filter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GlobalDimension2Filter, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PayrollControlTypeFilter, "PayrollControlTypeFilter", htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.DropDownList("PayrollControlTypeFilter", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PayrollControlTypeFilter, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.GLPostTypeFilter, "GLPostTypeFilter", htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.DropDownList("GLPostTypeFilter", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GLPostTypeFilter, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.WorkTypeFilter, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.WorkTypeFilter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkTypeFilter, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.TaxableAmount, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.TaxableAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaxableAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.UnemploymentInsurance, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.UnemploymentInsurance, new { htmlAttributes = new { @class = "form-control col-md-6", @type = "checkbox" } })
                @Html.ValidationMessageFor(model => model.UnemploymentInsurance, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.StateNoCode, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.StateNoCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StateNoCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.TaxingEntityCode, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.TaxingEntityCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaxingEntityCode, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ParentRepAuthCode, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.ParentRepAuthCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParentRepAuthCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.EditStatus, "EditStatus", htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.DropDownList("EditStatus", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EditStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.EmployerNoFilter, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.EditorFor(model => model.EmployerNoFilter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployerNoFilter, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
        }
