﻿@model ControlPlanilla.Models.PayrollReportingAuthority

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Payroll Reporting Authority</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.County)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.County)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Locality)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Locality)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DateFilter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateFilter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GlobalDimension1Filter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.GlobalDimension1Filter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GlobalDimension2Filter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.GlobalDimension2Filter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.WorkTypeFilter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.WorkTypeFilter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Amount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Amount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TaxableAmount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TaxableAmount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UnemploymentInsurance)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UnemploymentInsurance)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StateNoCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StateNoCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TaxingEntityCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TaxingEntityCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ParentRepAuthCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ParentRepAuthCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EmployerNoFilter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EmployerNoFilter)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EditStatus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayRateEditStatus.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControlType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControlType.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GLPostTypeFilter)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollPostType.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollTypeReportingAuthority)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollTypeReportingAuthority.DESCRIPCION)
                            </dd>

                        </dl>
                        <p>
                            @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                            @Html.ActionLink("Regresar a la Lista", "Index")
                        </p>
                    </div>