﻿@model IEnumerable<ControlPlanilla.Models.PayrollReportingAuthority>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Payroll Reporting Authority</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.County)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Locality)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateFilter)
                            </th>
                           <th>
                                @Html.DisplayNameFor(model => model.GlobalDimension1Filter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GlobalDimension2Filter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkTypeFilter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                             <th>
                                @Html.DisplayNameFor(model => model.TaxableAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnemploymentInsurance)
                            </th>
                             <th>
                                @Html.DisplayNameFor(model => model.StateNoCode)
                            </th>
                           <th>
                                @Html.DisplayNameFor(model => model.TaxingEntityCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ParentRepAuthCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployerNoFilter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EditStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollControlType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GLPostTypeFilter)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayrollTypeReportingAuthority)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Locality)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFilter)
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.GlobalDimension1Filter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GlobalDimension2Filter)
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.WorkTypeFilter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxableAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnemploymentInsurance)
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.StateNoCode)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.TaxingEntityCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentRepAuthCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployerNoFilter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayRateEditStatus.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollControlType.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollPostType.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayrollTypeReportingAuthority.DESCRIPCION)
                        </td>
                    </tr>
                        }

                    </table>                    
                </div>