﻿@model ControlPlanilla.Models.GLB_RELA_TIPO_DOCUMENTOS_OPCI_SIST

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Tipo Documento por Pantalla</h3>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CD_EMPRESA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CD_EMPRESA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_ACTU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_ACTU)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_ACTU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_ACTU)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GLB_OPCIONES_SISTEMA.CD_EMPRESA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GLB_OPCIONES_SISTEMA.CD_EMPRESA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GLB_TIPO_DOCUMENTOS.CD_EMPRESA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GLB_TIPO_DOCUMENTOS.CD_EMPRESA)
                        </dd>

                    </dl> 
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Regresar a la Lista", "Index")
                </p>
            </div>
