﻿@model ControlPlanilla.Models.GLB_RELA_TIPO_DOCUMENTOS_OPCI_SIST

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Tipo Documento por Pantalla</h3>
                <div class="table-responsive" style="padding:15px">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="col-sm-12">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.CD_EMPRESA, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CD_EMPRESA, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CD_EMPRESA, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CD_CODI_OPCI_SIST, "CD_CODI_OPCI_SIST", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CD_CODI_OPCI_SIST", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CD_CODI_OPCI_SIST, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CD_TIPO_DOCUMENTO, "CD_TIPO_DOCUMENTO", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CD_TIPO_DOCUMENTO", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CD_TIPO_DOCUMENTO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" /> |
                            @Html.ActionLink("Regresar a la Lista", "Index")
                        </div>
                    </div>
                    }

                </div>