﻿@model IEnumerable<ControlPlanilla.Models.GLB_RELA_TIPO_DOCUMENTOS_OPCI_SIST>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Tipo Documento por Pantalla</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.GLB_OPCIONES_SISTEMA.DS_NOMBRE_FORMA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GLB_TIPO_DOCUMENTOS.DS_TIPO_DOCUMENTO)
                            </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GLB_OPCIONES_SISTEMA.DS_NOMBRE_FORMA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GLB_TIPO_DOCUMENTOS.DS_TIPO_DOCUMENTO)
                        </td>

                    </tr>
                        }

                    </table>
                </div>