﻿@model ControlPlanilla.Models.EmployeeType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Tipo de Empleado</h3>

                <div class="col-sm-12">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TestSystemRequiredEntries)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TestSystemRequiredEntries)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TestUserRequiredEntries)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TestUserRequiredEntries)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SynchRequired)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SynchRequired)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>
        <br />
