﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Ficha de Cliente</h3>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="Crear-tab" data-toggle="tab" href="#Crear" role="tab" aria-controls="Crear" aria-selected="true">Crear/Buscar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="General-tab" data-toggle="tab" href="#General" role="tab" aria-controls="General" aria-selected="true">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Comunic-tab" data-toggle="tab" href="#Comunic" role="tab" aria-controls="Comunic" aria-selected="true">Comunicación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Fact-tab" data-toggle="tab" href="#Fact" role="tab" aria-controls="Fact" aria-selected="true">Facturación</a>
                    </li>                    
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Crear" role="tabpanel" aria-labelledby="Crear-tab">
                        <br />
                        <form class="form" role="form">

                            @Html.Action("GridViewPartial")
                            <br />
                        </form>
                    </div>
                    <div class="tab-pane fade" id="General" role="tabpanel" aria-labelledby="General-tab">
                        <br />
                        <form class="form" role="form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblnum">No:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtCliente" class="form-control" name="TxtCliente" disabled="disabled" tabindex=1 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcliente">Cliente POS:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="checkbox" id="CkCliente" disabled="disabled" tabindex=12 />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblnombre">Nombre:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtNomCli" class="form-control" name="TxtNomCli" disabled="disabled" tabindex=2 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblsaldo">Saldo ($):</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtSaldo" class="form-control" name="TxtSaldo" readonly="readonly" disabled="disabled" tabindex=13 />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lbldireccion">Dirección:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtDirCli" class="form-control" name="TxtDirCli" disabled="disabled" tabindex=3 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lbllimitecred">Límite de Crédito ($):</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="number" id="TxtLimite" class="form-control" name="TxtLimite" disabled="disabled" tabindex=14 />
                                        <a href="" class="btn btn-info btn-xs info" data-toggle="modal" data-target="#myModal" data-id="Imprimir">
                                            <span class="glyphicon glyphicon glyphicon-modal-window">
                                                Imprimir
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblpais">Cód. País / Región:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <select id="GlbPais" name="GlbPais" class="form-control" disabled="disabled" tabindex=7>
                                        <option>Seleccione una opción</option>
                                        @foreach (var item in ViewBag.cmbPaises)
                                        {
                                            <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblvendedor">Cód. Vendedor:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GlbVendedor" name="GlbVendedor" class="form-control" disabled="disabled" tabindex=15>
                                            <option value="0">Seleccione una opción</option>
                                            @foreach (var item in ViewBag.cmbEmployer)
                                            {
                                                <option value="@item.No">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblmunicipio">Municipio / Ciudad:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <select id="GlbMunicipio" name="GlbMunicipio" class="form-control" disabled="disabled" tabindex=6>
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblrespons">Centro Responsabilidad:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GlbCentro" name="GlbCentro" class="form-control" disabled="disabled" tabindex=16>
                                            <option>Seleccione una opción</option>
                                            @foreach (var item in ViewBag.cmbCentroResponsabilidad)
                                            {
                                                <option value="@item.ID_CENTRO">@item.NOMBRE</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcodigopos">C.P.:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <select id="GlbCodPro" name="GlbCodPro" class="form-control" disabled="disabled" tabindex=5>
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblzonaserv">Cód. Zona Servicio:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GlbServicio" name="GlbServicio" class="form-control" disabled="disabled" tabindex=17>
                                            <option>Seleccione una opción</option>
                                            @foreach (var item in ViewBag.cmbServicio)
                                            {
                                                <option value="@item.CD_ZONA">@item.DS_ZONA</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcolonia">Colonia:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtColCli" class="form-control" name="TxtColCli" disabled="disabled" tabindex=4 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblbloqueado">Bloqueado:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="checkbox" id="GlbBloc" disabled="disabled" tabindex=18 />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lbltelefono">No teléfono:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="TxtNum" class="form-control" name="TxtNum" disabled="disabled" tabindex=8 />
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblfechamod">Fecha últ. modificación:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtFecha" class="form-control" name="TxtFecha" readonly="readonly" disabled="disabled" tabindex=19 />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcontacto">No contacto principal:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="GlbContacto" class="form-control" name="GlbContacto" disabled="disabled" tabindex=9 />
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblordencomp">No Orden Comp. Exenta:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtOrdenComp" class="form-control" name="TxtOrdenComp" disabled="disabled" tabindex=20 />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcontac">Contacto:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="TxtContacto" class="form-control" name="TxtContacto" disabled="disabled" tabindex=10 />
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblconstancia">No Constancia Reg. Exonerado:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtConstancia" class="form-control" name="TxtConstancia" disabled="disabled" tabindex=21 />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblalias">Alias:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="TxtAlias" class="form-control" name="TxtAlias" disabled="disabled" tabindex=11 />
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblregistro">No Registro Secretaria:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtRegSecre" class="form-control" name="TxtRegSecre" disabled="disabled" tabindex=22 />
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="limpiar" onclick="nuevo()">Limpiar</button>
                            <button class="btn btn-primary" id="guardar1" type="button">Guardar</button>
                            <br />
                        </form>
                    </div>
                    <!--fin general-->

                    <div class="tab-pane fade" id="Comunic" role="tabpanel" aria-labelledby="Comunic-tab">
                        <br />
                        <form class="form" role="form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lbltelefono">No Teléfono:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtTel2" class="form-control" name="TxtTel2" disabled="disabled" tabindex=23 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblpagina">Página Principal:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtPag" class="form-control" name="TxtPag" disabled="disabled" tabindex=26 />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblfax">No Fax:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtFax" class="form-control" name="TxtFax" disabled="disabled" tabindex=24 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcodsocio">Código Socio IC:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GblCodSocio" name="GblCodSocio" class="form-control" disabled="disabled" tabindex=27>
                                            <option>Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcorreo">Correo Electrónico:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtEmail" class="form-control" name="TxtEmail" disabled="disabled" tabindex=25 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblperfil">Perfil de Envío de Documentos:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GblPerfilDoc" name="GblPerfilDoc" class="form-control" disabled="disabled" tabindex=28>
                                            <option>Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="limpiar" onclick="nuevo()">Limpiar</button>
                            <button class="btn btn-primary" id="guardar2" type="button">Guardar</button>
                            <br /><br />
                        </form>
                    </div>
                    <!--fin comunicacion-->
                    <div class="tab-pane fade" id="Fact" role="tabpanel" aria-labelledby="Fact-tab">
                        <br />
                        <form class="form" role="form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblfactura">Factura-a No Cliente:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GlbFacCliente" name="GlbFacCliente" class="form-control" disabled="disabled" tabindex=29>
                                            <option>Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblgruporeg">Grupo Registro IVA neg.:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GlbRegistro" name="GlbRegistro" class="form-control" disabled="disabled" tabindex=33>
                                            <option>Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblrin">RIN:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtRin" class="form-control" name="TxtRin" disabled="disabled" tabindex=30 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblbussiness">WHT Bussiness Posting Group:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GlbBussiness" name="GlbBussiness" class="form-control" disabled="disabled" tabindex=34>
                                            <option>Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblgln">GLN:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtGLN" class="form-control" name="TxtGLN" disabled="disabled" tabindex=31 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcontable">Grupo Contable Cliente:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GlbGrupCliente" name="GlbGrupoCliente" class="form-control" disabled="disabled" tabindex=35>
                                            <option>Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblcopiasf">No Copias Factura:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" id="TxtCopiasFac" class="form-control" name="TxtCopiasFac" disabled="disabled" tabindex=32 />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label id="lblpreciocli">Grupo Precio Cliente:</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select id="GlbPrecioCliente" name="GlbPrecioCliente" class="form-control" disabled="disabled" tabindex=36>
                                            <option>Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="limpiar" onclick="nuevo()">Limpiar</button>
                            <button class="btn btn-primary" id="guardar3" type="button">Guardar</button>
                            <br />
                        </form>
                    </div>
                    <!--fin facturacion-->
                </div>
                   

<div class="modal fade" id="abrirModalTerms" name="abrirModalTerms" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Imprimir</h4>
            </div>
            <div class="modal-body">
                <div id="TermsList" name="TermsList"></div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
    });

    $('.info').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        var id = 1;

        //$('#item-to-delete').val(id);

        $('#myModalLabel').html("Imprimir Comprobante: ");
        TraerTerminos(id)
    });

    function TraerTerminos(Code)
    {
        url = '@Url.Action("Reporte", "Cliente")';
        var data = { IdCliente: Code };
        $.post(url, data).done(function (result) {
            $('#TermsList').html('');
            $('#TermsList').html(result);
            $('#abrirModalTerms').modal('show');
        });
    }
    //
    //
    function CrearFactura(No,GLN, InvoiceCopies) {
        url = '@Url.Action("Create_Factura", "Cliente")';
        var data = { No: No, GLN: GLN, InvoiceCopies: InvoiceCopies};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    }

    function CrearContacto(No, TelexNo,  FaxNo, EMail,  HomePage) {
        url = '@Url.Action("Create_Contacto", "Cliente")';
        var data = { No: No, TelexNo: TelexNo, FaxNo: FaxNo, EMail: EMail, HomePage: HomePage};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    }

    function CrearCliente(No, Contact, PhoneNo, ClientePOS, SaldoTemporadaNormal, CreditLimitLCY, SalespersonCode, ResponsibilityCenter, CD_ZONA, Blocked, NoOrdenCompExenta, NoConstanciaRegExonerado, NoRegistroSecretaria) {
        url = '@Url.Action("Create_Cliente", "Cliente")';
        var data = { No: No, Contact: Contact, PhoneNo: PhoneNo, ClientePOS: ClientePOS, SaldoTemporadaNormal: SaldoTemporadaNormal, CreditLimitLCY: CreditLimitLCY, SalespersonCode: SalespersonCode, ResponsibilityCenter: ResponsibilityCenter, CD_ZONA: CD_ZONA, Blocked: Blocked, NoOrdenCompExenta: NoOrdenCompExenta, NoConstanciaRegExonerado: NoConstanciaRegExonerado, NoRegistroSecretaria: NoRegistroSecretaria};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    }
    //
    $(document).ready(function () {

        $("#guardar3").click(function () {
            No = $('#TxtCliente').val();
            GLN = $('#TxtGLN').val();
            InvoiceCopies = $('#TxtCopiasFac').val();
            CrearFactura(No, GLN, InvoiceCopies);
        });

        $("#guardar2").click(function () {
            No = $('#TxtCliente').val();
            TelexNo = $('#TxtTel2').val();
            FaxNo=$('#TxtFax').val();
            EMail=$('#TxtEmail').val();
            //segunda columna
            HomePage = $('#TxtPag').val();
            CrearContacto(No, TelexNo, FaxNo, EMail, HomePage);
        });
        $("#guardar1").click(function () {
            No = $('#TxtCliente').val();
            Contact = $('#GlbContacto').val();
            PhoneNo = $('#TxtContacto').val();
            ClientePOS = $('#CkCliente').val();
            SaldoTemporadaNormal = "0";//$('#TxtContacto').val();
            CreditLimitLCY = $('#TxtLimite').val();
            SalespersonCode = $('#GlbVendedor').val();
            ResponsibilityCenter = $('#GlbCentro').val();
            CD_ZONA = $('#GlbServicio').val();
            Blocked = $('#GlbBloc').val();
            NoOrdenCompExenta = $('#TxtOrdenComp').val();
            NoConstanciaRegExonerado = $('#TxtConstancia').val();
            NoRegistroSecretaria = $('#TxtRegSecre').val();
            //alert(Contact + '/ ' + PhoneNo + '/ ' + ClientePOS + '/ ' + SaldoTemporadaNormal + '/ ' + CreditLimitLCY + '/ ' + SalespersonCode + '/ ' + ResponsibilityCenter + '/ ' + CD_ZONA + '/ ' + Blocked + '/ ' + NoOrdenCompExenta + '/ ' + NoConstanciaRegExonerado + '/ ' + NoRegistroSecretaria);
            CrearCliente(No, Contact, PhoneNo, ClientePOS, SaldoTemporadaNormal, CreditLimitLCY, SalespersonCode, ResponsibilityCenter, CD_ZONA, Blocked, NoOrdenCompExenta, NoConstanciaRegExonerado, NoRegistroSecretaria);
        });

        if ('@ViewBag.idseleccinado') {
            CargarEmployee('@ViewBag.idseleccinado');
            CargarCliente('@ViewBag.idseleccinado');
        }
    });
    function CargarEmployee(No) {
        url = '@Url.Action("ObtenerEmployee", "Cliente")';
        var data = { No: No };

        $.post(url, data).done(function (result) {
            for (var i = 0; i < result.length; i++) {
                $('#TxtCliente').val(result[i].No);
                //$("#TxtNomCli").prop("disabled", false);
                $('#TxtNomCli').val(result[i].FirstName + ' ' + result[i].MiddleName  + ' ' + result[i].LastName);
                //$("#TxtDirCli").prop("disabled", false);
                $('#TxtDirCli').val(result[i].Address);
                $("#TxtColCli").prop("disabled", false);
                $('#TxtColCli').val(result[i].LastName);
                //$("#GlbPais").prop("disabled", false);
                document.getElementById("GlbPais").value = result[i].CountryRegionCode;
                //$("#GlbMunicipio").prop("disabled", false);
                cargarMunicipios(result[i].Departamento, result[i].City);
                //$("#GlbCodPro").prop("disabled", false);
                cargarCP(result[i].City, result[i].PostCode);
                $("#TxtNum").prop("disabled", false);
                $('#TxtNum').val(result[i].PhoneNo);
                $("#GlbContacto").prop("disabled", false);
                $("#TxtContacto").prop("disabled", false);
                //$("#TxtAlias").prop("disabled", false);
                $('#TxtAlias').val(result[i].SearchName);
                //segunda columna
                $("#CkCliente").prop("disabled", false);
                //$("#TxtSaldo").prop("disabled", false);
                $("#TxtLimite").prop("disabled", false);
                //$("#GlbVendedor").prop("disabled", false);
                $("#GlbCentro").prop("disabled", false);
                $("#GlbServicio").prop("disabled", false);
                $("#GlbBloc").prop("disabled", false);
                $("#TxtFecha").prop("disabled", false);
                $("#TxtOrdenComp").prop("disabled", false);
                $("#TxtConstancia").prop("disabled", false);
                $("#TxtRegSecre").prop("disabled", false);
                //************contacto*************
                $("#TxtTel2").prop("disabled", false);
                $("#TxtFax").prop("disabled", false);
                $("#TxtEmail").prop("disabled", false);
                $("#TxtPag").prop("disabled", false);
                //$("#GblCodSocio").prop("disabled", false);
                //$("#GblPerfilDoc").prop("disabled", false);
                //*************Facturacion***************
                //$("#GlbFacCliente").prop("disabled", false);
                //$("#TxtRin").prop("disabled", false);
                $("#TxtGLN").prop("disabled", false);
                $("#TxtCopiasFac").prop("disabled", false);
                //********* segunda columna *************
                //$("#GlbRegistro").prop("disabled", false);
                //$("#GlbBussiness").prop("disabled", false);
                //$("#GlbGrupCliente").prop("disabled", false);
                //$("#GlbPrecioCliente").prop("disabled", false);
                $('.nav-tabs a[href="#General"]').tab('show');
            }
        });
    }
    //cargar cliente
    function CargarCliente(No) {
        url = '@Url.Action("ObtenerCliente", "Cliente")';
        var data = { No: No };

        $.post(url, data).done(function (result) {
            for (var i = 0; i < result.length; i++) {
                $('#GlbContacto').val(result[i].PhoneNo);
                $('#TxtContacto').val(result[i].Contact);
                //segunda columna
                document.getElementById("CkCliente").checked = result[i].ClientePOS;
                //$("#TxtSaldo").prop("disabled", false);
                $('#TxtLimite').val(result[i].CreditLimitLCY);
                //$("#GlbVendedor").prop("disabled", false);
                document.getElementById("GlbCentro").value = result[i].ResponsibilityCenter;
                document.getElementById("GlbServicio").value = result[i].CD_ZONA;
                document.getElementById("GlbBloc").checked = result[i].Blocked;
                var today = eval(result[i].LastDateModified.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                document.getElementById("TxtFecha").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
                $('#TxtOrdenComp').val(result[i].NoOrdenCompExenta);
                $('#TxtConstancia').val(result[i].NoConstanciaRegExonerado);
                $('#TxtRegSecre').val(result[i].NoRegistroSecretaria);
                //contacto
                $('#TxtTel2').val(result[i].TelexNo);
                $('#TxtFax').val(result[i].FaxNo);
                $('#TxtEmail').val(result[i].EMail);
                //segunda columna
                $('#TxtPag').val(result[i].HomePage);
                //factura
                $('#TxtGLN').val(result[i].GLN);
                $('#TxtCopiasFac').val(result[i].InvoiceCopies);
            }
        });
    }
    /////////////////
    function cargarMunicipios(cdDpto,cdMuni) {
            //debugger;
            var url = '@Url.Action("ObtenerMunicipios", "CIUDADES")';
        var data = { ID_DEPTO: cdDpto };
            $.get(url, data).done(function (result) {
                $('#GlbMunicipio').html('');
                for (var i = 0; i < result.length; i++) {
                    if (result[i].ID_CIUDAD == cdMuni) {
                        $('#GlbMunicipio').append('<option value="' + result[i].ID_CIUDAD + '" Selected="selected">' + result[i].NOMBRE_CIUDAD + '</option>')
                    } else {
                        $('#GlbMunicipio').append('<option value="' + result[i].ID_CIUDAD + '">' + result[i].NOMBRE_CIUDAD + '</option>')
                    }

                }
            });
    }
     function cargarCP(cdMuni,cdCP) {
        //debugger;
        var url = '@Url.Action("ObtenerCP", "Employee")';
        var data = { ID_CIUDAD: cdMuni };
        $.get(url, data).done(function (result) {
            $('#GlbCodPro').html('');

            for (var i = 0; i < result.length; i++) {
                if (result[i].Id_Codigo == cdCP) {
                    $('#GlbCodPro').append('<option value="' + result[i].Id_Codigo + '" Selected="selected">' + result[i].Codigo_Postal + '</option>')
                } else {
                    $('#GlbCodPro').append('<option value="' + result[i].Id_Codigo + '">' + result[i].Codigo_Postal + '</option>')
                }

            }
        });
    }

</script>