﻿@model ControlPlanilla.Models.DirectDepositLayout

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Eliminar Emisión de Archivo Para Abono a Empleados</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                        <h3>¿Está seguro de eliminar este registro?</h3>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.RecordLength)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RecordLength)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BlockingFactor)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BlockingFactor)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BlockFiller)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BlockFiller)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DirectDepositTypeLayout.DESCRIPCION)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DirectDepositTypeLayout.DESCRIPCION)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </div>
                        }
                    </div>
        <br />