﻿@model ControlPlanilla.Models.DirectDepositLayout

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}


<br />
                <h3>Detalle Emisión de Archivo Para Abono a Empleados</h3>

                <div class="col-sm-12">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RecordLength)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RecordLength)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BlockingFactor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BlockingFactor)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BlockFiller)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BlockFiller)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DirectDepositTypeLayout.DESCRIPCION)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DirectDepositTypeLayout.DESCRIPCION)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>
        <br />