﻿@model PagedList.IPagedList<ControlPlanilla.Models.DirectDepositSections>
@using PagedList.Mvc;
@{
    var i = 0;
}

<table class="table table-responsive table-bordered" id="tListSections" style="display: block;
    overflow-x: auto;
    white-space: nowrap;">
    <thead>
        <tr>
            <th hidden>
                DirectDepositLayoutCode
            </th>
            <th>
                SectionType
            </th>
            <th>
                SequenceNumber
            </th>
            <th hidden>
                LineNumber
            </th>
            <th>
                Description
            </th>
            <th>
                IncTotalLineCount
            </th>
            <th>
                IncTotalHeaderCount
            </th>
            <th>
                IncTotalDetailCount
            </th>
            <th>
                IncTotalFooterCount
            </th>
            <th>
                IncTotalCreditCount
            </th>
            <th>
                IncTotalDebitCount
            </th>
            <th>
                IncTotalBatchCount
            </th>
            <th>
                IncBatchDetailCount
            </th>
            <th>
                ResetBatchTotals
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DirectDepositLayout.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DirectDepositTypeContent.DESCRIPCION)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td hidden>
                    @Html.DropDownList("DirectDepositLayoutCode_" + i, new SelectList(ViewBag.DirectDepositLayoutCode, "Value", "Text", item.DirectDepositLayoutCode), htmlAttributes: new { @class = "form-control", @posicion = i })
                </td>
                <td>
                    @Html.DropDownList("SectionType_" + i, new SelectList(ViewBag.SectionType, "Value", "Text", item.SectionType), htmlAttributes: new { @class = "form-control", @posicion = i, @readonly="readonly", @disabled="disabled" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.SequenceNumber, new { htmlAttributes = new { @class = "form-control", @id = "SequenceNumber_" + i, @posicion = i } })
                </td>
                <td hidden>
                    @Html.EditorFor(modelItem => item.LineNumber, new { htmlAttributes = new { @class = "form-control", @id = "LineNumber_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description_" + i, @posicion = i, @style = "width:200px;" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncTotalLineCount, new { htmlAttributes = new { @class = "form-control", @id = "IncTotalLineCount_" + i, @posicion = i } })

                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncTotalHeaderCount, new { htmlAttributes = new { @class = "form-control", @id = "IncTotalHeaderCount_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncTotalDetailCount, new { htmlAttributes = new { @class = "form-control", @id = "IncTotalDetailCount_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncTotalFooterCount, new { htmlAttributes = new { @class = "form-control", @id = "IncTotalFooterCount_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncTotalCreditCount, new { htmlAttributes = new { @class = "form-control", @id = "IncTotalCreditCount_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncTotalDebitCount, new { htmlAttributes = new { @class = "form-control", @id = "IncTotalDebitCount_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncTotalBatchCount, new { htmlAttributes = new { @class = "form-control", @id = "IncTotalBatchCount_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncBatchDetailCount, new { htmlAttributes = new { @class = "form-control", @id = "IncBatchDetailCount_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.ResetBatchTotals, new { htmlAttributes = new { @class = "form-control", @id = "ResetBatchTotals_" + i, @posicion = i } })
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DirectDepositLayout.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DirectDepositTypeContent.DESCRIPCION)
                    </td>*@
                <td>
                    <button class="btn btn-sm botones" onclick="EditarSections(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarSections(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                    |
                    <button class="btn btn-sm lines botones" data-toggle="modal" data-target="abrirModalLines"
                            data-id="@item.LineNumber" descripcion ="@item.Description" sectionType="@item.SectionType">
                        <span class="glyphicon glyphicon glyphicon-modal-window"></span>
                    </button>
                </td>
            </tr>
        }
        <!--Para crea registro-->
        <tr>
            <td class="form-group" hidden>
                @Html.DropDownList("DirectDepositLayoutCode", new SelectList(ViewBag.DirectDepositLayoutCode, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            </td>

            <td class="form-group">
                @Html.DropDownList("SectionType", new SelectList(ViewBag.SectionType, "Value", "Text"), htmlAttributes: new { @class = "form-control", @style = "width: 150px;" })
            </td>

            <td class="form-group">
                <input type="number" id="SequenceNumber" min="0" class="form-control" />
            </td>
            <td>
                <input type="text" id="Description" class="form-control" style="width:200px;" />
            </td>
            <td class="form-group">
                <input type="checkbox" id="IncTotalLineCount" class="form-control" />
            </td>
            <td class="form-group">
                <input type="checkbox" id="IncTotalHeaderCount" class="form-control" />
            </td>
            <td class="form-group">
                <input type="checkbox" id="IncTotalDetailCount" class="form-control" />
            </td>

            <td class="form-group">
                <input type="checkbox" id="IncTotalFooterCount" class="form-control" />
            </td>

            <td class="form-group">
                <input type="checkbox" id="IncTotalCreditCount" class="form-control" />
            </td>

            <td class="form-group">
                <input type="checkbox" id="IncTotalDebitCount" class="form-control" />
            </td>

            <td class="form-group">
                <input type="checkbox" id="IncTotalBatchCount" class="form-control" />
            </td>

            <td class="form-group">
                <input type="checkbox" id="IncBatchDetailCount" class="form-control" />
            </td>

            <td class="form-group">
                <input type="checkbox" id="ResetBatchTotals" class="form-control" />
            </td>
            <td>
                <button class="btn btn-sm botones" type="button" onclick="CrearSections()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>

        </tr>
    </tbody>
</table>

<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("DirectDepositSections", "DirectDepositLayouts", new { Codigo = ViewBag.Codigo, page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {

            HttpMethod = "POST",
            UpdateTargetId = "ListSections",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))


    <!--Modal para las lines del deposit direct-->
    <div class="modal fade" id="abrirModalLines" name="abrirModalLines" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <Label class="modal-title" id="myModalLabelLines">: </Label>
                </div>
                <div class="modal-body">
                    <div id="LinesList" name="LinesList"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="cerrarModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var sectionType = 0;
        var LineaNum = 0;
    /* para lineas de deposit direct */
         $('.lines').click(function(e) {
             e.preventDefault();

           //Update the item to delete id so our model knows which one to delete
             var id = $(this).data('id');
             var desc = $(this).attr("descripcion");
             sectionType = $(this).attr("sectionType");
             LineaNum = id;
            TraerLineas(id);
           $('#myModalLabelLines').html(CodigoLayout + " detalle " + id + " " + desc);

         });

        function TraerLineas(LineNumber) {
            
            var url = '@Url.Action("DirectDepositLines", "DirectDepositLayouts")';
            var data = { CodidoLayout: CodigoLayout, SectionType: sectionType, LineNumber: LineNumber};
            $.post(url, data).done(function (result) {
                $('#LinesList').html('');
                $('#LinesList').html(result);
                $('#abrirModalLines').modal('show');
            });
            //$('#abrirModalLines').modal('show');
            
        }

        function ActualizarLineas() {
            var url = '@Url.Action("DirectDepositLines", "DirectDepositLayouts")';
            var data = { CodidoLayout: CodigoLayout, SectionType: sectionType, LineNumber: LineaNum};

            $.post(url, data).done(function (result) {
                $('#LinesList').html('');
                $('#LinesList').html(result);
            });
            
            
        }

        function CrearLine() {

            $('.botones').attr("disabled", "disabled");

            var ds = $('#txtDescription').val();
            var startPosition = $('#StartPosition').val();
            var lengthtoExport = $('#LengthtoExport').val();
            var typetoExport = $('#TypetoExport').val();
            var lineType = $('#LineType').val();
            var literalValue = $('#LiteralValue').val();
            var tableNo = $('#TableNo').val();
            var tableName = $('#TableName').val();
            var fieldNo = $('#FieldNo').val();
            var fieldName = $('#FieldName').val();
            var justification = $('#Justification').val();
            var fillCharacter = $('#FillCharacter').val();
            var fieldTypeandLength = $('#FieldTypeandLength').val();
            
            var converttoUpperCase = document.getElementById('ConverttoUpperCase').checked;
            var removeSpaces = document.getElementById('RemoveSpaces').checked;
            var removeSpecialCharacters = document.getElementById('RemoveSpecialCharacters').checked;
            var includeDecimal = document.getElementById('IncludeDecimal').checked;
            var dateFormat = $('#DateFormat').val();
            var timeFormat = $('#TimeFormat').val();
            var fieldStartPosition = $('#FieldStartPosition').val();
            var fieldLength = $('#FieldLength').val();
            var requiredField = document.getElementById('RequiredField').checked;
            var checkDigit = document.getElementById('CheckDigit').checked;
            var updateTotalFileDebitAmt = document.getElementById('UpdateTotalFileDebitAmt').checked;
            var updateTotalFileCreditAmt = document.getElementById('UpdateTotalFileCreditAmt').checked;
            var updateHashAmount1 = document.getElementById('UpdateHashAmount1').checked;
            var updateHashAmount2 = document.getElementById('UpdateHashAmount2').checked;
            var updateBatchDebitAmt = document.getElementById('UpdateBatchDebitAmt').checked;
            var updateBatchCreditAmt = document.getElementById('UpdateBatchCreditAmt').checked;
            var updateBatchHashAmt1 = document.getElementById('UpdateBatchHashAmt1').checked;
            var updateBatchHashAmt2 = document.getElementById('UpdateBatchHashAmt2').checked;


            var url = '@Url.Action("CrearLine", "DirectDepositLayouts")';

            var data =
            {
                DirectDepositLayoutCode: CodigoLayout, SectionType: sectionType, SectionLineNumber: LineaNum,
                Description: ds, StartPosition: startPosition, LengthtoExport: lengthtoExport,
                TypetoExport: typetoExport, LineType: lineType, LiteralValue: literalValue,
                TableNo: tableNo, TableName: tableName, FieldNo: fieldNo, FieldName: fieldName,
                FieldTypeandLength: fieldTypeandLength, Justification: justification, FillCharacter: fillCharacter,
                ConverttoUpperCase: converttoUpperCase, RemoveSpaces: removeSpaces, RemoveSpecialCharacters: removeSpecialCharacters,
                IncludeDecimal: includeDecimal, DateFormat: dateFormat, TimeFormat: timeFormat, FieldStartPosition: fieldStartPosition,
                FieldLength: fieldLength, RequiredField: requiredField, CheckDigit: checkDigit, UpdateTotalFileDebitAmt: updateTotalFileDebitAmt,
                UpdateTotalFileCreditAmt: updateTotalFileCreditAmt, UpdateHashAmount1: updateHashAmount1, UpdateHashAmount2: updateHashAmount2,
                UpdateBatchDebitAmt: updateBatchDebitAmt, UpdateBatchCreditAmt: updateBatchCreditAmt, UpdateBatchHashAmt1: updateBatchHashAmt1,
                UpdateBatchHashAmt2: updateBatchHashAmt2
            };


            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarLineas();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
        }

         function EditarLine(element) {
            var posicion = $(element).attr("posicion");
             var i = posicion;
            $('.botones').attr("disabled", "disabled");
             var Correlativo = $('#txtLineNumber_' + i).val();
            var ds = $('#txtDescription_'+i).val();
            var startPosition = $('#StartPosition_'+i).val();
            var lengthtoExport = $('#LengthtoExport_'+i).val();
            var typetoExport = $('#TypetoExport_'+i).val();
            var lineType = $('#LineType_'+i).val();
            var literalValue = $('#LiteralValue_'+i).val();
            var tableNo = $('#TableNo_'+i).val();
            var tableName = $('#TableName_'+i).val();
            var fieldNo = $('#FieldNo_'+i).val();
            var fieldName = $('#FieldName_'+i).val();
            var justification = $('#Justification_'+i).val();
            var fillCharacter = $('#FillCharacter_'+i).val();
            var fieldTypeandLength = $('#FieldTypeandLength_'+i).val();
            
            var converttoUpperCase = document.getElementById('ConverttoUpperCase_'+i).checked;
            var removeSpaces = document.getElementById('RemoveSpaces_'+i).checked;
            var removeSpecialCharacters = document.getElementById('RemoveSpecialCharacters_'+i).checked;
            var includeDecimal = document.getElementById('IncludeDecimal_'+i).checked;
            var dateFormat = $('#DateFormat_'+i).val();
            var timeFormat = $('#TimeFormat_'+i).val();
            var fieldStartPosition = $('#FieldStartPosition_'+i).val();
            var fieldLength = $('#FieldLength_'+i).val();
            var requiredField = document.getElementById('RequiredField_'+i).checked;
            var checkDigit = document.getElementById('CheckDigit_'+i).checked;
            var updateTotalFileDebitAmt = document.getElementById('UpdateTotalFileDebitAmt_'+i).checked;
            var updateTotalFileCreditAmt = document.getElementById('UpdateTotalFileCreditAmt_'+i).checked;
            var updateHashAmount1 = document.getElementById('UpdateHashAmount1_'+i).checked;
            var updateHashAmount2 = document.getElementById('UpdateHashAmount2_'+i).checked;
            var updateBatchDebitAmt = document.getElementById('UpdateBatchDebitAmt_'+i).checked;
            var updateBatchCreditAmt = document.getElementById('UpdateBatchCreditAmt_'+i).checked;
            var updateBatchHashAmt1 = document.getElementById('UpdateBatchHashAmt1_'+i).checked;
            var updateBatchHashAmt2 = document.getElementById('UpdateBatchHashAmt2_'+i).checked;


            var url = '@Url.Action("EditarLine", "DirectDepositLayouts")';

            var data =
            {
                DirectDepositLayoutCode: CodigoLayout, SectionType: sectionType, SectionLineNumber: LineaNum,
                LineNumber: Correlativo,
                Description: ds, StartPosition: startPosition, LengthtoExport: lengthtoExport,
                TypetoExport: typetoExport, LineType: lineType, LiteralValue: literalValue,
                TableNo: tableNo, TableName: tableName, FieldNo: fieldNo, FieldName: fieldName,
                FieldTypeandLength: fieldTypeandLength, Justification: justification, FillCharacter: fillCharacter,
                ConverttoUpperCase: converttoUpperCase, RemoveSpaces: removeSpaces, RemoveSpecialCharacters: removeSpecialCharacters,
                IncludeDecimal: includeDecimal, DateFormat: dateFormat, TimeFormat: timeFormat, FieldStartPosition: fieldStartPosition,
                FieldLength: fieldLength, RequiredField: requiredField, CheckDigit: checkDigit, UpdateTotalFileDebitAmt: updateTotalFileDebitAmt,
                UpdateTotalFileCreditAmt: updateTotalFileCreditAmt, UpdateHashAmount1: updateHashAmount1, UpdateHashAmount2: updateHashAmount2,
                UpdateBatchDebitAmt: updateBatchDebitAmt, UpdateBatchCreditAmt: updateBatchCreditAmt, UpdateBatchHashAmt1: updateBatchHashAmt1,
                UpdateBatchHashAmt2: updateBatchHashAmt2
            };


            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarLineas();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
        }


        function EliminarLine(element) {
            var posicion = $(element).attr("posicion");
             var i = posicion;
            $('.botones').attr("disabled", "disabled");
             var Correlativo = $('#txtLineNumber_' + i).val();
           
            alert(Correlativo);

            var url = '@Url.Action("EliminarLine", "DirectDepositLayouts")';

            var data =
            {
                DirectDepositLayoutCode: CodigoLayout, SectionType: sectionType, SectionLineNumber: LineaNum,
                LineNumber: Correlativo
            };


            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarLineas();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
        }

        function cerrarModal() {
            $('#abrirModalLines').modal('hide');
        }


    </script>