﻿@model PagedList.IPagedList<ControlPlanilla.Models.DirectDepositLines>
@using PagedList.Mvc;

@{
    var i = 0;
}
<table class="table table-responsive table-bordered" id="tListLines" style="display: block;
    overflow-x: auto;
    white-space: nowrap;">
    <thead>
        <tr>
            <th hidden>
                @Html.HiddenFor(model => model.FirstOrDefault().LineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StartPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LengthtoExport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TypetoExport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LiteralValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TableNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TableName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FieldNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Justification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FillCharacter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FieldTypeandLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ConverttoUpperCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RemoveSpaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RemoveSpecialCharacters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().IncludeDecimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DateFormat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TimeFormat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FieldStartPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FieldLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RequiredField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CheckDigit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateTotalFileDebitAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateTotalFileCreditAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateHashAmount1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateHashAmount2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateBatchDebitAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateBatchCreditAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateBatchHashAmt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateBatchHashAmt2)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DirectDepositSections.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DirectDepositLineType.DESCRIPCION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DirectDepositTypeToExport.DESCRIPCION)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td hidden>
                    @Html.EditorFor(modelItem => item.LineNumber, new { htmlAttributes = new { @class = "form-control", @id = "txtLineNumber_" + i, @posicion = i, @style = "width:250px;" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Description, new { htmlAttributes = new { @class = "form-control", @id = "txtDescription_" + i, @posicion = i, @style = "width:250px;" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.StartPosition, new { htmlAttributes = new { @class = "form-control", @id = "StartPosition_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.LengthtoExport, new { htmlAttributes = new { @class = "form-control", @id = "LengthtoExport_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.DropDownList("TypetoExport" + i, new SelectList(ViewBag.TypetoExport, "Value", "Text", item.TypetoExport), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:100px;" })
                </td>
                <td>
                    @Html.DropDownList("LineType" + i, new SelectList(ViewBag.LineType, "Value", "Text", item.LineType), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:100px;" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.LiteralValue, new { htmlAttributes = new { @class = "form-control", @id = "LiteralValue_" + i, @posicion = i, @style = "width:100px;"} })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.TableNo, new { htmlAttributes = new { @class = "form-control", @id = "TableNo_" + i, @posicion = i, @style = "width:100px;" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.TableName, new { htmlAttributes = new { @class = "form-control", @id = "TableName_" + i, @posicion = i, @style = "width:125px;" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.FieldNo, new { htmlAttributes = new { @class = "form-control", @id = "FieldNo_" + i, @posicion = i, @style = "width:100px;" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.FieldName, new { htmlAttributes = new { @class = "form-control", @id = "FieldName_" + i, @posicion = i, @style = "width:100px;" } })
                </td>
                <td>
                    @Html.DropDownList("Justification" + i, new SelectList(ViewBag.TypeJustification, "Value", "Text", item.Justification), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:110px;" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.FillCharacter, new { htmlAttributes = new { @class = "form-control", @id = "FillCharacter_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.FieldTypeandLength, new { htmlAttributes = new { @class = "form-control", @id = "FieldTypeandLength_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.ConverttoUpperCase, new { htmlAttributes = new { @class = "form-control", @id = "ConverttoUpperCase_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.RemoveSpaces, new { htmlAttributes = new { @class = "form-control", @id = "RemoveSpaces_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.RemoveSpecialCharacters, new { htmlAttributes = new { @class = "form-control", @id = "RemoveSpecialCharacters_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IncludeDecimal, new { htmlAttributes = new { @class = "form-control", @id = "IncludeDecimal_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.DropDownList("DateFormat_" + i, new SelectList(ViewBag.DateFormat, "Value", "Text", item.DateFormat), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:115px;" })
                </td>
                <td>
                    @Html.DropDownList("TimeFormat_" + i, new SelectList(ViewBag.TimeFormat, "Value", "Text", item.TimeFormat), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:75px;" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.FieldStartPosition, new { htmlAttributes = new { @class = "form-control", @id = "FieldStartPosition_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.FieldLength, new { htmlAttributes = new { @class = "form-control", @id = "FieldLength_" + i, @posicion = i, @style = "width:100px;" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.RequiredField, new { htmlAttributes = new { @class = "form-control", @id = "RequiredField_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.CheckDigit, new { htmlAttributes = new { @class = "form-control", @id = "CheckDigit_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UpdateTotalFileDebitAmt, new { htmlAttributes = new { @class = "form-control", @id = "UpdateTotalFileDebitAmt_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UpdateTotalFileCreditAmt, new { htmlAttributes = new { @class = "form-control", @id = "UpdateTotalFileCreditAmt_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UpdateHashAmount1, new { htmlAttributes = new { @class = "form-control", @id = "UpdateHashAmount1_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UpdateHashAmount2, new { htmlAttributes = new { @class = "form-control", @id = "UpdateHashAmount2_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UpdateBatchDebitAmt, new { htmlAttributes = new { @class = "form-control", @id = "UpdateBatchDebitAmt_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UpdateBatchCreditAmt, new { htmlAttributes = new { @class = "form-control", @id = "UpdateBatchCreditAmt_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UpdateBatchHashAmt1, new { htmlAttributes = new { @class = "form-control", @id = "UpdateBatchHashAmt1_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.UpdateBatchHashAmt2, new { htmlAttributes = new { @class = "form-control", @id = "UpdateBatchHashAmt2_" + i, @posicion = i } })
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DirectDepositSections.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DirectDepositLineType.DESCRIPCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DirectDepositTypeToExport.DESCRIPCION)
                    </td>*@
                <td>
                    <button class="btn btn-sm botones" onclick="EditarLine(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarLine(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
            </tr>
        }

        <!--Para crear registro-->
        <tr>
            <td>
                <input type="text" id="txtDescription" class="form-control" style="width:250px;" />
            </td>
            <td>
                <input type="number" id="StartPosition" class="form-control" />
            </td>
            <td>
                <input type="number" id="LengthtoExport" class="form-control" />
            </td>
            <td>
                @Html.DropDownList("TypetoExport", new SelectList(ViewBag.TypetoExport, "Value", "Text"), htmlAttributes: new { @class = "form-control", @style="width:100px;" })
            </td>
            <td>
                @Html.DropDownList("LineType", new SelectList(ViewBag.LineType, "Value", "Text"), htmlAttributes: new { @class = "form-control", @style="width:100px;" })
            </td>
            <td>
                <input type="text" id="LiteralValue" maxlength="30" class="form-control" />
            </td>
            <td>
                <input type="number" id="TableNo" class="form-control" style="width:100px;" />
            </td>
            <td>
                <input type="text" id="TableName" maxlength="30" class="form-control" style="width:100px;" />
            </td>
            <td>
                <input type="number" id="FieldNo" class="form-control" style="width:100px;"/>
            </td>
            <td>
                <input type="text" id="FieldName" maxlength="30" class="form-control" style="width:100px;" />
            </td>
            <td>
                @Html.DropDownList("Justification", new SelectList(ViewBag.TypeJustification, "Value", "Text"), htmlAttributes: new { @class = "form-control", @style="width:100px;" })
            </td>
            <td>
                <input type="text" id="FillCharacter" maxlength="1" class="form-control" />
            </td>
            <td>
                <input type="text" id="FieldTypeandLength" maxlength="30" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="ConverttoUpperCase" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="RemoveSpaces" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="RemoveSpecialCharacters" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="IncludeDecimal" class="form-control" />
            </td>
            <td>
                @Html.DropDownList("DateFormat", new SelectList(ViewBag.DateFormat, "Value", "Text"), htmlAttributes: new { @class = "form-control", @style="width:125px;" })
            </td>
            <td>
                @Html.DropDownList("TimeFormat", new SelectList(ViewBag.TimeFormat, "Value", "Text"), htmlAttributes: new { @class = "form-control", @style="width:75px;" })
            </td>
            <td>
                <input type="number" id="FieldStartPosition" class="form-control" />
            </td>
            <td>
                <input type="number" id="FieldLength" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="RequiredField" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="CheckDigit" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="UpdateTotalFileDebitAmt" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="UpdateTotalFileCreditAmt" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="UpdateHashAmount1" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="UpdateHashAmount2" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="UpdateBatchDebitAmt" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="UpdateBatchCreditAmt" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="UpdateBatchHashAmt1" class="form-control" />
            </td>
            <td>
                <input type="checkbox" id="UpdateBatchHashAmt2" class="form-control" />
            </td>
            <td>
                <button class="btn btn-sm botones" onclick="CrearLine()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>



<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("DirectDepositLines", "DirectDepositLayouts",
    new { CodidoLayout = ViewBag.CodidoLayout, SectionType = ViewBag.SectionType, LineNumber = ViewBag.LineNumber, page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {

            HttpMethod = "POST",
            UpdateTargetId = "LinesList",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))