﻿@model PagedList.IPagedList<ControlPlanilla.Models.DirectDepositLayout>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Emisión de Archivo Para Abono a Empleados</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>

                    @using (Html.BeginForm())
                    {
                        <p>
                            Buscar por código: @Html.TextBox("SearchString")
                            <input type="submit" value="Buscar" />
                        </p>
                    }
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().RecordLength)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().BlockingFactor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().BlockFiller)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().DirectDepositTypeLayout.DESCRIPCION)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                        </td>
                        <td>
                            <a href="" class="btn btn-info btn-xs sections" data-toggle="modal" data-target="#myModal" data-id="@item.Code">
                                <span class="glyphicon glyphicon glyphicon-modal-window">
                                    @item.Code
                                </span>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecordLength)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BlockingFactor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BlockFiller)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DirectDepositTypeLayout.DESCRIPCION)
                        </td>
                    </tr>
                        }

                    </table>
                </div>
        <br />


<!--Modal para la seccion del arhivo de abono-->
<div class="modal fade" id="abrirModalSections" name="abrirModalSections" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelSections">Direct Deposit Sections</label>
            </div>
            <div class="modal-body col-12">
                <div id="ListSections" name="ListSections" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<script>
    var CodigoLayout = "";
    //Everytime we press delete in the table row
    $('.sections').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        var id = $(this).data('id');

        //$('#item-to-delete').val(id);

        $('#myLabelSections').html("Direct Deposit Sections: " + id);

        TraerSections(id)
    });

     function TraerSections(Code)
     {
          $.blockUI();
         CodigoLayout = Code;
        var url = '@Url.Action("DirectDepositSections", "DirectDepositLayouts")';
        var data = { Codigo: Code };

         $.post(url, data).done(function (result) {

            $('#ListSections').html('');
            $('#ListSections').html(result);
            $('#abrirModalSections').modal('show');

            $.unblockUI();
         });
     }

    //CRUD de DirectDepositSections
    function ActualizarSections() {
        $.blockUI();
        var url = '@Url.Action("DirectDepositSections", "DirectDepositLayouts")';
        var data = { Codigo: CodigoLayout };

        $.post(url, data).done(function (result) {
            $('#ListSections').html('');
            $('#ListSections').html(result);
            $.unblockUI();
        });

    }
    function CrearSections() {
        $('.botones').attr("disabled", "disabled");

        var DirectDepositLayoutCode= '@ViewBag.Codigo'
        var SecType = $('#SectionType').val();
        var SeqNumber = $('#SequenceNumber').val();
        var ds = $('#Description').val();
        var ITLineCount = document.getElementById('IncTotalLineCount').checked;
        var ITHeaderCount = document.getElementById('IncTotalHeaderCount').checked;
        var ITDetailCount = document.getElementById('IncTotalDetailCount').checked;
        var ITFooterCount = document.getElementById('IncTotalFooterCount').checked;
        var ITCreditCount = document.getElementById('IncTotalCreditCount').checked;
        var ITDebitCount = document.getElementById('IncTotalDebitCount').checked;
        var ITBatchCount = document.getElementById('IncTotalBatchCount').checked;
        var IBDetailCount = document.getElementById('IncBatchDetailCount').checked;
        var ResBatchTotals = document.getElementById('ResetBatchTotals').checked;


        var url = '@Url.Action("CrearSections", "DirectDepositLayouts")';

        var data =
        {
            DirectDepositLayoutCode: CodigoLayout, SectionType: SecType, SequenceNumber: SeqNumber,
            Description: ds, IncTotalLineCount: ITLineCount, IncTotalHeaderCount: ITHeaderCount,
            IncTotalDetailCount: ITDetailCount, IncTotalFooterCount: ITFooterCount, IncTotalCreditCount: ITCreditCount,
            IncTotalDebitCount: ITDebitCount, IncTotalBatchCount: ITBatchCount, IncBatchDetailCount: IBDetailCount,
            ResetBatchTotals: ResBatchTotals
        };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarSections();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });


    }

    function EditarSections(element) {
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var linenum = $('#LineNumber_' + i).val();
        $('.botones').attr("disabled", "disabled");
        var DirectDepositLayoutCode= '@ViewBag.Codigo'
        var SecType = $('#SectionType_'+i).val();
        var SeqNumber = $('#SequenceNumber_'+i).val();
        var ds = $('#Description_' + i).val();
        var ITLineCount = document.getElementById('IncTotalLineCount_'+i).checked;
        var ITHeaderCount = document.getElementById('IncTotalHeaderCount_'+i).checked;
        var ITDetailCount = document.getElementById('IncTotalDetailCount_'+i).checked;
        var ITFooterCount = document.getElementById('IncTotalFooterCount_'+i).checked;
        var ITCreditCount = document.getElementById('IncTotalCreditCount_'+i).checked;
        var ITDebitCount = document.getElementById('IncTotalDebitCount_'+i).checked;
        var ITBatchCount = document.getElementById('IncTotalBatchCount_'+i).checked;
        var IBDetailCount = document.getElementById('IncBatchDetailCount_'+i).checked;
        var ResBatchTotals = document.getElementById('ResetBatchTotals_'+i).checked;

        var url = '@Url.Action("EditarSections", "DirectDepositLayouts")';

        var data =
        {
            DirectDepositLayoutCode: CodigoLayout, LineNumber: linenum, SectionType: SecType, SequenceNumber: SeqNumber,
            Description: ds, IncTotalLineCount: ITLineCount, IncTotalHeaderCount: ITHeaderCount,
            IncTotalDetailCount: ITDetailCount, IncTotalFooterCount: ITFooterCount, IncTotalCreditCount: ITCreditCount,
            IncTotalDebitCount: ITDebitCount, IncTotalBatchCount: ITBatchCount, IncBatchDetailCount: IBDetailCount,
            ResetBatchTotals: ResBatchTotals
        };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarSections();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                });
        $('.botones').removeAttr("disabled", "disabled");

    }


    function EliminarSections(element) {
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var linenum = $('#LineNumber_' + i).val();
        $('.botones').attr("disabled", "disabled");
        var DirectDepositLayoutCode= '@ViewBag.Codigo'
        var SecType = $('#SectionType_'+i).val();


        var url = '@Url.Action("EliminarSections", "DirectDepositLayouts")';

        var data =
        {
            DirectDepositLayoutCode: CodigoLayout, LineNumber: linenum, SectionType: SecType
        };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarSections();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                });
        $('.botones').removeAttr("disabled", "disabled");

    }

</script>