﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Base Amounts Details</h3>
                    <ul ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos Generales</a></li>
                        <li class="nav-item"><a class="nav-link" id="Detalles-tab" data-toggle="tab" href="#Detalles" role="tab" aria-controls="Detalles" aria-selected="false">Detalles</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
                            <br />
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <th>Type Filter</th>
                                    <th>Name Filter</th>
                                    <th>Rep. Auth. Type Filter</th>
                                    <th>Work Rep. Auth. Code Filter</th>
                                    <th>Work Type Filter</th>
                                    <th>G/L Port Type Filter</th>
                                    <th>Control Code Filter</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="Detalles" role="tabpanel" aria-labelledby="Detalles-tab">
                            <br />
                                <form class="form" role="form" id="formBaseDet">
                                    <!--formulario -->
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Base Amount Code</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtBaseCode" name="TxtBaseCode" />
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Effective Date</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="date" class="form-control" id="TxtDate" name="TxtDate" />
                                            </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Line Number</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtNum" name="TxtNum" />
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Control Code Filter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtControl" name="TxtControl" />
                                            </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Type Filter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select id="CboTypeF" name="CboTypeF" class="form-control">
                                                    <option>Seleccione una opción</option>
                                                </select>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Name Filter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtNameF" name="TxtNameF" />
                                            </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Rep Auth Type Filter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtRepF" name="TxtRepF" />
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Work Rep Auth Code Filter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtWorkF" name="TxtWorkF" />
                                            </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>GLPostTypeFilter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtGlPost" name="TxtGlPost" />
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>WorkTypeFilter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtWorkType" name="TxtWorkType" />
                                            </div>
                                            </div>
                                        </div> 
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>CountyFilter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtCountry" name="TxtCountry" />
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>LocalityFilter</label>
                                            </div>
                                            </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="TxtLocalF" name="TxtLocalF" />
                                            </div>
                                            </div>
                                        </div>
                                    <br />
                                    <button class="btn btn-primary" id="limpiar">Limpiar</button>
                                    <button class="btn btn-primary" id="guardar">Guardar</button>
                                    <button Class="btn btn-primary" id="actualizar">Actualizar</button>
                                    <br />
                                </form><!--fin formulario -->

                            </div>
                        </div>

                



