﻿@model ControlPlanilla.Models.EMPRESAS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle empresas</h3>
                <div class="col-sm-12">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.DS_EMPRESA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DS_EMPRESA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ESTADO)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ESTADO)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_ACTU)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_ACTU)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.CD_EMPRESA }) |
                        @Html.ActionLink("Regresar", "Index")
                    </p>
                </div>