﻿@model IEnumerable<ControlPlanilla.Models.EMPRESAS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Empresas</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Crear registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.CD_EMPRESA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DS_EMPRESA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ESTADO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.USUA_ACTU)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FECH_ACTU)
                            </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.CD_EMPRESA }) |
                                    @Html.ActionLink("Detalles", "Details", new { id = item.CD_EMPRESA }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.CD_EMPRESA })
                                </td>
                                <td>
                                    <a href="" class="btn btn-info btn-xs cdEmpresa" data-toggle="modal" data-target="#myModal" data-id="@item.CD_EMPRESA"
                                       dsEmpresa="@item.DS_EMPRESA">
                                        <span class="glyphicon glyphicon glyphicon-modal-window">
                                            @item.CD_EMPRESA
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DS_EMPRESA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ESTADO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USUA_CREA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FECH_CREA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USUA_ACTU)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FECH_ACTU)
                                </td>

                            </tr>
                        }

                    </table>
                </div>

<!--Modal -->
<div class="modal fade" id="abrirModalEmpresa" name="abrirModalEmpresa" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelEmpresa"></label>
            </div>
            <div class="modal-body col-12">
                <div id="ListRelacion" name="ListRelacion" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>
    var cdEmpresa = "";
    var dsEmpresa = "";
    $('.cdEmpresa').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete

        cdEmpresa = $(this).data('id');
        dsEmpresa = $(this).attr("dsEmpresa");
        
        $('#myLabelEmpresa').html("Relación empresa país: " + dsEmpresa);

        TraerRelacion()
    });

     function TraerRelacion()
     {
          $.blockUI();

        var url = '@Url.Action("RelacionPais", "EMPRESAS")';
         var data = { CdEmpresa: cdEmpresa};


         $.post(url, data).done(function (result) {

            $('#ListRelacion').html('');
            $('#ListRelacion').html(result);
            $('#abrirModalEmpresa').modal('show');

            $.unblockUI();
         });
    }
    function ActualizarRelacion()
     {
        var url = '@Url.Action("RelacionPais", "EMPRESAS")';
        var data = { CdEmpresa: cdEmpresa};


         $.post(url, data).done(function (result) {
            $('#ListRelacion').html('');
            $('#ListRelacion').html(result);
         });
    }

    function CrearRelacion()
    {
        $('.botones').attr("disabled", "disabled");

        var url = '@Url.Action("CrearRelacion", "EMPRESAS")';

        var cdPais = $('#CD_PAIS').val();
        var data = { CdEmpresa: cdEmpresa, CD_PAIS: cdPais};


         $.post(url, data).done(function (result) {
             if (result == "True") {
                 toastr.success("Relación creada con éxito");
                 ActualizarRelacion();
             
             }
             else
             {
                 toastr.error("Hubo error al crear la relación");
             }
             $('.botones').removeAttr("disabled", "disabled");
         });
    }

    function EditarRelacion()
    {
        $('.botones').attr("disabled", "disabled");

        var url = '@Url.Action("EditarRelacion", "EMPRESAS")';
        var idRelacion = $('#ID_RELACION').val();
        var cdPais = $('#CD_PAIS').val();
        var data = { ID_RELACION: idRelacion, CdEmpresa: cdEmpresa, CD_PAIS: cdPais};


         $.post(url, data).done(function (result) {
             if (result == "True") {
                 toastr.success("Relación actualizada con éxito");
                 ActualizarRelacion();
             
             }
             else
             {
                 toastr.error("Hubo error al actualizar la relación");
             }
             $('.botones').removeAttr("disabled", "disabled");
         });
    }

</script>