﻿@model ControlPlanilla.Models.RELACION_EMPRESA_PAIS


<div class="table-responsive" style="padding:15px">
    <div>
        <hr />
        <dl class="dl-horizontal">
            @if (Model != null)
            {
                @Html.HiddenFor(model => model.ID_RELACION)
            }
            <dt>
                <label>País</label>
            </dt>
            <dd>
                @if (Model != null)
                {

                    @Html.DropDownList("CD_PAIS", new SelectList(ViewBag.CD_PAIS, "Value", "Text", Model.CD_PAIS),
            htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownListFor(model => model.CD_PAIS,
                        new SelectList(ViewBag.CD_PAIS, "Value", "Text", Model.CD_PAIS),
                        htmlAttributes: new { @class = "form-control" })*@

                }
                else
                {
                    @Html.DropDownList("CD_PAIS", new SelectList(ViewBag.CD_PAIS, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                }
            </dd>
        </dl>

    </div>
    <div style="text-align:center;">
        <br />
        @if (Model != null)
        {

            <input type="button" onclick="EditarRelacion()" value="Guardar" class="btn btn-primary" />

        }
        else
        {

            <input type="button" onclick="CrearRelacion()" value="Guardar" class="btn btn-primary" />

        }
    </div>
</div>
@{ string cdPais = "";
    if (Model != null)
    {
        cdPais = Model.CD_PAIS;
    }


}
<script>

    //Se ejecuta la accion cuando se termina de cargar el modal
    //Para seleccionar el pais de relacion configurado
    $('#abrirModalEmpresa').on('shown.bs.modal', function (e) {
        var sel = $('#CD_PAIS').val();
        $("#CD_PAIS option[value=" + sel + "]").removeAttr("selected");
        if ('@cdPais' != "")
        {
            $("#CD_PAIS option[value=" + '@cdPais' + "]").attr("selected", true);

        }

    });
</script>