﻿@model ControlPlanilla.Models.UsuariosViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Crear Usuario</h3> 

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="col-sm-12">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.CD_CODIGO_USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CD_CODIGO_USUARIO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.CD_CODIGO_USUARIO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DS_NOMBRE_USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DS_NOMBRE_USUARIO, new { htmlAttributes = new { @class = "form-control", @id = "txtNombre", @name = "txtNombre" } })
                                @Html.ValidationMessageFor(model => model.DS_NOMBRE_USUARIO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CD_CLAVE_USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CD_CLAVE_USUARIO, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "txtPass", @name = "txtPass" } })
                                @Html.ValidationMessageFor(model => model.CD_CLAVE_USUARIO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CD_DIRE_EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CD_DIRE_EMAIL, new { htmlAttributes = new { @class = "form-control", @type = "email", @id = "txtEmail", @name = "txtEmail" } })
                                @Html.ValidationMessageFor(model => model.CD_DIRE_EMAIL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.CD_ESTADO_USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CD_ESTADO_USUARIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CD_ESTADO_USUARIO, "", new { @class = "text-danger" })
            </div>*@
                            <label class="control-label col-md-2">ESTADO</label>

                            <div class="col-md-10">
                                <select class="form-control" name="CD_ESTADO" id="CD_ESTADO">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">PAIS</label>
                            <div class="col-md-10">
                                <select class="form-control" name="cmbPaises" id="cmbPaises" required>
                                    @foreach (var item in ViewBag.cmbPaises)
                                    {
                                        <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.CD_EMPRESA_DEFECTO, htmlAttributes: new { @class = "control-label col-md-2" })*@

                            @*@Html.EditorFor(model => model.CD_EMPRESA_DEFECTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CD_EMPRESA_DEFECTO, "", new { @class = "text-danger" })*@
                            <label class="col-md-2 control-label">EMPRESA</label>

                            <div class="col-md-10">
                                <select class="form-control" name="CD_EMPRESA_DEFECTO" id="CD_EMPRESA_DEFECTO" required>
                                </select>
                            </div>

                        </div>



                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" /> |
                            @Html.ActionLink("Regresar a la Lista", "Index")
                        </div>
                    </div>
                    }
        <br />



<script>
    window.onload = function ()
    {
        //funciones a ejecutar
        $.blockUI();
        cargarEmpresas($('#cmbPaises').val());
        cargarEstadosUsuarios();
        $.unblockUI();
    };

    $("#cmbPaises").change(function () {
        cargarEmpresas($('#cmbPaises').val());
    });

    //ViewBag.cmbEstadosUsuarios
    function cargarEstadosUsuarios() {
            //debugger;
            var url = '@Url.Action("EstadoUsuario","Home")';
            var data = "";  // { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#CD_ESTADO').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#CD_ESTADO').append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
                }
            });
    }

    function cargarEmpresas(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerEmpresas","Home")';
            var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#CD_EMPRESA_DEFECTO').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#CD_EMPRESA_DEFECTO').append('<option value="' + result[i].CD_EMPRESA + '">' + result[i].DS_EMPRESA + '</option>')
                }
            });
    }


    //Crear usuario
    @*function CrearUsuario() {
        //debugger;
        $.blockUI();
        var cd_usuario ="";
        var nombre = $('#txtNombre').val();
        var clave = $('#txtPass').val();
        var email = $('#txtEmail').val();
        var cd_estado = $('#cmbEstadosUsuarios').val();

        var cd_empresa = $('#SelectedEmpresa').val()
        var url = '@Url.Action("Create", "GlobalUsuarios")';
        var data = {
                CD_CODIGO_USUARIO: cd_usuario, DS_NOMBRE_USUARIO: nombre, CD_CLAVE_USUARIO: clave, CD_DIRE_EMAIL: email,
                CD_ESTADO: cd_estado,
                CD_EMPRESA_DEFECTO: cd_empresa
                    };

        $.post(url, data).done(function() {
            $.unblockUI();
        });


    }*@

</script>
