﻿@model ControlPlanilla.Models.UsuariosViewModels

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Usuario</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                        <h3>¿Está seguro de eliminar este usuario?</h3>
                        <div>

                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.DS_NOMBRE_USUARIO)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DS_NOMBRE_USUARIO)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CD_CLAVE_USUARIO)
                                </dt>

                                <dd>
                                    ***************
                                    @*@Html.DisplayFor(model => model.CD_CLAVE_USUARIO)*@
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CD_DIRE_EMAIL)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CD_DIRE_EMAIL)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CD_ESTADO)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CD_ESTADO)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CD_EMPRESA_DEFECTO)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CD_EMPRESA_DEFECTO)
                                </dd>

                                @*<dt>
                                    @Html.DisplayNameFor(model => model.USUA_CREA)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.USUA_CREA)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FECH_CREA)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FECH_CREA)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.USUA_ACTU)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.USUA_ACTU)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FECH_ACTU)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FECH_ACTU)
                                </dd>*@

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                                    @Html.ActionLink("Regresar a la Lista", "Index")
                                </div>
                            }
                        </div>
                    </div>