﻿@model ControlPlanilla.Models.USUARIOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Usuario</h3>

                <div class="col-sm-12">
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.DS_NOMBRE_USUARIO)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DS_NOMBRE_USUARIO)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CD_CLAVE_USUARIO)
                            </dt>

                            <dd>
                                ***************@*@Html.DisplayFor(model => model.CD_CLAVE_USUARIO)*@
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CD_DIRE_EMAIL)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CD_DIRE_EMAIL)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CD_ESTADO_USUARIO)
                            </dt>
                            <dd>
                                @if (Model.CD_ESTADO_USUARIO == "A")
                                {
                                    <text>Activo</text>
                                }
                                else if (Model.CD_ESTADO_USUARIO == "S")
                                {
                                    <text>Suspendido</text>
                                }
                                else if (Model.CD_ESTADO_USUARIO == "D")
                                {
                                    <text>Desactivado</text>
                                }
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CD_EMPRESA_DEFECTO)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CD_EMPRESA_DEFECTO)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_ACTU)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_ACTU)
                            </dd>

                        </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.CD_CODIGO_USUARIO }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>
        <br />