﻿@model ControlPlanilla.Models.UsuariosViewModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3> Editar Usuarios</h3>
                <div class="table-responsive" style="padding:15px">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="col-sm-12">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CD_CODIGO_USUARIO)

                        <div class="form-group">
                            @Html.LabelFor(model => model.DS_NOMBRE_USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DS_NOMBRE_USUARIO, new { htmlAttributes = new { @class = "form-control", @id = "txtNombre", @name = "txtNombre" } })
                                @Html.ValidationMessageFor(model => model.DS_NOMBRE_USUARIO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CD_CLAVE_USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CD_CLAVE_USUARIO, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "txtPass", @name = "txtPass" } })
                                @Html.ValidationMessageFor(model => model.CD_CLAVE_USUARIO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CD_DIRE_EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CD_DIRE_EMAIL, new { htmlAttributes = new { @class = "form-control", type = "email", @id = "txtEmail", @name = "txtEmail" } })
                                @Html.ValidationMessageFor(model => model.CD_DIRE_EMAIL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Estado</label>

                            <div class="col-md-10">
                                <select class="form-control" name="CD_ESTADO" id="CD_ESTADO">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">País</label>
                            <div class="col-md-10">
                                <select class="form-control" name="cmbPaises" id="cmbPaises">
                                    @foreach (var item in ViewBag.cmbPaises)
                                    {
                                        <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">Empresa</label>

                            <div class="col-md-10">
                                <select class="form-control" name="CD_EMPRESA_DEFECTO" id="CD_EMPRESA_DEFECTO">
                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" /> |
                            @Html.ActionLink("Regresar a la Lista", "Index")
                        </div>
                    </div>
                    }
                </div>
        <br />



<script>
    window.onload = function ()
    {
        //funciones a ejecutar
        $.blockUI();
        selectPais();

        cargarEstadosUsuarios();

        $.unblockUI();
    };

    $("#cmbPaises").change(function () {
        cargarEmpresas($('#cmbPaises').val());
    });

    //Selecionar pais de la empresa por defecto
    function selectPais() {
        var cdEmpresa = '@Model.CD_EMPRESA_DEFECTO';
        var url = '@Url.Action("ObtenerPaisSeleccionado","Auditoria")';
        var data = { cd_empresa: cdEmpresa };
            $.post(url, data).done(function (result) {
                $("#cmbPaises option[value=" + result + "]").attr("selected", true);
                cargarEmpresas($('#cmbPaises').val());
            });

    }
    //ViewBag.cmbEstadosUsuarios
    function cargarEstadosUsuarios() {
            //debugger;
            var url = '@Url.Action("EstadoUsuario","Home")';
            var data = "";  // { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#CD_ESTADO').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#CD_ESTADO').append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
                }
                $("#CD_ESTADO option[value="+ '@Model.CD_ESTADO' +"]").attr("selected",true);
            });

    }

    function cargarEmpresas(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerEmpresas","Home")';
            var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#CD_EMPRESA_DEFECTO').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#CD_EMPRESA_DEFECTO').append('<option value="' + result[i].CD_EMPRESA + '">' + result[i].DS_EMPRESA + '</option>')
                }
                $("#CD_EMPRESA_DEFECTO option[value="+ '@Model.CD_EMPRESA_DEFECTO' +"]").attr("selected",true);
            });
    }


    //Editar usuario
    @*function EditarUsuario() {
        $.blockUI();
        var cd_usuario ='@Model.CD_CODIGO_USUARIO';
        var nombre = $('#txtNombre').val();
        var clave = $('#txtPass').val();
        var email = $('#txtEmail').val();
        var cd_estado = $('#cmbEstadosUsuarios').val();

        var cd_empresa = $('#SelectedEmpresa').val()
        var url = '@Url.Action("Edit", "GlobalUsuarios")';
        var data = {
                CD_CODIGO_USUARIO: cd_usuario, DS_NOMBRE_USUARIO: nombre, CD_CLAVE_USUARIO: clave, CD_DIRE_EMAIL: email,
                CD_ESTADO: cd_estado,
                CD_EMPRESA_DEFECTO: cd_empresa
                    };

        $.post(url, data).done(function() {
            $.unblockUI();
        });


    }*@


</script>

