﻿@model IEnumerable<ControlPlanilla.Models.UsuariosViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado de Usuarios</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">

                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.DS_NOMBRE_USUARIO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CD_DIRE_EMAIL)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CD_ESTADO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CD_EMPRESA_DEFECTO)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CD_CODIGO_USUARIO }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.CD_CODIGO_USUARIO }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.CD_CODIGO_USUARIO })

                            |

                            @Html.ActionLink("Archivos", "SubirArchivos", "Auditoria", new { opcion = ViewBag.OpcionSistema, DsForaneo = item.DS_NOMBRE_USUARIO, CdForaneo = item.CD_CODIGO_USUARIO }, htmlAttributes: new { @class = "" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DS_NOMBRE_USUARIO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CD_DIRE_EMAIL)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.CD_ESTADO)*@
                            @if (item.CD_ESTADO == "A")
                            {
                                <div>Activo</div>
                            }
                            else if (item.CD_ESTADO == "S")
                            {
                                <div>Suspendido</div>
                            }
                            else if (item.CD_ESTADO == "D")
                            {
                                <div>Desactivado</div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CD_EMPRESA_DEFECTO)
                        </td>

                    </tr>
                        }

                    </table>
                </div>
        <br />