﻿@model ControlPlanilla.Models.BracketType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Detalle Bracket Type</h3>
<div class="col-sm-12" >

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.BracketPageID)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.BracketPageID)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesMultipleBracketLines)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesMultipleBracketLines)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesFilingStatus)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesFilingStatus)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesPayFrequency)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesPayFrequency)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesAmountOver)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesAmountOver)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesLimit)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesLimit)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesTaxPercent)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesTaxPercent)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesPercent)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesPercent)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesQuantity)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesQuantity)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesTaxAmount)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesTaxAmount)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesAmount)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesAmount)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesRateMultiple)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesRateMultiple)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesMaxWH)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesMaxWH)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesMinAmount)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesMinAmount)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesMaxAmount)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesMaxAmount)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesPerAllowance)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesPerAllowance)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesFromAllowance)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesFromAllowance)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesMatchPercent)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesMatchPercent)
                </dd>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesMaxPercent)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesMaxPercent)
                </dd>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.UsesActivationCode)
                </dt>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <dd>
                    @Html.DisplayFor(model => model.UsesActivationCode)
                </dd>
            </div>
        </div>
    </div>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
        @Html.ActionLink("Regresar a la Lista", "Index")
    </p>
</div> 
<br /> 