﻿@model ControlPlanilla.Models.BracketType

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Editar Bracket Type</h3>

<div class="table-responsive" style="padding:15px">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-sm-12">
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BracketPageID, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.EditorFor(model => model.BracketPageID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BracketPageID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesMultipleBracketLines, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesMultipleBracketLines)
                            @Html.ValidationMessageFor(model => model.UsesMultipleBracketLines, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesFilingStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesFilingStatus)
                            @Html.ValidationMessageFor(model => model.UsesFilingStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesPayFrequency, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesPayFrequency)
                            @Html.ValidationMessageFor(model => model.UsesPayFrequency, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesAmountOver, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesAmountOver)
                            @Html.ValidationMessageFor(model => model.UsesAmountOver, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesLimit, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesLimit)
                            @Html.ValidationMessageFor(model => model.UsesLimit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesTaxPercent, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesTaxPercent)
                            @Html.ValidationMessageFor(model => model.UsesTaxPercent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesPercent, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesPercent)
                            @Html.ValidationMessageFor(model => model.UsesPercent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesQuantity)
                            @Html.ValidationMessageFor(model => model.UsesQuantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesTaxAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesTaxAmount)
                            @Html.ValidationMessageFor(model => model.UsesTaxAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesAmount)
                            @Html.ValidationMessageFor(model => model.UsesAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesRateMultiple, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesRateMultiple)
                            @Html.ValidationMessageFor(model => model.UsesRateMultiple, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesMaxWH, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesMaxWH)
                            @Html.ValidationMessageFor(model => model.UsesMaxWH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesMinAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesMinAmount)
                            @Html.ValidationMessageFor(model => model.UsesMinAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesMaxAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesMaxAmount)
                            @Html.ValidationMessageFor(model => model.UsesMaxAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesPerAllowance, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesPerAllowance)
                            @Html.ValidationMessageFor(model => model.UsesPerAllowance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesFromAllowance, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesFromAllowance)
                            @Html.ValidationMessageFor(model => model.UsesFromAllowance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesMatchPercent, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesMatchPercent)
                            @Html.ValidationMessageFor(model => model.UsesMatchPercent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesMaxPercent, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesMaxPercent)
                            @Html.ValidationMessageFor(model => model.UsesMaxPercent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsesActivationCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UsesActivationCode)
                            @Html.ValidationMessageFor(model => model.UsesActivationCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    @Html.ActionLink("Regresar a la Lista", "Index")
                </div>
            </div>
        </div>
    }
</div>

