﻿@model IEnumerable<ControlPlanilla.Models.BracketType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
<br /> 
                <h3>Bracket Type</h3>
             
                <div class="col-sm-12 overflow-auto" style="height:400px;">

                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BracketPageID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesMultipleBracketLines)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesFilingStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesPayFrequency)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesAmountOver)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesLimit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesTaxPercent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesPercent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesTaxAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesRateMultiple)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesMaxWH)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesMinAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesMaxAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesPerAllowance)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesFromAllowance)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesMatchPercent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesMaxPercent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesActivationCode)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BracketPageID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesMultipleBracketLines)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesFilingStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesPayFrequency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesAmountOver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesLimit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesTaxPercent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesPercent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesTaxAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesRateMultiple)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesMaxWH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesMinAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesMaxAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesPerAllowance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesFromAllowance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesMatchPercent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesMaxPercent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsesActivationCode)
                        </td>
                    </tr>
                        }

                    </table>
                </div> 
        <br /> 