﻿
<br />
<h3>Mantenimiento Sistema</h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos generales</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="Detalles-tab" data-toggle="tab" href="#Detalles" role="tab" aria-controls="Detalles" aria-selected="false">Detalles</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
        <br />
        <div class="overflow-auto" style="height:400px;">
            @Html.Action("GridViewPartial")
        </div>
    </div>
    <div class="tab-pane fade" id="Detalles" role="tabpanel" aria-labelledby="Detalles-tab">
        <br />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblmodulo">Modulo</label>
                </div>
                </div>
            <div class="col-md-9">
                <div class="form-group">
                    <select id="cdmodulo" name="cdmodulo" class="form-control">
                        <option value="0">Seleccione una opción</option>
                        @foreach (var item in ViewBag.Sistema)
                        {
                            <option value="@item.CD_CODI_SIST">@item.DS_NOMB_SIST</option>
                        }
                    </select>
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblmenu">Menú</label>
                </div>
                </div>
            <div class="col-md-9">
                <div class="form-group">
                    <select id="cdmenu" name="cdmenu" class="form-control">
                        <option value="0">Seleccione una opción</option>
                        @foreach (var item in ViewBag.Menu)
                        {
                            <option value="@item.CD_CODI_MENU">@item.DS_DESC_MENU</option>
                        }
                    </select>
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblsubmenu">Submenú</label>
                </div>
                </div>
            <div class="col-md-9">
                <div class="form-group">
                    <select id="cdsubm" name="cdsubm" class="form-control">
                        <option value="0">Seleccione una opción</option>
                        @foreach (var item in ViewBag.Modulo)
                        {
                            <option value="@item.CD_CODI_OPCI_SIST">@item.DS_NOMBRE_FORMA</option>
                        }
                    </select>
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblestado">Estado</label>
                </div>
                </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="radio" id="activo" name="EstadoModulo" value="true" /> Activo
                    <input type="radio" id="activo" name="EstadoModulo" value="false" /> Inactivo
                </div>
                </div>
            </div>

        <br />
        <div class="form-group">
            <button class="btn btn-primary" id="limpiar" type="button">Limpiar</button>
            <button class="btn btn-primary" id="guardar" type="button">Guardar</button>
        </div>
    </div>
</div>
<br />


<script type="text/javascript">
     $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
    });

         function Create_Opcion(CD_CODI_SIST, CD_CODI_MENU, CD_CODI_OPCI_SIST,  Estado) {
        url = '@Url.Action("Create_Opcion", "GLB_CONF_OPCI_SIST")';
        var data = { CD_CODI_SIST: CD_CODI_SIST, CD_CODI_MENU: CD_CODI_MENU, CD_CODI_OPCI_SIST: CD_CODI_OPCI_SIST, Estado: Estado};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    }


    //
    $(document).ready(function () {

        $("#guardar").click(function () {
            CD_CODI_SIST = $('#cdmodulo').val();
            CD_CODI_MENU = $('#cdmenu').val();
            CD_CODI_OPCI_SIST = $('#cdsubm').val();
            Estado = $("input[name='EstadoModulo']:checked").val();
            Create_Opcion(CD_CODI_SIST, CD_CODI_MENU, CD_CODI_OPCI_SIST, Estado);
        });
        $("#limpiar").click(function () {
            LimpiarInfo();
        })
        if ('@ViewBag.idseleccinado') {
            CargarInfo('@ViewBag.idseleccinado');
        }
    });

   //cargar cliente
    function CargarInfo(CD_CODI_OPCI_SIST) {
        url = '@Url.Action("ObtenerMenus", "GLB_CONF_OPCI_SIST")';
        var data = { CD_CODI_OPCI_SIST: CD_CODI_OPCI_SIST };

        $.post(url, data).done(function (result) {
            for (var i = 0; i < result.length; i++) {
                document.getElementById("cdmodulo").value = result[i].CD_CODI_SIST;
                document.getElementById("cdmenu").value = result[i].CD_CODI_MENU;
                document.getElementById("cdsubm").value = result[i].CD_CODI_OPCI_SIST;
                $("input[name=EstadoModulo][value=" + result[i].Estado + "]").prop('checked', true);
                $('.nav-tabs a[href="#Detalles"]').tab('show');
            }
        });
    }
    //limpiar
    function LimpiarInfo() {
        document.getElementById('cdmodulo').innerHTML = "0";
        document.getElementById('cdmenu').innerHTML = "0";
        document.getElementById('cdsubm').innerHTML = "0";
        $("input[name=EstadoModulo][value=true]").prop('checked', true);
    }
</script>