﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <br /><br />
            <div class="card card-stm" style="background-color:white;">
                <div class="card-header">
                    <h3>Pay Control Category Codes</h3>
                </div>
                <div class="card-body">

                    <div class="table-responsive" style="padding:15px">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#DatosGenerales">Datos Generales</a></li>
                            <li><a data-toggle="tab" href="#Detalles">Detalles</a></li>
                        </ul>
                        <div class="tab-content center-block">
                            <div id="DatosGenerales" class="tab-pane fade in active">
                                <br />
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Code</th>
                                        <th>Descripción</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>

                            </div>
                            <div id="Detalles" class="tab-pane fade">
                                <br />
                                <label>Code</label>
                                <input type="text" id="CodCat" class="form-control" readonly="readonly" name="CodCat" />
                                <label>Descripción</label>
                                <input type="text" class="form-control" id="Descrip" name="Descrip" />                                
                                <br />

                                <button class="btn btn-primary-stm" id="limpiar">Limpiar</button>
                                <button class="btn btn-primary-stm" id="guardar">Guardar</button>
                                <button Class="btn btn-primary-stm" id="actualizar">Actualizar</button>
                                <br />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
