﻿@model ControlPlanilla.Models.PayrollControlGroupControl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PayrollControlGroupControl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayControlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayControlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollControlGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollControlGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollControlMonthlySchedule.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollControlMonthlySchedule.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollPostingGroup1.EarningsAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollPostingGroup1.EarningsAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollControlGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollControlGroup.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
