﻿@model IEnumerable<ControlPlanilla.Models.PayrollControlGroupControl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PayControlName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayrollControlGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayrollControlMonthlySchedule.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayrollPostingGroup1.EarningsAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayrollControlGroup.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PayControlName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayrollControlGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayrollControlMonthlySchedule.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayrollPostingGroup1.EarningsAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayrollControlGroup.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
