﻿@model PagedList.IPagedList<ControlPlanilla.Models.PayCycleTerm>
@using PagedList.Mvc;
@{
    var i = 0;
}
<table class="table table-responsive table-bordered" id="mitabla">
    <thead>
        <tr>
            <th>Termino</th>
            <th>Periodos por defecto</th>
            <th>Periodos generados</th>
            <th style="width:150px;">Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>
                    <input class="form-control" type="text" id="txtTerm_@i" value="@item.Term" />
                </td>
                <td>
                    <input class="form-control" type="text" id="txtDef_@i" value="@item.DefaultPeriods" />
                </td>
                <td>
                    <input class="form-control" type="text" id="txtGen_@i" value="@item.PeriodsGenerated" />
                </td>
                <td>
                    <button class="btn btn-sm" onclick="Edit(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm" onclick="Delete(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                    |
                    @*<a href="" class="btn btn-sm btn-xs per" data-toggle="modal" data-target="abrirModalPer" data-id="@item.Term">
                        <span class="glyphicon glyphicon glyphicon-modal-window"></span>
                    </a>*@
                    <button class="btn btn-sm per" data-toggle="modal" data-target="abrirModalPer" data-id="@item.Term">
                        <span class="glyphicon glyphicon glyphicon-modal-window"></span>
                    </button>
                </td>
            </tr>
        }

        <tr>
            <td>
                <input class="form-control" type="text" id="txtTerm" />
            </td>
            <td>
                <input class="form-control" type="text" id="txtDef" />
            </td>
            <td>
                <input class="form-control" type="text" id="txtGen" />
            </td>
            <td>
                <button class="btn btn-sm" type="button" onclick="Create()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br />

@*@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@


    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("AsociarTerminos", "PayCycles", new { PayCycleCode = ViewBag.PayCycleCode, page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {
            
            HttpMethod = "POST",
            UpdateTargetId = "TermsList",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))




    <div class="modal fade" id="abrirModalPer" name="abrirModalPer" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 class="modal-title" id="myModalLabelPer">Periodos de ciclo de pago: </h4>
                </div>
                <div class="modal-body">
                    <div id="PerList" name="PerList"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="cerrarModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <script>

    function Create() {
        var code = '@ViewBag.PayCycleCode';
        var term = $('#txtTerm').val();
        var def = $('#txtDef').val()
        var gen = $('#txtGen').val()

        url = '@Url.Action("CreateTerm", "PayCycles")';
        var data = { Term:term,  PayCycleCode: code, DefaultPeriods: def, PeriodsGenerated: gen };

        $.post(url, data).done(function (result) {
                if (result)
                {
                    ActualizarCampos();
                }
            });
        }

        function Edit(element) {
            var posicion = $(element).attr("posicion");
            var i = posicion;
            var code = '@ViewBag.PayCycleCode';
            var term = $('#txtTerm_'+i).val();
            var def = $('#txtDef_' + i).val();
            var gen = $('#txtGen_' + i).val();

            var url = '@Url.Action("EditTerm", "PayCycles")';
            var data = { Term:term,  PayCycleCode: code, DefaultPeriods: def, PeriodsGenerated: gen };

            $.post(url, data).done(function (result) {
                if (result)
                {
                    ActualizarCampos();
                }
            });
        }

        function Delete(element) {
            var posicion = $(element).attr("posicion");
            var i = posicion;
            var term = $('#txtTerm_' + i).val();
            var code = '@ViewBag.PayCycleCode';
            var url = '@Url.Action("DeleteTerm", "PayCycles")';
            var data = { id:term, PayCycle: code};

            $.post(url, data).done(function (result) {
                if (result)
                {
                    ActualizarCampos();
                }
            });
        }

        function ActualizarCampos() {

            var url = '@Url.Action("AsociarTerminos", "PayCycles")';
            var data = { PayCycleCode: '@ViewBag.PayCycleCode'};

            $.post(url, data).done(function (result) {
                    $('#TermsList').html('');
                    $('#TermsList').html(result);
            });

        }

        /* para los periodos de pago */
         $('.per').click(function(e) {
           e.preventDefault();

           //Update the item to delete id so our model knows which one to delete
           var id = $(this).data('id');
            TraerPeriodos(id);
           $('#myModalLabelPer').html("Periodos de ciclo de pago: " + id);

         });

        function TraerPeriodos(termino) {
            var url = '@Url.Action("AsociarPeriodos", "PayCycles")';
            var data = { Term: termino, PayCycle:'@ViewBag.PayCycleCode'};

            $.post(url, data).done(function (result) {
                    $('#PerList').html('');
                $('#PerList').html(result);
                $('#abrirModalPer').modal('show');
                //$('#abrirModalTerms').modal('hide');
            });
        }

        function cerrarModal() {
            $('#abrirModalPer').modal('hide');
            //$('#abrirModalTerms').modal('show');
        }



        function CreatePer(element) {
        /*  PayCycleCode, PayCycleTerm, Period, StartDate, EndDate, PayDate */
            $.blockUI();
            var i = $(element).val();
            var PayCycleCode= '@ViewBag.PayCycleCode'
            var term = $(element).val();;
            var periodo = $('#txtPeriodo').val();

            var fInicio = $('#txtFechaInicio').val();
            var fFin = $('#txtFechaFin').val();

            var fPago = $('#txtFechaPago').val();

            url = '@Url.Action("CreatePer", "PayCycles")';

            var data = {PayCycleCode: PayCycleCode, PayCycleTerm:term, Period: periodo, StartDate: fInicio, EndDate:fFin, PayDate:fPago };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarCamposPer();
                        $.unblockUI();
                    }
                $.unblockUI();
                });
        }

        function EditPer(element) {
            $.blockUI();
            var posicion = $(element).attr("posicion");
            var i = posicion;
            var PayCycleCode= '@ViewBag.PayCycleCode'
            var term = $(element).val();
            var periodo = $('#txtPeriodo_'+i).val();
            var fInicio = $('#txtFechaInicio_'+i).val();
            var fFin = $('#txtFechaFin_'+i).val();
            var fPago = $('#txtFechaPago_'+i).val();
            var url = '@Url.Action("EditPer", "PayCycles")';
            var data = {PayCycleCode: PayCycleCode, PayCycleTerm:term, Period: periodo, StartDate: fInicio, EndDate:fFin, PayDate:fPago };

            $.post(url, data).done(function (result) {
                if (result)
                {

                    ActualizarCamposPer();
                    $.unblockUI();
                }
                $.unblockUI();
            });
        }

        function DeletePer(element) {
            $.blockUI();
            var posicion = $(element).attr("posicion");
            var i = posicion;
            var periodo = $('#txtPeriodo_' + i).val();
            var term = $(element).val();
            var Code= '@ViewBag.PayCycleCode'
            var url = '@Url.Action("DeletePer", "PayCycles")';
            var data = { id:periodo, PayCycleCode: Code, Term: term};

            $.post(url, data).done(function (result) {
                if (result)
                {
                    ActualizarCamposPer();
                    $.unblockUI();
                }
                $.unblockUI();
            });
        }


        function ActualizarCamposPer() {
            $.blockUI();
            var url = '@Url.Action("AsociarPeriodos", "PayCycles")';
            var data = { Term: ""};

            $.post(url, data).done(function (result) {
                    $('#PerList').html('');
                $('#PerList').html(result);
                $.unblockUI();
            });
        }


    </script>


