﻿@model PagedList.IPagedList<ControlPlanilla.Models.PayCyclePeriod>
@using PagedList.Mvc;
@{
    var i = 0;
}

<table class="table table-responsive table-bordered" id="mitabla">
    <thead>
        <tr>
            <td>Periodo</td>
            <td>Fecha inicio</td>
            <td>Fecha fin</td>
            <td>Fecha pago</td>
            <th style="width:150px;">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>
                    <input type="number" class="form-control" id="txtPeriodo_@i" value="@item.Period" />
                </td>
                <td>
                    <input type="date" class="form-control" id="txtFechaInicio_@i" value="@item.StartDate.ToString("yyyy-MM-dd")" />
                </td>
                <td>
                    <input type="date" class="form-control" id="txtFechaFin_@i" value="@item.EndDate.ToString("yyyy-MM-dd")" />
                </td>
                <td>
                    <input type="date" class="form-control" id="txtFechaPago_@i" value="@item.PayDate.ToString("yyyy-MM-dd")" />
                </td>

                <td>
                    <button class="btn btn-sm" onclick="EditPer(this)" posicion="@i" value="@ViewBag.Term">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm" onclick="DeletePer(this)" posicion="@i" value="@ViewBag.Term">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td>
                <input class="form-control" type="number" id="txtPeriodo" />
            </td>
            <td>
                <input class="form-control" type="date" id="txtFechaInicio" />
            </td>
            <td>
                <input class="form-control" type="date" id="txtFechaFin" />
            </td>
            <td>
                <input class="form-control" type="date" id="txtFechaPago" />
            </td>
            <td>
                <button class="btn btn-sm" type="button" onclick="CreatePer(this)" value="@ViewBag.Term">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>

    </tbody>

</table>

<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("AsociarPeriodos", "PayCycles", new { page, Term = ViewBag.Term, PayCycle=ViewBag.PayCycleCode }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "PerList" }))
