﻿@model ControlPlanilla.Models.PayCycle

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Ciclo de Pago</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                        <h3>¿Está seguro de eliminar este usuario?</h3>
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PayFrequency)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PayFrecuencies.
                                        Where(c => c.PayFrequency == model.PayFrequency).FirstOrDefault().Description)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PaymentDelay)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PaymentDelay)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.AnnualizingFactor)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PayFactorAnuals.
                                        Where(c => c.ID_FAC_ANUAL == model.AnnualizingFactor).FirstOrDefault().DESCRIPCION)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MonthlyFactor)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MonthlyFactor)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Format)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Format)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.caso1)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.caso1)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.caso2)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.caso2)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.caso3)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.caso3)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.caso4)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.caso4)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                                    @Html.ActionLink("Regresar a la Lista", "Index")
                                </div>
                            }
                        </div>
                    </div>
<br />