﻿@model ControlPlanilla.Models.PayCycle

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Ciclo de Pago</h3>
                <div class="table-responsive" style="padding:15px">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="col-sm-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PayFrequency, htmlAttributes: new { @class = "col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.PayFrequency,
                                        new SelectList(Model.PayFrecuencies, "PayFrequency", "Description", Model.PayFrequency)
                                        , htmlAttributes: new { @class = "form-control col-md-12" })
                                    @Html.ValidationMessageFor(model => model.PayFrequency, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PaymentDelay, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.PaymentDelay, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PaymentDelay, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AnnualizingFactor, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.AnnualizingFactor,
                                        new SelectList(Model.PayFactorAnuals, "ID_FAC_ANUAL", "DESCRIPCION", Model.AnnualizingFactor)
                                        , htmlAttributes: new { @class = "form-control col-md-12" })
                                    @Html.ValidationMessageFor(model => model.AnnualizingFactor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MonthlyFactor, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.MonthlyFactor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MonthlyFactor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Format, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Format, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Format, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.caso1, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.caso1, new { htmlAttributes = new { @class = "col-md-12 form-control", @style = "text-align: left" } })
                                        @Html.ValidationMessageFor(model => model.caso1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.caso2, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.caso2, new { htmlAttributes = new { @class = "col-md-12 form-control", @style = "text-align: left" } })
                                        @Html.ValidationMessageFor(model => model.caso2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.caso3, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.caso3, new { htmlAttributes = new { @class = "col-md-12 form-control", @style = "text-align: left" } })
                                        @Html.ValidationMessageFor(model => model.caso3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.caso4, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.caso4, new { htmlAttributes = new { @class = "col-md-12 form-control", @style = "text-align: left" } })
                                        @Html.ValidationMessageFor(model => model.caso4, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" /> |
                            @Html.ActionLink("Regresar a la Lista", "Index")
                        </div>
                    </div>
                            }

                        </div>
        <br />