﻿@model PagedList.IPagedList<ControlPlanilla.Models.PayCycle>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado de Ciclo de Pago</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>


                    @using (Html.BeginForm())
                    {
                        <p>
                            Buscar por código: @Html.TextBox("SearchString")
                            <input type="submit" value="Buscar" />
                        </p>
                    }

                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().PayFrequency)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().PaymentDelay)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().AnnualizingFactor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().MonthlyFactor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Format)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().caso1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().caso2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().caso3)
                            </th>
                            <th hidden>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().caso4)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                        </td>
                        <td>
                            <a href="" class="btn btn-info btn-xs info" data-toggle="modal" data-target="#myModal" data-id="@item.Code">
                                <span class="glyphicon glyphicon glyphicon-modal-window">
                                    @item.Code
                                </span>

                            </a>
                            @*@Html.DisplayFor(modelItem => item.Code)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayFrecuencies.
                                Where(c => c.PayFrequency == item.PayFrequency).FirstOrDefault().Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentDelay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayFactorAnuals.
                                Where(c => c.ID_FAC_ANUAL == item.AnnualizingFactor).FirstOrDefault().DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonthlyFactor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Format)
                        </td>
                        <td>
                            <div class="checkbox">
                                @Html.DisplayFor(modelItem => item.caso1)
                            </div>
                        </td>
                        <td>
                            <div class="checkbox">
                                @Html.DisplayFor(modelItem => item.caso2)
                            </div>
                        </td>
                        <td>
                            <div class="checkbox">
                                @Html.DisplayFor(modelItem => item.caso3)
                            </div>
                        </td>
                        <td hidden>
                            <div class="checkbox">
                                @Html.DisplayFor(modelItem => item.caso4)
                            </div>
                        </td>
                    </tr>
                        }

                    </table>
                    <br />
                    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page }))
                    @*new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@                    
                </div>
        <br />


<div class="modal fade" id="abrirModalTerms" name="abrirModalTerms" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Terminos del ciclo de pago</h4>
            </div>
            <div class="modal-body">
                <div id="TermsList" name="TermsList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

       //Everytime we press delete in the table row
       $('.info').click(function(e) {
           e.preventDefault();

           //Update the item to delete id so our model knows which one to delete
           var id = $(this).data('id');

           //$('#item-to-delete').val(id);

           $('#myModalLabel').html("Terminos del ciclo de pago: " + id);
           TraerTerminos(id)
       });
    function TraerTerminos(Code)
    {

        url = '@Url.Action("AsociarTerminos", "PayCycles")';
        var data = { PayCycleCode: Code };

        $.post(url, data).done(function (result) {
            $('#TermsList').html('');
            $('#TermsList').html(result);
            $('#abrirModalTerms').modal('show');

           //$("#campana").css('background', 'red');
            });
        }



</script>