﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A&S</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap") 	
    @RenderSection("scripts", required: false)										  
</head>
<body>
    <div class="container-fluid">
        @Html.Action("_TopMenu", "Home")
        <div class="stm-container">
            @RenderBody()
        </div>

    </div>

</body >
</html >
