﻿
@{
    var limite = 60;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A&S</title>
    <link rel="icon" type="image/PNG" href="~/Content/images/logo_AYS.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.DevExpress().GetStyleSheets(
                                        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                                        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                                        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
                                    )
    @Html.DevExpress().GetScripts(
                                        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                                        new Script { ExtensionSuite = ExtensionSuite.Editors },
                                        new Script { ExtensionSuite = ExtensionSuite.GridView }
                                    )

    
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Content/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <script src="~/Content/fontawesome-free-5.11.2-web/js/all.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>

    <!--Scripts para la vista previa de archivos PDFs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33163288-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-12710851-1");
            pageTracker._trackPageview();
        } catch (err) { }</script>

</head>
<body>
    @Html.Action("Index", "Head")
    <div Class="container-fluid">
        <div class="container full">
            

                @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>
<div class="modal fade" id="abrirModalSubirArchivos" name="abrirModalSubirArchivos" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelSubirArchivo">Adjuntar archivos</h4>
            </div>
            <div class="modal-body">
                <div id="bodyFiles" name="bodyFiles"></div>
            </div>
            <div class="modal-footer">
                <button id="btnCerrarSubirArchivos" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>
     function SubirArchivos(opcion, clave)
     {
         $('#abrirModalSubirArchivos').modal('show');
         alert(opcion);
         alert(clave);
        url = '@Url.Action("SubirArchivos", "Auditoria")';
        var data = { opcion: opcion, clave: clave};

        $.post(url, data).done(function (result) {
            $('#bodyFiles').html('');
            $('#bodyFiles').html(result);
            $('#abrirModalSubirArchivos').modal('show');

           //$("#campana").css('background', 'red');
        });
    }

    

//    toastr.options = {
//  "closeButton": true,
//  "debug": false,
//  "newestOnTop": false,
//  "progressBar": true,
//  "positionClass": "toast-top-right",
//  "preventDuplicates": false,
//  "onclick": null,
//  "showDuration": "300",
//  "hideDuration": "1000",
//  "timeOut": "5000",
//  "extendedTimeOut": "1000",
//  "showEasing": "swing",
//  "hideEasing": "linear",
//  "showMethod": "fadeIn",
//  "hideMethod": "fadeOut"
//}
</script>