﻿@model ControlPlanilla.Models.VendorApplicationMethod

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Eliminar método de aplicación</h3>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h3>¿Está seguro de eliminar este registro?</h3>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DESCRIPCION)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DESCRIPCION)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_ACTUA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_ACTUA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_ACTUA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_ACTUA)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                            @Html.ActionLink("Regresar", "Index")
                        </div>
                    }
                </div>
<br />