﻿@model ControlPlanilla.Models.VendorApplicationMethod

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle método de aplicación</h3>
                    <div class="col-sm-12">

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.DESCRIPCION)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DESCRIPCION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_ACTUA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_ACTUA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_ACTUA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_ACTUA)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_APPLICATIONMETHOD }) |
                        @Html.ActionLink("Regresar", "Index")
                    </p>
<br />