﻿@model IEnumerable<ControlPlanilla.Models.VendorApplicationMethod>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
<br />
                <h3>Métodos de aplicación</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Crear registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.DESCRIPCION)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.USUA_ACTUA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FECH_ACTUA)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID_APPLICATIONMETHOD }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.ID_APPLICATIONMETHOD }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_APPLICATIONMETHOD })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.USUA_CREA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECH_CREA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.USUA_ACTUA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECH_ACTUA)
                        </td>
                    </tr>
                        }

                    </table>
                </div>
<br />