﻿@model ControlPlanilla.Models.GLB_SISTEMAS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Sistema</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                        <h3>¿Está seguro de eliminar este usuario?</h3>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.CD_EMPRESA)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CD_EMPRESA)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DS_NOMB_SIST)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DS_NOMB_SIST)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CD_ESTADO_SISTEMA)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CD_ESTADO_SISTEMA)
                                </dd>
                                @*
        <dt>
            @Html.DisplayNameFor(model => model.USUA_CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECH_CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECH_CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUA_ACTU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_ACTU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECH_ACTU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECH_ACTU)
        </dd>*@

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                                    @Html.ActionLink("Regresar a la Lista", "Index")
                                </div>
                            }
                        </div>
<br />