﻿@model IEnumerable<ControlPlanilla.Models.GLB_SISTEMAS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Sistema</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">

                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table  table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.CD_EMPRESA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DS_NOMB_SIST)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CD_ESTADO_SISTEMA)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CD_CODI_SIST }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.CD_CODI_SIST }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.CD_CODI_SIST })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CD_EMPRESA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DS_NOMB_SIST)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CD_ESTADO_SISTEMA)
                        </td>
                    </tr>
                        }

                    </table>
                </div>
        <br />