﻿
@{
    Layout = null;
}

<script src="~/Content/fontawesome-free-5.11.2-web/js/all.js">
</script>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/starter-template.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<script src="~/Content/js/bootstrap.js"></script>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @*@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
        }*@
      .navbar-nav li:hover > ul.dropdown-menu {
        display: block;
        }
        .dropdown-submenu {
            position:relative;
        }
        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top:-6px;
        }

        /* rotate caret on hover */
        .dropdown-menu > li > a:hover:after {
            text-decoration: underline;
            transform: rotate(-90deg);
        }
        
</style>

<header>

    <!--inicio topmenu-->
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">AYSSA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  justify-content-end" id="navbarsExample02">
            <ul class="navbar-nav flex-row">
                <li class="nav-item active">
                    <a class="nav-link d-sm-flex align-items-sm-center" href="#"><i class="bi bi-lightbulb"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-gear" style="color:white;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-question-circle" style="color:white;"></i></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#"><i class="bi bi-person-circle" style="color:white;"></i></a>
                </li>
            </ul>
        </div>

    </nav>
    <!--fin topmenu-->
    <!--inicio menu -->
    <nav class="navbar navbar-expand-sm navbar-light bg-faded rounded">
        <div class="container">
            <a class="navbar-brand pb-2" href="@Url.Action("Index", "Home")" title="Sistema de A&S">
                @*<img src="@Url.Content("~/Content/images/logo_AYS.png")" height="55" width="70" style="position:absolute;top:-0.5px" alt="Sistema de A&S">*@
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @if (!string.IsNullOrEmpty(ViewBag.Usuario))
                        {
                            <a href="@Url.Action("Inicio", "Home" )" class="logo navbar-brand" title="Inicio">
                                Inicio
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Home" )" class="logo navbar-brand" title="Inicio">
                                Inicio
                            </a>
                        }
                    </li>
                    @if (ViewBag.Menu != null)
                    {
                        foreach (var i in ViewBag.PMenu)
                        {
                            <li class="nav-item dropdown">

                                <a Class="nav-link" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @i <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @foreach (var menu in ViewBag.Menu)
                                    {

                                        if (i == menu.DS_DESC_MENU)
                                        {

                                            <li class="dropdown-submenu">
                                                <a Class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="">
                                                    @menu.DS_CODI_SIST
                                                </a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var item in ViewBag.SubMenu)
                                                    {
                                                        if (menu.CD_CODI_SIST == item.CD_CODI_SIST)
                                                        {
                                                            if (menu.DS_DESC_MENU == item.DS_DESC_MENU)
                                                            {
                                                                <li>
                                                                    <a Class="dropdown-item" href="@item.DS_LINK_URL">
                                                                        @item.DS_NOMBRE_FORMA
                                                                    </a>
                                                                </li>

                                                            }

                                                        }
                                                    }
                                                </ul>
                                            </li>


                                        }

                                    }
                                </ul>
                            </li>

                        }

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                Quiénes somos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                Contáctenos
                            </a>
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.Usuario))
                    {
                        <li Class="nav-item dropdown">
                            <a Class="nav-link" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuario : @ViewBag.Usuario<span class="caret"></span>
                            </a>
                            <ul Class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="@Url.Action(" ", " ")">Modificar cuenta</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="@Url.Action(" ", " ")">Cambiar clave</a>
                                </li>
                                <li Class="nav-item">
                                    @Html.ActionLink("Cerrar sesión", "Index", "Home")
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav><!--fin menu-->
    <!--tercer menu-->     
    @*<nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand pb-2" href="#">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="http://google.com">Google</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Submenu</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu0</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                                            <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                            <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@    
    <!--tercer menu-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/Content/js/jquery.slim.min.js">')</script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
</header>

<script>
    $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
    });
</script>