﻿@model ControlPlanilla.Models.GLB_TIPO_DOCUMENTOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Tipo de Documento</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.CD_EMPRESA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CD_EMPRESA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DS_TIPO_DOCUMENTO)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DS_TIPO_DOCUMENTO)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_ACTU)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_ACTU)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.CD_TIPO_DOCUMENTO }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>

        <br />