﻿@model IEnumerable<ControlPlanilla.Models.GLB_TIPO_DOCUMENTOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Tipo de Documentos</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">

                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            @*<th>
            @Html.DisplayNameFor(model => model.CD_EMPRESA)
        </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.CD_TIPO_DOCUMENTO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DS_TIPO_DOCUMENTO)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CD_TIPO_DOCUMENTO }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.CD_TIPO_DOCUMENTO }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.CD_TIPO_DOCUMENTO })
                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.CD_EMPRESA)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.CD_TIPO_DOCUMENTO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DS_TIPO_DOCUMENTO)
                        </td>
                    </tr>
                        }

                    </table>
                </div>
        <br />