﻿@model ControlPlanilla.Models.ZONA_SERVICIO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

    <br />
                    <h3>Editar Area de Empresa</h3>
                    <div class="table-responsive" style="padding:15px">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                        <div class="col-sm-12">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.CD_ZONA)

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">PAIS</label>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <select class="form-control" name="CD_PAIS" id="CD_PAIS" required>
                                            @foreach (var item in ViewBag.cmbPaises)
                                            {
                                                <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DS_ZONA, htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.DS_ZONA, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DS_ZONA, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                                    @Html.ActionLink("Regresar a la Lista", "Index")
                                </div>
                            </div>
                                }
                            </div>
                            <br />

                            <script>
                document.getElementById("CD_PAIS").value = '@ViewBag.CD_PAIS';

                            </script>
