﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <br /><br />
        <div class="card card-stm" style="background-color:white;">
            <div class="card-header">
                <h3>Payroll Reporting Authority</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive" style="padding:15px">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#DatosGenerales">Datos Generales</a></li>
                        <li><a data-toggle="tab" href="#Detalles">Detalles</a></li>
                    </ul>
                    <div class="tab-content center-block">
                        <div id="DatosGenerales" class="tab-pane fade in active">
                            <br />
                            <table class="table table-bordered">
                                <tr>
                                    <th>Code</th>
                                    <th>Type</th>
                                    <th>Parent Rep. Auth. Code</th>
                                    <th>Name</th>
                                    <th>Locality</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>

                        </div>
                        <div id="Detalles" class="tab-pane fade">
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Code</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="TxtCode" class="form-control" readonly="readonly" name="TxtCode" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Type</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="CboTypePay" name="CboTypePay" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtName" name="TxtName" />
                                </div>
                                <div class="col-sm-3">
                                    <label>County</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="CboCounty" name="CboCounty" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Locality</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="CboLocality" name="CboLocality" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label>Date</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="date" class="form-control" id="TxtDate" name="TxtDate" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>GlobalDimension1</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="CboGlobal1" name="CboGlobal1" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label>GlobalDimension2</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="CboGlobal2" name="CboGlobal2" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>PayrollControlType</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="CboPaytype" name="CboPayType" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label>GLPostType</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="CboPostype" name="CboPosType" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>WorkType</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="CboWorktype" name="CboWorkType" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label>Amount</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" id="TxtAmount" name="TxtAmount" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>TaxableAmount</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="TxtAmount2" name="TxtAmount2" />
                                </div>
                                <div class="col-sm-3">
                                    <label>UnemploymentInsurance</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="Cbo" name="Cbo" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>                                                            
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>StateNoCode</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="Cbo" name="Cbo" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label>TaxingEntityCode</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="Cbo" name="Cbo" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>ParentRepAuthCode</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="Cbo" name="Cbo" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select> 
                                </div>
                                <div class="col-sm-3">
                                    <label>EditStatus</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="Cbo" name="Cbo" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>EmployerNoFilter</label>
                                </div>
                                <div class="col-sm-3">
                                    <select id="Cbo" name="Cbo" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                                 
                            </div>
                             
                            <br />

                            <button class="btn btn-primary-stm" id="limpiar">Limpiar</button>
                            <button class="btn btn-primary-stm" id="guardar">Guardar</button>
                            <button Class="btn btn-primary-stm" id="actualizar">Actualizar</button>
                            <br />
                        </div>

                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

