﻿@model ControlPlanilla.Models.ARCHIVOS_ADJUNTOS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ARCHIVOS_ADJUNTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CD_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_FORANEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_FORANEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_FORANEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_FORANEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARCHIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARCHIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_CONTENIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_CONTENIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIGENCIA_DESDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIGENCIA_DESDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIGENCIA_HASTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIGENCIA_HASTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUA_CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECH_CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECH_CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUA_ACTUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_ACTUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECH_ACTUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECH_ACTUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLB_OPCIONES_SISTEMA.CD_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLB_OPCIONES_SISTEMA.CD_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLB_TIPO_DOCUMENTOS.CD_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLB_TIPO_DOCUMENTOS.CD_EMPRESA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
