﻿@model ControlPlanilla.Models.ARCHIVOS_ADJUNTOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ARCHIVOS_ADJUNTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CD_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_FORANEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_FORANEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_FORANEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_FORANEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARCHIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARCHIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_CONTENIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_CONTENIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIGENCIA_DESDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIGENCIA_DESDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIGENCIA_HASTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIGENCIA_HASTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUA_CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECH_CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECH_CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUA_ACTUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_ACTUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECH_ACTUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECH_ACTUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLB_OPCIONES_SISTEMA.CD_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLB_OPCIONES_SISTEMA.CD_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLB_TIPO_DOCUMENTOS.CD_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLB_TIPO_DOCUMENTOS.CD_EMPRESA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ADJUNTO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
