﻿<header>
    <div class="container-fluid">
        <div class="stm-container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <a class="navbar-brand" href="@Url.Action("index", "Home")" title="Sistema de A&S">
                        <img src="@Url.Content("~/Content/images/logo_AYS.png")" height="60" width="60" style="position:absolute;top:-0.5px" alt="Sistema de A&S">
                    </a>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light stm-navbar">
                        <!--
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        Fondo Social para la vivienda
                    </a>
                    -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                                        <i class="fas fa-home"></i>
                                        INICIO
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("About", "Home")">
                                        <i class="far fa-building"></i>
                                        QUIÉNES SOMOS
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Contact", "Home")">
                                        <i class="fas fa-headset"></i>
                                        CONTÁCTENOS
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    
                </div>
            </div>
        </div>
    </div>
    
</header>
