﻿@model ControlPlanilla.Models.AccederViewModels
@{
    ViewBag.Title = "A&S";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    <link rel="icon" type="image/PNG" href="~/Images/logo.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap") 
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/jquery.mask.min.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/signin.css" rel="stylesheet" />
    <script src="~/Content/fontawesome-free-5.11.2-web/js/all.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @*@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }*@
    </style>
</head>
<body>
    <div Class="container-fluid">
        <div class="container">
            <header>
                <!--inicio topmenu-->
                <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand" href="#">AYSSA</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse  justify-content-end" id="navbarsExample02">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item active">
                                <a class="nav-link d-sm-flex align-items-sm-center" href="#"><i class="bi bi-lightbulb"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="bi bi-gear" style="color:white;"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="bi bi-question-circle" style="color:white;"></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="bi bi-person-circle" style="color:white;"></i></a>
                            </li>
                        </ul>
                    </div>

                </nav>
                <!--fin topmenu-->

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <center><h2 style="color:#0059a3;line-height: 0.8;letter-spacing: 0.027em;">Bienvenido a Sistema de Nómina</h2></center>
                    <hr style="border: 2px solid; border-color: #0059a3; border-radius: 5px;" />
                </div>
            </header>
        </div><!--fin container-->
        <div class="form-signin">

            @using (Html.BeginForm("Validar", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    @Html.LabelFor(model => model.CD_CODIGO_USUARIO, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.CD_CODIGO_USUARIO, new { htmlAttributes = new { @class = "form-control col-lg-12" } })
                        @Html.ValidationMessageFor(model => model.CD_CODIGO_USUARIO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    @Html.LabelFor(model => model.CD_CLAVE_USUARIO, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.CD_CLAVE_USUARIO, new { htmlAttributes = new { @class = "form-control col-lg-12", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.CD_CLAVE_USUARIO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-md-4">País</label>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(model => model.SelectedPais,
                            new SelectList(Model.PAISES, "CD_PAIS", "DS_PAIS"),
                            htmlAttributes: new { @class = "form-control col-lg-12" })
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Empresa</label>
                    <div class="col-lg-8">
                        <select class="form-control col-lg-12" name="SelectedEmpresa" id="SelectedEmpresa">
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 col-md-offset-4">
                        &emsp;&ensp;
                        <button id="btnLogin" type="submit" Class="btn btn-lg btn-primary btn-block">
                            Ingresar
                        </button>
                    </div>
                </div>
            }
            <div class="col-md-3"> </div>
        </div><!--fin form-signin-->
    </div><!--fin container-->

</body>
</html>

<script type="text/javascript">
        window.onload = function() {
  //funciones a ejecutar
            cargarEmpresas($('#SelectedPais').val());
            if ('@ViewBag.MensajeError'!= null && '@ViewBag.MensajeError'!='') {
                toastr.warning('@ViewBag.MensajeError');
            };
};

        $("#SelectedPais").change(function () {
            cargarEmpresas($('#SelectedPais').val());
        });
        function cargarEmpresas(cdPais) {
            //debugger;

            var url = '@Url.Action("ObtenerEmpresas","Home")';
            var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#SelectedEmpresa').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#SelectedEmpresa').append('<option value="' + result[i].CD_EMPRESA + '">' + result[i].DS_EMPRESA + '</option>')
                }
            });
    }

    function Validar() {
        var cd_usuario = '@Model.CD_CODIGO_USUARIO';
        var clave = '@Model.CD_CLAVE_USUARIO';
        var cd_pais = $('#SelectedPais').val();
        var cd_empresa = $('#SelectedEmpresa').val()
        var url = '@Url.Action("Validar", "Home")';
        var data = { CD_CODIGO_USUARIO: cd_usuario, CD_CLAVE_USUARIO: clave, CD_PAIS: cd_pais, CD_EMPRESA: cd_empresa };

        $.post(url, data).done();
    }



        var idleTime = 0;
        $(document).ready(function () {
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minuto

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
            window.onload(function (e) {
                idleTime = 0;
            })
        });


</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33163288-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-12710851-1");
        pageTracker._trackPageview();
    } catch (err) { }
</script>
