﻿@model ControlPlanilla.Models.UsuariosViewModels
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br /><br />
       
                <div class="table-responsive" style="padding:15px">
                    <br />
                    <br />
                    <br />
                    <br />
                    @if (ViewBag.Usuario != null)
                    {
                        <h2 style="text-align:center;">Bienvenido @ViewBag.Usuario </h2>
                    }
                    else
                    {
                        <h2 style="text-align:center;">Bienvenido</h2>
                    }

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>