﻿@model ControlPlanilla.Models.VerificarCodigo

@{
    ViewBag.Title = "Validar";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
           
                <h3>Verificar Código</h3>
            <hr />
            <div class="card">
                <div class="card-body">
                    <h3>Revise su correo electrónico y digite su código de validación:</h3>
                    </p>
                    <br />
                    @using (Html.BeginForm("VerificarCodigo", "Auditoria", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.CD_CODIGO_USUARIO)

                            <div class="form-group">
                                @Html.LabelFor(model => model.CodigoGeneraddo, htmlAttributes: new { @class = "control-label ", @required = "required" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CodigoGeneraddo, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    @Html.ValidationMessageFor(model => model.CodigoGeneraddo, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Válidar" class="btn btn-secondary" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Regresar", "Index")
                    </div>
                </div>
                </div>
