﻿
<br />
<h3>Mantenimiento de Submenú</h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos generales</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="Detalles-tab" data-toggle="tab" href="#Detalles" role="tab" aria-controls="Detalles" aria-selected="false">Detalles</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
        <br />
        <div class="overflow-auto" style="height:400px;">
            @Html.Action("GridViewPartial")
        </div>
    </div>
    <div class="tab-pane fade" id="Detalles" role="tabpanel" aria-labelledby="Detalles-tab">
        <br />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblcodmod">Código submenú</label>
                </div>
                </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" id="CodigoOpcionesSistema" class="form-control" />
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblnommod">Nombre submenú</label>
                </div>
                </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" class="form-control" id="NombreOpcionesSistema" />
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblforma">Nombre forma</label>
                </div>
                </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" class="form-control" id="NombreForma" />
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblurl">Dirección URL</label>
                </div>
                </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" class="form-control" id="DireccionUrl" />
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label id="lblestado">Estado</label>
                </div>
                </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="radio" id="activo" name="EstadoModulo" value="true" /> Activo
                    <input type="radio" id="activo" name="EstadoModulo" value="false" /> Inactivo
                </div>
                </div>
            </div>
        <br />
        <div class="form-group">
            <button class="btn btn-primary" id="limpiar" type="button">Limpiar</button>
            <button class="btn btn-primary" id="guardar" type="button">Guardar</button>
        </div>
    </div>
    </div>
<br />

<script>
    $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
    });
    function CrearMenu(CD_CODI_OPCI_SIST, DS_CODI_OPCI_SIST, DS_NOMBRE_FORMA, DS_LINK_URL, CD_ESTADO_OPCION_SISTEMA) {
        url = '@Url.Action("Create_Menu", "GLB_OPCIONES_SISTEMA")';
        var data = { CD_CODI_OPCI_SIST: CD_CODI_OPCI_SIST, DS_CODI_OPCI_SIST: DS_CODI_OPCI_SIST, DS_NOMBRE_FORMA: DS_NOMBRE_FORMA, DS_LINK_URL: DS_LINK_URL, CD_ESTADO_OPCION_SISTEMA: CD_ESTADO_OPCION_SISTEMA};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    };
    $(document).ready(function () {
        $("#guardar").click(function () {
            CD_CODI_OPCI_SIST = $('#CodigoOpcionesSistema').val();
            DS_CODI_OPCI_SIST = $('#NombreOpcionesSistema').val();
            DS_NOMBRE_FORMA = $('#NombreForma').val();
            DS_LINK_URL = $('#DireccionUrl').val();
            CD_ESTADO_OPCION_SISTEMA = $("input[name='EstadoModulo']:checked").val();
            CrearMenu(CD_CODI_OPCI_SIST, DS_CODI_OPCI_SIST, DS_NOMBRE_FORMA, DS_LINK_URL, CD_ESTADO_OPCION_SISTEMA);
        });
        $("#limpiar").click(function () {
            LimpiarInfo();
        });
        if ('@ViewBag.idseleccinado') {
            CargarInfo('@ViewBag.idseleccinado');
        }
    });
    //cargar cliente
    function CargarInfo(CD_CODI_OPCI_SIST) {
        url = '@Url.Action("ObtenerMenus", "GLB_OPCIONES_SISTEMA")';
        var data = { CD_CODI_OPCI_SIST: CD_CODI_OPCI_SIST };

        $.post(url, data).done(function (result) {
            for (var i = 0; i < result.length; i++) {
                $('#CodigoOpcionesSistema').val(result[i].CD_CODI_OPCI_SIST);
                $('#NombreOpcionesSistema').val(result[i].DS_CODI_OPCI_SIST);
                $('#NombreForma').val(result[i].DS_NOMBRE_FORMA);
                $('#DireccionUrl').val(result[i].DS_LINK_URL);

                $("input[name=EstadoModulo][value=" + result[i].CD_ESTADO_OPCION_SISTEMA + "]").prop('checked', true);
                $('.nav-tabs a[href="#Detalles"]').tab('show');
            }
        });
    }
    //limpiar
    function LimpiarInfo() {
        $('#CodigoOpcionesSistema').val('');
        $('#NombreOpcionesSistema').val('');
        $('#NombreForma').val('');
        $('#DireccionUrl').val('');
        $("input[name=EstadoModulo][value=true]").prop('checked', true);
    }


</script>
