﻿@model ControlPlanilla.Models.DEPTO_EMPRESA

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Departamento de Empresa</h3>
                <div class="table-responsive" style="padding:15px">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="col-sm-12">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID_DEPTO)

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>PAIS</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <select class="form-control" name="cmbPaises" id="cmbPaises" required>
                                        @foreach (var item in ViewBag.cmbPaises)
                                        {
                                            <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label >Empresa</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <select class="form-control" name="CD_EMPRESA" id="CD_EMPRESA" required>
                                        @foreach (var item in ViewBag.cmbEMPRESA)
                                        {
                                            <option value="@item.CD_EMPRESA">@item.DS_EMPRESA</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ID_AREA, "ID_AREA", htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.DropDownList("ID_AREA", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ID_AREA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        </div>
                            }
                        </div>
                        <br />

                        <script>
    document.getElementById("cmbPaises").value = '@ViewBag.CD_PAIS';
    document.getElementById("CD_EMPRESA").value = '@Model.CD_EMPRESA';
    document.getElementById("ID_AREA").value = '@Model.ID_AREA';
    $("#cmbPaises").change(function () {
        cargarEmpresas($('#cmbPaises').val());
    });
    $("#CD_EMPRESA").change(function () {
        alert($('#CD_EMPRESA').val());
        cargarAreas($('#CD_EMPRESA').val());
    });
    function cargarEmpresas(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerEmpresas", "AREAS_EMPRESA")';
            var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#CD_EMPRESA').html('');
            for (var i = 0; i < result.length; i++) {
                $('#CD_EMPRESA').append('<option value="' + result[i].CD_EMPRESA + '">' + result[i].DS_EMPRESA + '</option>')
                }
                document.getElementById("CD_EMPRESA").value = '@Model.CD_EMPRESA';
            });
    }
    function cargarAreas(cdEmpresa) {
            //debugger;
            var url = '@Url.Action("ObtenerAreas", "DEPTO_EMPRESA")';
        var data = { cd_empresa: cdEmpresa };
            $.get(url, data).done(function (result) {
                $('#ID_AREA').html('');
                $('#ID_AREA').append('<option value="Seleccionar">Seleccionar</option>')
            for (var i = 0; i < result.length; i++) {
                $('#ID_AREA').append('<option value="' + result[i].ID_AREA + '">' + result[i].DESCRIPCION + '</option>')
            }
            });
    }
                        </script>
