﻿@model ControlPlanilla.Models.EmployeeClass

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

 <br /> 
                <h3>Detalle Clase Empleado</h3> 
                <div class="col-sm-12">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div> 
        <br /> 
