﻿@model PagedList.IPagedList<ControlPlanilla.Models.FormatoPlanillaDetalleEgresos>
@using PagedList.Mvc;
@{
    var i = 0;
}

<table class="table table-bordered table-hover">
    <thead>


        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayrollControl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>
                    @Html.EditorFor(modelitem => item.ID, new { htmlAttributes = new { @class = "form-control", @id = "ID_" + i, @posicion = i, @type = "text", @readonly = "readonly", @style = "width:80px;" } })
                </td>
                <td>
                    @Html.DropDownList("PayrollControl_" + i, new SelectList(ViewBag.PayrollControl, "Value", "Text", item.PayControlCode), htmlAttributes: new { @class = "form-control", @posicion = i })
                </td>
                <td>
                    <button class="btn btn-sm botones" onclick="EditarDetalleEgresos(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarDetalleEgresos(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td style="width:80px;">
            </td>
            <td>
                @Html.DropDownList("PayrollControl", new SelectList(ViewBag.PayrollControl, "Value", "Text"), htmlAttributes: new { @class = "form-control", @posicion = i })
            </td>
            <td>
                <button class="btn btn-sm botones" onclick="CrearDetalleEgresos()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<br />
<hr />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Egresos", "FormatoPlanillas", new { Id_Formato = ViewBag.IdFormato, Id_Cabecera = ViewBag.IdCabecera, page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {

        HttpMethod = "POST",
        UpdateTargetId = "ListDetallesEgresos",
        OnSuccess = "onAjaxSuccess",
        OnFailure = "onAjaxFailure"
    }))
