﻿@model IEnumerable<ControlPlanilla.Models.FormatoPlanilla>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Planilla</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Crear registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ID_FORMATO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DESCRIPCION)
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.ID_FORMATO }) |
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID_FORMATO }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_FORMATO })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID_FORMATO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DESCRIPCION)
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-info btn-xs ingresos" data-toggle="modal" data-target="#myModal" data-id="@item.ID_FORMATO">
                                            <span class="glyphicon glyphicon glyphicon-modal-window">
                                                Ingresos
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-info btn-xs egresos" data-toggle="modal" data-target="#myModal" data-id="@item.ID_FORMATO">
                                            <span class="glyphicon glyphicon glyphicon-modal-window">
                                                Egresos
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


<!--Modal para el encabezado del formato de planilla ingresos-->
<div class="modal fade" id="abrirModalIngresos" name="abrirModalIngresos" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelIngresos"></label>
            </div>
            <div class="modal-body col-12">
                <div id="ListIngresos" name="ListIngresos" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal para los detalles de ingresos-->
<div class="modal fade" id="abrirModalDetallesIngresos" name="abrirModalDetallesIngresos" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <Label class="modal-title" id="myModalLabelDetalles"></Label>
            </div>
            <div class="modal-body">
                <div id="ListDetallesIngresos" name="ListDetallesIngresos"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="cerrarModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Modal para el encabezado del formato de planilla Egresos-->
<div class="modal fade" id="abrirModalEgresos" name="abrirModalEgresos" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelIngresos"></label>
            </div>
            <div class="modal-body col-12">
                <div id="ListEgresos" name="ListEgresos" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Modal para los detalles de ingresos-->
<div class="modal fade" id="abrirModalDetallesEgresos" name="abrirModalDetallesEgresos" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <Label class="modal-title" id="myModalLabelDetalles"></Label>
            </div>
            <div class="modal-body">
                <div id="ListDetallesEgresos" name="ListDetallesEgresos"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="cerrarModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var IdFormato = "";
    var IdCabecera = "";
    //Everytime we press delete in the table row
    $('.ingresos').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        IdFormato = $(this).data('id');

        //$('#item-to-delete').val(id);

        $('#myLabelIngresos').html("Cabecera de ingresos: " + IdFormato);

        TraerIngresos()
    });
    function TraerIngresos() {
        $.blockUI();
        var url = '@Url.Action("Ingresos", "FormatoPlanillas")';
        var data = { IdFormato: IdFormato };

         $.post(url, data).done(function (result) {

            $('#ListIngresos').html('');
            $('#ListIngresos').html(result);
            $('#abrirModalIngresos').modal('show');

            $.unblockUI();
         });

    }
    function ActualizarIngresos() {
        var url = '@Url.Action("Ingresos", "FormatoPlanillas")';
        var data = { IdFormato: IdFormato };

         $.post(url, data).done(function (result) {

            $('#ListIngresos').html('');
            $('#ListIngresos').html(result);

         });

    }
    function CrearEncabezadoIngresos() {

            $('.botones').attr("disabled", "disabled");

            var IdCabecera = $('#ID_CABECERA').val();
            var Check = $('#CHECK').val();


            var url = '@Url.Action("CrearEncabezadoIngresos", "FormatoPlanillas")';

            var data =
            {
                ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato, CHECK: Check
            };


            $.post(url, data).done(function (result) {
                if (result == "True") {
                    ActualizarIngresos();
                    toastr.success("Registro creado con éxito");
                    $('.botones').removeAttr("disabled", "disabled");
                }
                else {
                    toastr.error("Hubo error al crear registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }
    function EditarEncabezadoIngresos(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var IdCabecera = $('#ID_CABECERA_'+i).val();
        var Check = $('#CHECK_'+i).val();


        var url = '@Url.Action("EditarEncabezadoIngresos", "FormatoPlanillas")';

        var data =
            {
                ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato, CHECK: Check
            };


        $.post(url, data).done(function (result) {
            if (result == "True") {
                    ActualizarIngresos();
                    toastr.success("Registro actualizadon con éxito");
                    $('.botones').removeAttr("disabled", "disabled");
            }
            else
            {
                    toastr.error("Hubo error al crear registro");
            }
                $('.botones').removeAttr("disabled", "disabled");
        });
    }
    function EliminarEncabezadoIngresos(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var IdCabecera = $('#ID_CABECERA_' + i).val();
        var Check = $('#CHECK_' + i).val();


        var url = '@Url.Action("EliminarEncabezadoIngresos", "FormatoPlanillas")';

        var data =
        {
            ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato
        };


        $.post(url, data).done(function (result) {
            if (result == "True") {
                ActualizarIngresos();
                toastr.success("Registro eliminado con éxito");
                $('.botones').removeAttr("disabled", "disabled");
            }
            else {
                toastr.error("Hubo error al eliminar registro");
            }
            $('.botones').removeAttr("disabled", "disabled");
        });


    }

    ///////////////////////////////////// EGRESOS \\|\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
     $('.egresos').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        IdFormato = $(this).data('id');

        //$('#item-to-delete').val(id);

        $('#myLabelEgresos').html("Cabecera de Egresos: " + IdFormato);

        TraerEgresos()
    });
    function TraerEgresos() {
        $.blockUI();
        var url = '@Url.Action("Egresos", "FormatoPlanillas")';
        var data = { IdFormato: IdFormato };

         $.post(url, data).done(function (result) {

            $('#ListEgresos').html('');
            $('#ListEgresos').html(result);
            $('#abrirModalEgresos').modal('show');

            $.unblockUI();
         });

    }
    function ActualizarEgresos() {
        var url = '@Url.Action("Egresos", "FormatoPlanillas")';
        var data = { IdFormato: IdFormato };

         $.post(url, data).done(function (result) {

            $('#ListEgresos').html('');
            $('#ListEgresos').html(result);

         });

    }
    function CrearEncabezadoEgresos() {

            $('.botones').attr("disabled", "disabled");

            var IdCabecera = $('#ID_CABECERA').val();
            var Check = $('#CHECK').val();
        alert(IdCabecera);

            var url = '@Url.Action("CrearEncabezadoEgresos", "FormatoPlanillas")';

            var data =
            {
                ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato, CHECK: Check
            };


            $.post(url, data).done(function (result) {
                if (result == "True") {
                    ActualizarEgresos();
                    toastr.success("Registro creado con éxito");
                    $('.botones').removeAttr("disabled", "disabled");
                }
                else {
                    toastr.error("Hubo error al crear registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }
    function EditarEncabezadoEgresos(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var IdCabecera = $('#ID_CABECERA_'+i).val();
        var Check = $('#CHECK_'+i).val();


        var url = '@Url.Action("EditarEncabezadoEgresos", "FormatoPlanillas")';

        var data =
            {
                ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato, CHECK: Check
            };


        $.post(url, data).done(function (result) {
            if (result == "True") {
                    ActualizarEgresos();
                    toastr.success("Registro actualizadon con éxito");
                    $('.botones').removeAttr("disabled", "disabled");
            }
            else
            {
                    toastr.error("Hubo error al crear registro");
            }
                $('.botones').removeAttr("disabled", "disabled");
        });
    }
    function EliminarEncabezadoEgresos(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var IdCabecera = $('#ID_CABECERA_' + i).val();
        var Check = $('#CHECK_' + i).val();


        var url = '@Url.Action("EliminarEncabezadoEgresos", "FormatoPlanillas")';

        var data =
        {
            ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato
        };


        $.post(url, data).done(function (result) {
            if (result == "True") {
                ActualizarEgresos();
                toastr.success("Registro eliminado con éxito");
                $('.botones').removeAttr("disabled", "disabled");
            }
            else {
                toastr.error("Hubo error al eliminar registro");
            }
            $('.botones').removeAttr("disabled", "disabled");
        });


    }
</script>