﻿@model  PagedList.IPagedList<ControlPlanilla.Models.FormatoPlanillaEncabezadoIngresos>
@using PagedList.Mvc;
@{
    var i = 0;
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ID_CABECERA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CHECK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>
                    @Html.EditorFor(modelItem => item.ID_CABECERA, new { htmlAttributes = new { @class = "form-control", @id = "ID_CABECERA_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.CHECK, new { htmlAttributes = new { @class = "form-control", @id = "CHECK_" + i, @posicion = i } })
                </td>
                <td>
                    <button class="btn btn-sm botones" onclick="EditarEncabezadoIngresos(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarEncabezadoIngresos(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                    |
                    <button class="btn btn-sm dIngre botones" data-toggle="modal" data-target="abrirModalDetallesIngresos"
                            data-id="@item.ID_CABECERA">
                        <span class="glyphicon glyphicon glyphicon-modal-window"></span>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td>
                <input type="text" class="form-control" maxlength="20" id="ID_CABECERA" />
            </td>
            <td>
                <input type="number" class="form-control" min="1" id="CHECK" />
            </td>
            <td>
                <button class="btn btn-sm botones" onclick="CrearEncabezadoIngresos()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>
    </tbody>

</table>

<br />
<hr />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Ingresos", "FormatoPlanillas", new { IdFormato = ViewBag.IdFormato, page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {

        HttpMethod = "POST",
        UpdateTargetId = "ListIngresos",
        OnSuccess = "onAjaxSuccess",
        OnFailure = "onAjaxFailure"
    }))



<script>
   function cerrarModal()
   {
            $('#abrirModalDetallesIngresos').modal('hide');
   }
   $('.dIngre').click(function (e) {
        e.preventDefault();

        IdCabecera = $(this).data('id');
        $('#myModalLabelDetalles').html( IdFormato +  " detalle de ingresos: " + IdCabecera);
       TraerDetalles();
    });
    function TraerDetalles() {

            var url = '@Url.Action("DetallesIngresos", "FormatoPlanillas")';
            var data = { ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato};
            $.post(url, data).done(function (result) {
                $('#ListDetallesIngresos').html('');
                $('#ListDetallesIngresos').html(result);
                $('#abrirModalDetallesIngresos').modal('show');
            });
            //$('#abrirModalLines').modal('show');

    }

    function ActualizarDetallesIngresos() {
        var url = '@Url.Action("DetallesIngresos", "FormatoPlanillas")';
        var data = { ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato};

        $.post(url, data).done(function (result) {
                $('#ListDetallesIngresos').html('');
                $('#ListDetallesIngresos').html(result);
        });
    }
     function CrearDetalleIngresos() {

            $('.botones').attr("disabled", "disabled");

            var PayCode = $('#PayrollControl').val();

            var url = '@Url.Action("CrearDetalleIngresos", "FormatoPlanillas")';

            var data =
            {
                ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato, PayControlCode:PayCode
            };


            $.post(url, data).done(function (result) {
                if (result == "True") {
                    ActualizarDetallesIngresos();
                    toastr.success("Registro creado con éxito");
                    $('.botones').removeAttr("disabled", "disabled");
                }
                else {
                    toastr.error("Hubo error al crear el registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }
    function EditarDetalleIngresos(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var Id=$('#ID_' + i).val();
        var PayCode = $('#PayrollControl_' + i).val();
        var url = '@Url.Action("EditarDetalleIngresos", "FormatoPlanillas")';

        var data =
            {
               ID: Id, ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato, PayControlCode:PayCode
            };


            $.post(url, data).done(function (result) {
                if (result == "True") {
                    ActualizarDetallesIngresos();
                    toastr.success("Registro actualizado con éxito");
                    $('.botones').removeAttr("disabled", "disabled");
                }
                else {
                    toastr.error("Hubo error al actualizar el registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }
    function EliminarDetalleIngresos(element) {
        $('.botones').attr("disabled", "disabled");
        var posicion = $(element).attr("posicion");
        var i = posicion;
        var Id=$('#ID_' + i).val();
        var PayCode = $('#PayrollControl_'+i).val();
        var url = '@Url.Action("EliminarDetalleIngresos", "FormatoPlanillas")';

        var data =
            {
              ID:Id, ID_CABECERA: IdCabecera, ID_FORMATO: IdFormato, PayControlCode:PayCode
            };


            $.post(url, data).done(function (result) {
                if (result == "True") {
                    ActualizarDetallesIngresos();
                    toastr.success("Registro actualizado con éxito");
                    $('.botones').removeAttr("disabled", "disabled");
                }
                else {
                    toastr.error("Hubo error al actualizar el registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }

</script>