﻿@model PagedList.IPagedList<ControlPlanilla.Models.BracketDetail>
@using PagedList.Mvc;
@{
    var i = 0;
}

<table class="table table-bordered table-hover" style="display: block;
    overflow-x: auto;
    white-space: nowrap;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Bracket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LineNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FilingStatusCode)
        </th>
        @if (ViewBag.TypeBrackets.UsesPayFrequency)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayFrequency)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesAmountOver)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AmountOver)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesLimit)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Limit)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesTaxPercent)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TaxPercent)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesPercent)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PercentValue)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesQuantity)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesTaxAmount)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TaxAmount)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesAmount)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesRateMultiple)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RateMultiple)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesMaxWH)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MaxWH)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesMinAmount)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MinAmount)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesMaxAmount)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MaxAmount)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesPerAllowance)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PerAllowance)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesFromAllowance)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FromAllowance)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesMatchPercent)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MatchPercent)
            </th>
        }
        @if (ViewBag.TypeBrackets.UsesMaxPercent)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MaxPercent)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReportingAuthorityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReportingAuthorityCode)
        </th>
        @if (ViewBag.TypeBrackets.UsesActivationCode)
        {
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ActivationCode)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        i += 1;
        <tr>
            <td>
                @Html.EditorFor(modelItem => item.Bracket.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description_" + i, @posicion = i, @readonly = "readonly" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.LineNumber, new { htmlAttributes = new { @class = "form-control", @id = "LineNumber_" + i, @posicion = i, @readonly = "readonly" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.FilingStatusCode, new { htmlAttributes = new { @class = "form-control", @id = "FilingStatusCode_" + i, @posicion = i } })
            </td>
            @if (ViewBag.TypeBrackets.UsesPayFrequency)
            {
                <td>
                    @Html.DropDownList("PayFrequency_" + i, new SelectList(ViewBag.PayFrequency, "Value", "Text", item.PayFrequency), htmlAttributes: new { @class = "form-control", @posicion = i })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesAmountOver)
            {
                <td>
                    @Html.EditorFor(modelItem => item.AmountOver, new { htmlAttributes = new { @class = "form-control", @id = "AmountOver_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesLimit)
            {
                <td>
                    @Html.EditorFor(modelItem => item.Limit, new { htmlAttributes = new { @class = "form-control", @id = "Limit_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesTaxPercent)
            {
                <td>
                    @Html.EditorFor(modelItem => item.TaxPercent, new { htmlAttributes = new { @class = "form-control", @id = "TaxPercent_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesPercent)
            {
                <td>
                    @Html.EditorFor(modelItem => item.PercentValue, new { htmlAttributes = new { @class = "form-control", @id = "PercentValue_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesQuantity)
            {
                <td>
                    @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "Quantity_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesTaxAmount)
            {
                <td>
                    @Html.EditorFor(modelItem => item.TaxAmount, new { htmlAttributes = new { @class = "form-control", @id = "TaxAmount_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesAmount)
            {
                <td>
                    @Html.EditorFor(modelItem => item.Amount, new { htmlAttributes = new { @class = "form-control", @id = "Amount_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesRateMultiple)
            {
                <td>
                    @Html.EditorFor(modelItem => item.RateMultiple, new { htmlAttributes = new { @class = "form-control", @id = "RateMultiple_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesMaxWH)
            {
                <td>
                    @Html.EditorFor(modelItem => item.MaxWH, new { htmlAttributes = new { @class = "form-control", @id = "MaxWH_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesMinAmount)
            {
                <td>
                    @Html.EditorFor(modelItem => item.MinAmount, new { htmlAttributes = new { @class = "form-control", @id = "MinAmount_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesMaxAmount)
            {
                <td>
                    @Html.EditorFor(modelItem => item.MaxAmount, new { htmlAttributes = new { @class = "form-control", @id = "MaxAmount_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesPerAllowance)
            {
                <td>
                    @Html.EditorFor(modelItem => item.PerAllowance, new { htmlAttributes = new { @class = "form-control", @id = "PerAllowance_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesFromAllowance)
            {
                <td>
                    @Html.EditorFor(modelItem => item.FromAllowance, new { htmlAttributes = new { @class = "form-control", @id = "FromAllowance_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesMatchPercent)
            {
                <td>
                    @Html.EditorFor(modelItem => item.MatchPercent, new { htmlAttributes = new { @class = "form-control", @id = "MatchPercent_" + i, @posicion = i } })
                </td>
            }
            @if (ViewBag.TypeBrackets.UsesMaxPercent)
            {
                <td>
                    @Html.EditorFor(modelItem => item.MaxPercent, new { htmlAttributes = new { @class = "form-control", @id = "MaxPercent_" + i, @posicion = i } })
                </td>
            }
            <td>
                @Html.DropDownList("ReportingAuthorityType_" + i, new SelectList(ViewBag.ReportingAuthorityType, "Value", "Text", item.ReportingAuthorityType), htmlAttributes: new { @class = "form-control", @posicion = i })
            </td>
            <td>
                @Html.DropDownList("ReportingAuthorityCode_" + i, new SelectList(ViewBag.ReportingAuthorityCode, "Value", "Text", item.ReportingAuthorityCode), htmlAttributes: new { @class = "form-control", @posicion = i })
            </td>
            @if (ViewBag.TypeBrackets.UsesActivationCode)
            {
                <td>
                    @Html.EditorFor(modelItem => item.ActivationCode, new { htmlAttributes = new { @class = "form-control", @id = "ActivationCode_" + i, @posicion = i } })
                </td>
            }
            <td>
                <button class="btn btn-sm botones" onclick="EditarBracket(this)" posicion="@i">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                |
                <button class="btn btn-sm botones" onclick="EliminarBracket(this)" posicion="@i">
                    <span class="glyphicon glyphicon-floppy-remove"></span>
                </button>
            </td>
        </tr>

    }
    <tr>
        <td></td>
        <td></td>
        <td>
            <input type="text" maxlength="10" id="FilingStatusCode" class="form-control" />
        </td>
        @if (ViewBag.TypeBrackets.UsesPayFrequency)
        {
            <td>
                @Html.DropDownList("PayFrequency", new SelectList(ViewBag.PayFrequency, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesAmountOver)
        {
            <td>
                <input type="number" id="AmountOver" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesLimit)
        {
            <td>
                <input type="number" id="Limit" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesTaxPercent)
        {
            <td>
                <input type="number" id="TaxPercent" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesPercent)
        {
            <td>
                <input type="number" id="PercentValue" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesQuantity)
        {
            <td>
                <input type="number" id="Quantity" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesTaxAmount)
        {
            <td>
                <input type="number" id="TaxAmount" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesAmount)
        {
            <td>
                <input type="number" id="Amount" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesRateMultiple)
        {
            <td>
                <input type="number" id="RateMultiple" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesMaxWH)
        {
            <td>
                <input type="number" id="MaxWH" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesMinAmount)
        {
            <td>
                <input type="number" id="MinAmount" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesMaxAmount)
        {
            <td>
                <input type="number" id="MaxAmount" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesPerAllowance)
        {
            <td>
                <input type="checkbox" id="PerAllowance" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesFromAllowance)
        {
            <td>
                <input type="number" id="FromAllowance" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesMatchPercent)
        {
            <td>
                <input type="number" id="MatchPercent" class="form-control" />
            </td>
        }
        @if (ViewBag.TypeBrackets.UsesMaxPercent)
        {
            <td>
                <input type="number" id="MaxPercent" class="form-control" />
            </td>
        }
        <td>
            @Html.DropDownList("ReportingAuthorityType", new SelectList(ViewBag.ReportingAuthorityType, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
        </td>
        <td>
            @Html.DropDownList("ReportingAuthorityCode", new SelectList(ViewBag.ReportingAuthorityCode, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
        </td>

        @if (ViewBag.TypeBrackets.UsesActivationCode)
        {
            <td>
                <input type="text" id="ActivationCode" class="form-control" />
            </td>
        }
        <td>
            <button class="btn btn-sm botones" onclick="CrearBracket(this)" posicion="@i">
                <span class="glyphicon glyphicon-floppy-save"></span>
            </button>
        </td>
    </tr>

</table>
