﻿@model ControlPlanilla.Models.Bracket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
 <br /> 
                    <h3>Detalle Bracket</h3> 
                    <div class="col-sm-12">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EditStatus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EditStatus)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BracketDetailsExist)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BracketDetailsExist)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BracketType.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BracketType.Description)
                            </dd>

                        </dl>

                        <p>
                            @*@Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
                            @Html.ActionLink("Regresar a la lista", "Index")
                        </p>
                    </div> 
            <br /> 