﻿@model ControlPlanilla.Models.Bracket

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
<br />
<h3>Editar Bracket</h3>

<div class="table-responsive" style="padding:15px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="col-sm-12">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)

        @Html.HiddenFor(model => model.BracketTypeCode)

        @Html.HiddenFor(model => model.EffectiveDate)

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EditStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.EditStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EditStatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.BracketDetailsExist, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.BracketDetailsExist, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BracketDetailsExist, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    @Html.ActionLink("Regresar a la lista", "Index")
                </div>
            </div>
        </div>
            }
        </div>

        <br />
