﻿@model IEnumerable<ControlPlanilla.Models.Bracket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}


<h3>Brackets</h3>


<div class="col-sm-12 overflow-auto" style="height:400px;">

    <p>
        @Html.ActionLink("Nuevo Registro", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BracketDetailsExist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BracketType.Description)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.Code, Type = item.BracketTypeCode, Fecha = item.EffectiveDate }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Code, Type = item.BracketTypeCode, Fecha = item.EffectiveDate })
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Code)*@
                    <a href="" class="btn btn-info btn-xs bracket" data-toggle="modal" data-target="#myModal" data-id="@item.Code"
                       brackeType="@item.BracketTypeCode" effetiveD="@item.EffectiveDate">
                        <span class="glyphicon glyphicon glyphicon-modal-window">
                            @item.Code
                        </span>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BracketDetailsExist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BracketType.Description)
                </td>
            </tr>
        }

    </table>
</div>
<br />
<!--Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mr-auto">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->

<div class="modal fade" id="abrirModalBracket" name="abrirModalBracket" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelBracket">Brackets</label>
            </div>
            <div class="modal-body col-12">
                <div id="ListBracket" name="ListBracket" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>

    var CodigoBrake = "";
    var BrackeType = "";
    var Effectivedate ;
    //Everytime we press delete in the table row
    $('.bracket').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete

        CodigoBrake = $(this).data('id');
        BrackeType = $(this).attr('brackeType');
        Effectivedate = $(this).attr('effetiveD');

        //$('#item-to-delete').val(id);
        $('#myLabelBracket').html("Bracket Detail: " + CodigoBrake);

        TraerBracket()
    });

     function TraerBracket()
     {
          $.blockUI();

        var url = '@Url.Action("Brackets", "Brackets")';
         var data = { Code: CodigoBrake, BracketTypeCode: BrackeType, EffectiveDate: Effectivedate };


         $.post(url, data).done(function (result) {

            $('#ListBracket').html('');
            $('#ListBracket').html(result);
            $('#abrirModalBracket').modal('show');

            $.unblockUI();
         });
    }

    function ActualizarBracket()
     {

        var url = '@Url.Action("Brackets", "Brackets")';
         var data = { Code: CodigoBrake, BracketTypeCode: BrackeType, EffectiveDate: Effectivedate };


         $.post(url, data).done(function (result) {

            $('#ListBracket').html('');
            $('#ListBracket').html(result);

         });
    }
    function CrearBracket() {

        $('.botones').attr("disabled", "disabled");

        var filingstatuscode = $('#FilingStatusCode').val();
        var payfrequency = null;
        if ($('#PayFrequency').length)
        {
            payfrequency=$('#PayFrequency').val();
        }
        var amountover = null;
        if ($('#AmountOver').length)
        {
            amountover = $('#AmountOver').val();
        }
        var limit = null;
        if ($('#Limit').length)
        {
            limit = $('#Limit').val();
        }
        var taxpercent = null;
        if ($('#TaxPercent').length)
        {
            taxpercent = $('#TaxPercent').val();
        }
        var percentvalue = null;
        if ($('#PercentValue').length)
        {
            percentvalue = $('#PercentValue').val();
        }
        var quantity = null;
        if ($('#Quantity').length)
        {
            quantity = $('#Quantity').val();
        }
        var taxamount = null;
        if ($('#TaxAmount').length)
        {
            taxamount = $('#TaxAmount').val();
        }
        var amount = null;
        if ($('#Amount').length)
        {
            amount = $('#Amount').val();
        }
        var ratemultiple = null;
        if ($('#RateMultiple').length) {
            ratemultiple = $('#RateMultiple').val();
        }
        var maxwh = null;
        if ($('#MaxWH').length) {
            maxwh = $('#MaxWH').val();
        }
        var minamount = null;
        if ($('#MinAmount').length) {
            minamount = $('#MinAmount').val();
        }
        var maxamount = null;
        if ($('#MaxAmount').length) {
            maxamount=$('#MaxAmount').val();
        }
        var perallowance = null;
        if ($('#PerAllowance').length) {
            perallowance = document.getElementById('PerAllowance').checked
        }
        var fromallowance = null;
        if ($('#FromAllowance').length) {
            fromallowance = $('#FromAllowance').val();
        }
        var matchpercent = null;
        if ($('#MatchPercent').length) {
            matchpercent = $('#MatchPercent').val();
        }
        var maxpercent = null;
        if ($('#MaxPercent').length) {
            maxpercent = $('#MaxPercent').val();
        }
            var reportingauthoritytype = $('#ReportingAuthorityType').val();
            var reportingauthoritycode = $('#ReportingAuthorityCode').val();
        var activationcode = null;
        if ($('#ActivationCode').length) {
            activationcode = $('#ActivationCode').val();
        }
            var bracket = $('#Bracket').val();


            var url = '@Url.Action("CrearBracketDetail", "Brackets")';

            var data =
            {

                BracketCode: CodigoBrake, BracketTypeCode: BrackeType, BracketEffectiveDate: Effectivedate, FilingStatusCode: filingstatuscode,
                PayFrequency: payfrequency, AmountOver: amountover, Limit: limit, TaxPercent: taxpercent, PercentValue: percentvalue, Quantity: quantity,
                TaxAmount: taxamount, Amount: amount, RateMultiple: ratemultiple, MaxWH: maxwh, MinAmount: minamount, MaxAmount: maxamount,
                PerAllowance: perallowance, FromAllowance: fromallowance, MatchPercent: matchpercent, MaxPercent: maxpercent,
                ReportingAuthorityType: reportingauthoritytype, ReportingAuthorityCode: reportingauthoritycode, ActivationCode: activationcode
            };


            $.post(url, data).done(function (result) {
                if (result == "True") {
                    toastr.success("Registro creado satisfactoriamente");
                    ActualizarBracket();
                    $('.botones').removeAttr("disabled", "disabled");
                }
                else
                {
                    toastr.error("Hubo error al crear el registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }

     function EditarBracket(element) {
            var posicion = $(element).attr("posicion");
             var i = posicion;
            $('.botones').attr("disabled", "disabled");

            var filingstatuscode = $('#FilingStatusCode_'+i).val();
            var payfrequency = null;
        if ($('#PayFrequency_'+i).length)
        {
            payfrequency=$('#PayFrequency_'+i).val();
        }
        var amountover = null;
        if ($('#AmountOver_'+i).length)
        {
            amountover = $('#AmountOver_'+i).val();
        }
        var limit = null;
        if ($('#Limit_'+i).length)
        {
            limit = $('#Limit_'+i).val();
        }
        var taxpercent = null;
        if ($('#TaxPercent_'+i.length))
        {
            taxpercent = $('#TaxPercent_'+i).val();
        }
        var percentvalue = null;
        if ($('#PercentValue_'+i).length)
        {
            percentvalue = $('#PercentValue_'+i).val();
        }
        var quantity = null;
        if ($('#Quantity_'+i).length)
        {
            quantity = $('#Quantity_'+i).val();
        }
        var taxamount = null;
        if ($('#TaxAmount_'+i).length)
        {
            taxamount = $('#TaxAmount_'+i).val();
        }
        var amount = null;
        if ($('#Amount_'+i).length)
        {
            amount = $('#Amount_'+i).val();
        }
        var ratemultiple = null;
        if ($('#RateMultiple_'+i).length) {
            ratemultiple = $('#RateMultiple_'+i).val();
        }
        var maxwh = null;
        if ($('#MaxWH_'+i).length) {
            maxwh = $('#MaxWH_'+i).val();
        }
        var minamount = null;
        if ($('#MinAmount_'+i).length) {
            minamount = $('#MinAmount_'+i).val();
        }
        var maxamount = null;
        if ($('#MaxAmount_'+i).length) {
            maxamount=$('#MaxAmount_'+i).val();
        }
        var perallowance = null;
        if ($('#PerAllowance_'+i).length) {
            perallowance = document.getElementById('PerAllowance_'+i).checked
        }
        var fromallowance = null;
        if ($('#FromAllowance_'+i).length) {
            fromallowance = $('#FromAllowance_'+i).val();
        }
        var matchpercent = null;
        if ($('#MatchPercent_'+i).length) {
            matchpercent = $('#MatchPercent_'+i).val();
        }
        var maxpercent = null;
        if ($('#MaxPercent_'+i).length) {
            maxpercent = $('#MaxPercent_'+i).val();
        }
            var reportingauthoritytype = $('#ReportingAuthorityType_'+i).val();
            var reportingauthoritycode = $('#ReportingAuthorityCode_'+i).val();
        var activationcode = null;
        if ($('#ActivationCode_'+i).length) {
            activationcode = $('#ActivationCode_'+i).val();
        }
            var linenumber = $('#LineNumber_'+i).val();
            var bracket = $('#Bracket_'+i).val();

            var url = '@Url.Action("EditarBracketDetail", "Brackets")';

            var data =
            {

                BracketCode: CodigoBrake, BracketTypeCode: BrackeType, BracketEffectiveDate: Effectivedate, LineNumber: linenumber, FilingStatusCode: filingstatuscode,
                PayFrequency: payfrequency, AmountOver: amountover, Limit: limit, TaxPercent: taxpercent, PercentValue: percentvalue, Quantity: quantity,
                TaxAmount: taxamount, Amount: amount, RateMultiple: ratemultiple, MaxWH: maxwh, MinAmount: minamount, MaxAmount: maxamount,
                PerAllowance: perallowance, FromAllowance: fromallowance, MatchPercent: matchpercent, MaxPercent: maxpercent,
                ReportingAuthorityType: reportingauthoritytype, ReportingAuthorityCode: reportingauthoritycode, ActivationCode: activationcode
            };


            $.post(url, data).done(function (result) {
                if (result=="True") {
                    toastr.success("Registro actualizado satisfactoriamente");
                    ActualizarBracket();
                    $('.botones').removeAttr("disabled", "disabled");
                } else {
                    toastr.error("Ocurrió un problema al actualizar el registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }

    function EliminarBracket(element) {
            var posicion = $(element).attr("posicion");
             var i = posicion;
            $('.botones').attr("disabled", "disabled");

            var linenumber = $('#LineNumber_'+1).val();

            var url = '@Url.Action("EliminarBracketDetail", "Brackets")';

            var data =
            {

                BracketCode: CodigoBrake, BracketTypeCode: BrackeType, BracketEffectiveDate: Effectivedate, LineNumber: linenumber
            };


            $.post(url, data).done(function (result) {
                if (result) {
                    toastr.success("Registro eliminado satisfactoriamente");
                    ActualizarBracket();
                    $('.botones').removeAttr("disabled", "disabled");
                } else {
                    toastr.error("Ocurrió un problema al eliminar el registro");
                }
                $('.botones').removeAttr("disabled", "disabled");
            });
        }
</script>
