@{
    var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "Employee",  Action = "GridViewPartial" };

        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Employee", Action = "GridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Employee", Action = "GridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = false;
        settings.CommandColumn.CustomButtons.Add(new GridViewCommandColumnCustomButton() { ID = "btn", Text = "Editar" });
        //settings.ClientSideEvents.CustomButtonClick = string.Format("function(s, e) {{ if(e.buttonID == 'btn') window.location.href = '{0}' }}", DevExpressHelper.GetUrl(new { Controller = "Employee", Action = "BuscarID" }) + "?key=' + s.GetRowKey(e.visibleIndex); }");
        settings.ClientSideEvents.CustomButtonClick = "function(s, e) { document.location='" + DevExpressHelper.GetUrl(new { Controller = "Employee", Action = "BuscarID" }) + "?key=' + s.GetRowKey(e.visibleIndex); }";





        settings.KeyFieldName = "No";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;

        settings.Columns.Add("No");
        settings.Columns.Add("FirstName");
        settings.Columns.Add("MiddleName");
        settings.Columns.Add("LastName");
        settings.Columns.Add("PhoneNo");
        settings.Columns.Add("EMail");
        settings.Columns.Add("BirthDate");
        settings.Columns.Add("SocialSecurityNo");
        settings.Columns.Add("Gender");
        settings.Columns.Add("EmploymentDate");
        settings.Columns.Add("Status");
        settings.Columns.Add("CompanyEMail");
        settings.Columns.Add("EmployerNo");
        settings.Columns.Add("HomePhoneNo");
        settings.Columns.Add("Blocked");
        settings.Columns.Add("DUI");
        settings.Columns.Add("NomDUI");
        settings.Columns.Add("TILetras");
        settings.Columns.Add("LugExpTI");
        settings.Columns.Add("Edad");
        settings.Columns.Add("Area");
    });
    if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()