﻿<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <br /><br />
        <div class="card card-stm" style="background-color:white;">
            <div class="card-header">
                <h3>Buscar Empleado</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive" style="padding:15px">
                    <form class="form-inline" role="form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label id="lblpais">País :</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select id="cmbPaises" name="cmbPaises" class="form-control">
                                        <option>Seleccione una opción</option>
                                        @foreach (var item in ViewBag.cmbPaises)
                                        {
                            <option value="@item.CD_PAIS">@item.DS_PAIS</option>
}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label id="lblempresa">Empresa :</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select id="cbempresa" name="cbempresa" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br /> <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label id="lblbuscar">Buscar :</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" id="TxtBuscar" class="form-control" name="TxtBuscar" />
                                </div>
                            </div>



                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <button class="btn btn-primary-stm" id="buscar">Buscar</button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary-stm" id="crear">Crear Nuevo</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
            <script>
     //Selecionar pais de la empresa por defecto

    $("#cmbPaises").change(function () {
        cargarEmpresa($('#cmbPaises').val());
    });
    $("#CodPais").change(function () {
        cargarDepartamentos($('#CodPais').val());
    });
    $("#Poblac").change(function () {
        cargarMunicipios($('#Poblac').val());
    });
    $("#Provin").change(function () {
        cargarCP($('#Provin').val());
    });

    function cargarEmpresa(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerEmpresas", "AREAS_EMPRESA")';
            var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#cbempresa').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#cbempresa').append('<option value="' + result[i].CD_EMPRESA + '">' + result[i].DS_EMPRESA + '</option>')
                }
            });
    }

    function cargarDepartamentos(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerDepartamentos", "CIUDADES")';
            var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#Poblac').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#Poblac').append('<option value="' + result[i].ID_DEPTO + '">' + result[i].NOMBRE_DEPTO + '</option>')
                }
            });
    }

    function cargarMunicipios(cdMuni) {
            //debugger;
            var url = '@Url.Action("ObtenerMunicipios", "CIUDADES")';
            var data = { ID_DEPTO: cdMuni };
            $.get(url, data).done(function (result) {
                $('#Provin').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#Provin').append('<option value="' + result[i].ID_CIUDAD + '">' + result[i].NOMBRE_CIUDAD + '</option>')
                }
            });
    }

    function cargarCP(cdMuni) {
        //debugger;
        var url = '@Url.Action("ObtenerCP", "Employee")';
        var data = { ID_CIUDAD: cdMuni };
        $.get(url, data).done(function (result) {
            $('#CodiPos').html('');
            for (var i = 0; i < result.length; i++) {
                $('#CodiPos').append('<option value="' + result[i].Id_Codigo + '">' + result[i].Codigo_Postal + '</option>')
            }
        });
    }
    $(document).ready(function () {
        $("#crear").click(function () {
            document.getElementById("hcdpais").value = $('#cmbPaises').val();
            document.getElementById("hcdempresa").value = $('#cbempresa').val();

            $("#NumeroEmp").prop("disabled", false);
            $("#Dir2").prop("disabled", false);
            $("#Nombre").prop("disabled", false);
            $("#Poblac").prop("disabled", false);
            $("#Nombre2").prop("disabled", false);
            $("#Provin").prop("disabled", false);
            $("#Apellido").prop("disabled", false);
            $("#CodiPos").prop("disabled", false);
            $("#Apellido2").prop("disabled", false);
            $("#CodPais").prop("disabled", false);
            document.getElementById("CodPais").value =$('#cmbPaises').val();
            $("#ApeCasada").prop("disabled", false);
            $("#Cargo").prop("disabled", false);
            $("#Middle").prop("disabled", false);
            $("#NumDir").prop("disabled", false);
            $("#Suffix").prop("disabled", false);
            $("#HpRep").prop("disabled", false);
            $("#Iniciales").prop("disabled", false);
            $("#OfiDir").prop("disabled", false);
            $("#Alias").prop("disabled", false);
            $("#Blocked").prop("disabled", false);
            $("#Direccion").prop("disabled", false);
            $("#FecchaModif").prop("disabled", false);
            $('#abrirModalTerms').modal('hide');
            cargarDepartamentos($('#cmbPaises').val());
            //segundo tab
            $("#Area").prop("disabled", false);
            $("#Depart").prop("disabled", false);
            //tab documentos
            $("#numdui").prop("disabled", false);
            $("#numseguro").prop("disabled", false);
            $("#numbredui").prop("disabled", false);
            $("#numbresisss").prop("disabled", false);
            $("#lugarexp").prop("disabled", false);
            $("#nup").prop("disabled", false);
            $("#profesion").prop("disabled", false);
            $("#nombrenup").prop("disabled", false);
            $("#duiletras").prop("disabled", false);
            $("#numbnit").prop("disabled", false);
            $("#fechletras").prop("disabled", false);
            $("#nombrenit").prop("disabled", false);
            //tab comunicacion
            $("#numtel").prop("disabled", false);
            $("#phone").prop("disabled", false);
            $("#numexten").prop("disabled", false);
            $("#telmovil").prop("disabled", false);
            $("#correoemp").prop("disabled", false);
            $("#correo").prop("disabled", false);
            //tab personal
            $("#fechnac").prop("disabled", false);
            //$("#numedad").prop("disabled", false);
            $("#estadocivil").prop("disabled", false);
            $("#genero").prop("disabled", false);
            //Administracion
            $("#afps").prop("disabled", false);
            $("#gastos").prop("disabled", false);
            $("#manoobra").prop("disabled", false);
            $("#prestaciones").prop("disabled", false);
            $("#horaextra").prop("disabled", false);
            $("#estadoemp").prop("disabled", false);
            $("#codlaboral").prop("disabled", false);
            $("#fechajust").prop("disabled", false);
            $("#motivoterm").prop("disabled", false);
            $("#fechcont").prop("disabled", false);
            $("#fechterm").prop("disabled", false);
            $("#tipoemp").prop("disabled", false);
            //Payroll
            $("#Employer").prop("disabled", false);
            $("#claseemp").prop("disabled", false);
            $("#typecode").prop("disabled", false);
            $("#conision").prop("disabled", false);
        });
    });
    //segundo tab
    function cargarDeptoArea(cd_Area, CDEMPRESA) {
        //debugger;
        var url = '@Url.Action("ObtenerDep_Empresas", "Employee")';
        var data = { cd_Area: cd_Area, CDEMPRESA: CDEMPRESA };
        $.get(url, data).done(function (result) {
            $('#Depart').html('');
            for (var i = 0; i < result.length; i++) {
                $('#Depart').append('<option value="' + result[i].ID_DEPTO + '">' + result[i].DESCRIPCION + '</option>')
            }
        });
    }
    $("#Area").change(function () {
        cargarDeptoArea($('#Area').val(), $('#cbempresa').val());
    });

            </script>
