﻿<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <br /><br />
        <div class="card card-stm" style="background-color:white;">
            <div class="card-header">
                <h3>Buscar Empleado</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive" style="padding:15px">
                    <form class="form-inline" role="form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label id="lblpais">País :</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select id="cbpais" name="cbpais" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label id="lblempresa">Empresa :</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select id="cbempresa" name="cbempresa" class="form-control">
                                        <option>Seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br /> <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label id="lblbuscar">Buscar :</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" id="TxtBuscar" class="form-control" name="TxtBuscar" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <button class="btn btn-primary-stm" id="buscar">Buscar</button>
                                </div>
                            </div>
                        <div class="col-sm-3">
                                <div class="form-group">
                                    <button class="btn btn-primary-stm" id="crear">Crear Nuevo</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
