﻿
@{ ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Vista.cshtml";

    <script>
        function cambiotab() {
            $('[href="#DatosGenerales"]').tab('show');
        }

    </script>
}

<br />
<h3>Ficha de Empleado</h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Buscar" role="tab" aria-controls="Buscar" aria-selected="true">Crear / Buscar</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="general-tab" data-toggle="tab" href="#General" role="tab" aria-controls="General" aria-selected="false">General</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ubicacion-tab" data-toggle="tab" href="#Ubicacion" role="tab" aria-controls="Ubicacion" aria-selected="false">Ubic. Dentro de la Organización</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="datos-tab" data-toggle="tab" href="#Datos" role="tab" aria-controls="Datos" aria-selected="false">Datos Documentos</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="comunic-tab" data-toggle="tab" href="#Comunic" role="tab" aria-controls="Comunic" aria-selected="false">Comunicación</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="personal-tab" data-toggle="tab" href="#Personal" role="tab" aria-controls="Personal" aria-selected="false">Personal</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="adminis-tab" data-toggle="tab" href="#Adminis" role="tab" aria-controls="Adminis" aria-selected="false">Administración</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="pay-tab" data-toggle="tab" href="#Pay" role="tab" aria-controls="Pay" aria-selected="false">Payroll</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="Buscar" role="tabpanel" aria-labelledby="home-tab">
        
        <br />
        <form class="form-inline" role="form">
            <div class="row overflow-auto" style="height:400px;">
                @Html.Action("GridViewPartial")
            </div>

            <br />
        </form>
    </div>
    <div class="tab-pane fade" id="General" role="tabpanel" aria-labelledby="general-tab">
        
        <br />
        <form class="form" role="form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblid">No:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="NumeroEmp" class="form-control" name="NumeroEmp" disabled="disabled" tabindex=1 />
                        <br />
                        <a href="" class="btn btn-info btn-xs info" data-toggle="modal" data-target="#myModal" data-id="Buscar">
                            <span class="glyphicon glyphicon glyphicon-modal-window">
                                Buscar
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label style="font-size:small;color:#0059a3;"></label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblnombre">Nombre:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Nombre" class="form-control" name="Nombre" disabled="disabled" tabindex=2 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblpais">Pais</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="CodPais" name="CodPais" class="form-control" disabled="disabled" tabindex=12>
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbPaises)
                            {
                                <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                            }
                        </select>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblnombre2">Segundo Nombre:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Nombre2" class="form-control" name="Nombre2" disabled="disabled" tabindex=3 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbldepto">Departamento:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="Poblac" name="Poblac" class="form-control" disabled="disabled" tabindex=13>
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblape1">Primer Apellido:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Apellido" class="form-control" name="Apellido" disabled="disabled" tabindex=4 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblmunicipio">Municipio:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="Provin" name="Provin" class="form-control" disabled="disabled" tabindex=14>
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblape2">Segundo Apellido:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Apellido2" class="form-control" name="Apellido2" disabled="disabled" tabindex=5 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblcp">C.P.:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="CodiPos" name="CodiPos" class="form-control" disabled="disabled" tabindex=15>
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblape3">Apellido de Casada:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="ApeCasada" class="form-control" name="ApeCasada" disabled="disabled" tabindex=6 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblcargo">Cargo:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="Cargo" name="Cargo" class="form-control" disabled="disabled" tabindex=16>
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbCargos)
                            {
                                <option value="@item.ID_CARGO">@item.NOMBRE_CARGO</option>
                            }
                        </select>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblmidlle">Middle Initial:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Middle" class="form-control" name="Middle" disabled="disabled" tabindex=6 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbldirector">No Director:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="NumDir" name="NumDir" class="form-control" disabled="disabled" tabindex=17>
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblsuffix">Suffix:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Suffix" class="form-control" name="Suffix" disabled="disabled" tabindex=7 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblrep">HP Rep. No.:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="HpRep" name="HpRep" class="form-control" disabled="disabled" tabindex=18>
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblinicial">iniciales:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Iniciales" class="form-control" name="Iniciales" disabled="disabled" tabindex=8 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbllocation">Office Location:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="OfiDir" name="OfiDir" class="form-control" disabled="disabled" tabindex=19>
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblalias">Alias:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Alias" class="form-control" name="Alias" disabled="disabled" tabindex=9 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblblocked">Blocked:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="checkbox" id="Blocked" disabled="disabled" tabindex=20 />
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbldireccion">Dirección:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="Direccion" class="form-control" name="Direccion" disabled="disabled" tabindex=10 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblfechmod">Fecha últ. modificación:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="date" id="FecchaModif" class="form-control" name="FechaModif" disabled="disabled" tabindex=21 />
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbldir2">Dirección 2:</label>
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="Dir2" name="Dir2" disabled="disabled" tabindex=11 />
                    </div>
                    </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label style="font-size:small;color:#0059a3;"></label>
                    </div>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            <button class="btn btn-primary" id="limpiar">Limpiar</button>
            <button class="btn btn-primary" type="button" id="guardar1">Guardar</button>
            <br />
            <br />
        </form>
    </div>
    <div class="tab-pane fade" id="Ubicacion" role="tabpanel" aria-labelledby="ubicacion-tab">
        <br />
        <form class="form" role="form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblarea">Area:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="Area" name="Area" class="form-control" disabled="disabled" tabindex=22>
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbAreas)
                            {
                                <option value="@item.ID_AREA">@item.DESCRIPCION</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbldepto2">Departamento:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="Depart" name="Depart" class="form-control" disabled="disabled" tabindex=23>
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" id="limpiar">Limpiar</button>
            <button class="btn btn-primary" type="button" id="guardar2">Guardar</button>
            <br />
        </form>
    </div>
    <div class="tab-pane fade" id="Datos" role="tabpanel" aria-labelledby="datos-tab">
        <br />
        <form class="form" role="form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbldui">DUI:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="numdui" class="form-control" name="numdui" disabled="disabled" tabindex=24 />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblseguro">No Seguro Social:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="numseguro" class="form-control" name="numseguro" disabled="disabled" tabindex=30 />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblnombdui">Nombre según DUI:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="numbredui" class="form-control" name="numbredui" disabled="disabled" tabindex=25 />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblnombisss">Nombre según ISSS:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="numbresisss" class="form-control" name="numbreisss" disabled="disabled" tabindex=31 />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbllugarexp">Lugar de expedición:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="lugarexp" class="form-control" name="lugarexp" disabled="disabled" tabindex=26 />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblnup">No Único Previsional (NUP):</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="nup" class="form-control" name="nup" disabled="disabled" tabindex=32 />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbloficio">Prof./Oficio según DUI:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="profesion" class="form-control" name="profesion" disabled="disabled" tabindex=27 />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblnombnup">Nombre según NUP:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="nombrenup" class="form-control" name="nombrenup" disabled="disabled" tabindex=33 />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblduiletra">DUI en letras:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="duiletras" class="form-control" name="duiletras" disabled="disabled" tabindex=28 />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblnit">NIT:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="numbnit" class="form-control" name="numnit" disabled="disabled" tabindex=34 />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblfechaexp">Fecha Expedición DUI en Letras:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="fechletras" class="form-control" name="fechletras" disabled="disabled" tabindex=29 />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblnombren">Nombre según NIT:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="nombrenit" class="form-control" name="nombrenit" disabled="disabled" tabindex=35 />
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" id="limpiar" onclick="nuevo()">Limpiar</button>
            <button class="btn btn-primary" id="guardar3" type="button">Guardar</button>
            <br />
        </form>
    </div>
    <div class="tab-pane fade" id="Comunic" role="tabpanel" aria-labelledby="comunic-tab">
        <br />
        <form class="form" role="form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbltelef">No de Teléfono:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="numtel" class="form-control" name="numtel" disabled="disabled" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblphone">Home Phone No:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="phone" class="form-control" name="phone" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblextension">Extensión:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="numexten" class="form-control" name="numexten" disabled="disabled" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbltelmov">No Teléfono Móvil:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="telmovil" class="form-control" name="telmovil" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblcorreoemp">Correo Electrónico empresa:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="correoemp" class="form-control" name="correoemp" disabled="disabled" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblcorreo2">Correo Electrónico:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="correo" class="form-control" name="correo" disabled="disabled" />
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" id="limpiar" onclick="nuevo()">Limpiar</button>
            <button class="btn btn-primary" id="guardar4" type="button">Guardar</button>
            <br />
        </form>
    </div>
    <div class="tab-pane fade" id="Personal" role="tabpanel" aria-labelledby="personal-tab">
        <br />
        <form class="form" role="form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblfechanac">Fecha de nacimiento:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="date" id="fechnac" class="form-control" name="fechnac" disabled="disabled" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbledad">Edad:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="numedad" class="form-control" name="numedad" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblgenero">Género:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="genero" name="genero" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            <option value="1">Femenino</option>
                            <option value="2">Masculino</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblestadocivil">Estado Civil:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="estadocivil" name="estadocivil" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbECivil)
                            {
                                <option value="@item.ID_ESTADO_CIVIL">@item.DESCRIPCION</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" id="limpiar" onclick="nuevo()">Limpiar</button>
            <button class="btn btn-primary" id="guardar5" type="button">Guardar</button>
            <br />
        </form>
    </div>
    <div class="tab-pane fade" id="Adminis" role="tabpanel" aria-labelledby="adminis-tab">
        <br />
        <form class="form" role="form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbltipoempleado">Tipo Empleado:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="tipoemp" name="tipoemp" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbTEmpleado)
                            {
                                <option value="@item.ID_TIPO_EMPLEADO">@item.NOMBRE_TIPO</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblfechterm">Fecha Terminación:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="date" name="fechterm" class="form-control" id="fechterm" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblfechcont">Fecha Contratación:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="date" id="fechcont" class="form-control" name="fechcont" disabled="disabled" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblmotivoterm">Cód. Motivo Terminación:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="motivoterm" name="motivoterm" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbMTerminacion)
                            {
                                <option value="@item.ID_MOV_TERMIN">@item.NOMBRE_PRESTACION</option>
                            }

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblfechajus">Fecha Contratación Ajustada:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="date" id="fechajust" class="form-control" name="fechajust" disabled="disabled" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblcontrato">Cód. Contrato Laboral:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="codlaboral" name="codlaboral" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbContrato)
                            {
                                <option value="@item.ID_CONTRATO">@item.NOMBRE_PRESTACION</option>
                            }

                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblestado">Estado:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="estadoemp" name="estadoemp" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblhorasex">Devenga Horas Extras:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="horaextra" name="horaextra" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbHExtras)
                            {
                                <option value="@item.ID_HORASEXTRA">@item.NOMBRE_PRESTACION</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblviaticos">Depreciación, Viáticos, Combustible:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="prestaciones" name="prestaciones" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbPrestacion)
                            {
                                <option value="@item.ID_DVC">@item.NOMBRE_PRESTACION</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbltipoobra">Tipo de mano de obra:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="manoobra" name="manoobra" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmTMObra)
                            {
                                <option value="@item.ID_MANO_OBRA">@item.DESCRIPCION</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblgastos">Distribución de Gastos:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="gastos" name="gastos" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbDistribucion)
                            {
                                <option value="@item.ID_DISTRIBUCION">@item.NOMBRE_PRESTACION</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblafp">AFps:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="afps" name="afps" class="form-control" disabled="disabled">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbAFP)
                            {
                                <option value="@item.ID_AFP">@item.NOMBRE_PRESTACION</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" id="limpiar" onclick="nuevo()">Limpiar</button>
            <button class="btn btn-primary" id="guardar6" type="button">Guardar</button>
            <br />
        </form>
    </div>
    <div class="tab-pane fade" id="Pay" role="tabpanel" aria-labelledby="pay-tab">
        <br />
        <form class="form" role="form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblid3">Employer No:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="Employer" name="Employer" class="form-control">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbEmployer)
                            {
                                <option value="@item.No">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblreport">Default Work Reporting Authority Code:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="reporting" name="reporting" class="form-control">
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblclaseemp">Clase de Empleado:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="claseemp" name="claseemp" class="form-control">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbEmployeeClass)
                            {
                                <option value="@item.Code">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbltypecode">Default Work Type Code:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="typecode" name="typecode" class="form-control">
                            <option>Seleccione una opción</option>
                            @foreach (var item in ViewBag.cmbEmployeeType)
                            {
                                <option value="@item.Code">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblpaycycle">Pay Cycle Code:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="cyclecode" name="cyclecod" class="form-control">
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblincapacidad">Incapacidad Acumulada mes:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="incapacidad" class="form-control" name="incapacidad" readonly="readonly" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lbljornada">Jornada Laboral:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id="jornada" name="jornada" class="form-control">
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="lblcomision">Comisión:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="checkbox" id="conision" />
                    </div>
                </div>
            </div>
            <input type="hidden" id="hcdpais" name="custId" value="0">
            <input type="hidden" id="hcdempresa" name="custId" value="0">
            <button class="btn btn-primary" id="limpiar" onclick="nuevo()">Limpiar</button>
            <button class="btn btn-primary" id="guardar7" type="button">Guardar</button>
            <br />
        </form>
    </div>
</div>



<div class="modal fade" id="abrirModalTerms" name="abrirModalTerms" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Buscar</h4>
            </div>
            <div class="modal-body">
                <div id="TermsList" name="TermsList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        if ('@ViewBag.MensajeOk' != '') {
            toastr.success('@ViewBag.MensajeOk');
        }
        if ('@ViewBag.MensajeAlerta' != '') {
            toastr.warning('@ViewBag.MensajeAlerta');
        }
        if ('@ViewBag.MensajeError' != '') {
            toastr.warning('@ViewBag.MensajeError');
        }
    });
       //Everytime we press delete in the table row
       $('.info').click(function(e) {
           e.preventDefault();

           //Update the item to delete id so our model knows which one to delete
           var id = 1;

           //$('#item-to-delete').val(id);

           $('#myModalLabel').html("Seleccionar Empleado: ");

           TraerTerminos(id)
       });
    function cargarDepartamentos(cdPais,cdDepo) {
            //debugger;
            var url = '@Url.Action("ObtenerDepartamentos", "CIUDADES")';
            var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#Poblac').html('');
                for (var i = 0; i < result.length; i++) {
                    if (result[i].ID_DEPTO == cdDepo) {
                        $('#Poblac').append('<option value="' + result[i].ID_DEPTO + '" Selected="selected"   >' + result[i].NOMBRE_DEPTO + '</option>')
                    } else {
                        $('#Poblac').append('<option value="' + result[i].ID_DEPTO + '"    >' + result[i].NOMBRE_DEPTO + '</option>')
                    }
                }

            });
    }
    function cargarMunicipios(cdDpto,cdMuni) {
            //debugger;
            var url = '@Url.Action("ObtenerMunicipios", "CIUDADES")';
        var data = { ID_DEPTO: cdDpto };
            $.get(url, data).done(function (result) {
                $('#Provin').html('');
                for (var i = 0; i < result.length; i++) {
                    if (result[i].ID_CIUDAD == cdMuni) {
                        $('#Provin').append('<option value="' + result[i].ID_CIUDAD + '" Selected="selected">' + result[i].NOMBRE_CIUDAD + '</option>')
                    } else {
                        $('#Provin').append('<option value="' + result[i].ID_CIUDAD + '">' + result[i].NOMBRE_CIUDAD + '</option>')
                    }

                }
            });
    }
     function cargarCP(cdMuni,cdCP) {
        //debugger;
        var url = '@Url.Action("ObtenerCP", "Employee")';
        var data = { ID_CIUDAD: cdMuni };
        $.get(url, data).done(function (result) {
            $('#CodiPos').html('');

            for (var i = 0; i < result.length; i++) {
                if (result[i].Id_Codigo == cdCP) {
                    $('#CodiPos').append('<option value="' + result[i].Id_Codigo + '" Selected="selected">' + result[i].Codigo_Postal + '</option>')
                } else {
                    $('#CodiPos').append('<option value="' + result[i].Id_Codigo + '">' + result[i].Codigo_Postal + '</option>')
                }

            }
        });
    }

    function TraerTerminos(Code)
    {
        url = '@Url.Action("Buscar", "Employee")';
        var data = { Code: Code,};
        $.post(url, data).done(function (result) {
            $('#TermsList').html('');
            $('#TermsList').html(result);
            $('#abrirModalTerms').modal('show');
        });
    }

    function CrearEmployee(No, FirstName, MiddleName, LastName, SecondLastName, MarriedLastname, MiddleInitial, Suffix, Initials, SearchName, Address, Address2, CountryRegionCode, Departamento, City, PostCode, ID_CARGO, Blocked, LastDateModified) {
        url = '@Url.Action("Create_Employee", "Employee")';
        var data = { No: No, FirstName: FirstName, MiddleName: MiddleName, LastName: LastName, SecondLastName: SecondLastName, MarriedLastname: MarriedLastname, MiddleInitial: MiddleInitial, Suffix: Suffix, Initials: Initials, SearchName: SearchName, Address: Address, Address2: Address2, CountryRegionCode: CountryRegionCode, Departamento: Departamento, City: City, PostCode: PostCode, ID_CARGO: ID_CARGO, Blocked: Blocked, LastDateModified: LastDateModified };
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
    }

        $(document).ready(function () {

        $("#guardar1").click(function () {
            var No = $('#NumeroEmp').val();
            FirstName = $('#Nombre').val();
            MiddleName = $('#Nombre2').val();
            LastName = $('#Apellido').val();
            SecondLastName=$('#Apellido2').val();
            MarriedLastname = $('#ApeCasada').val();
            MiddleInitial = $('#Middle').val();
            Suffix = $('#Suffix').val();
            Initials = $('#Iniciales').val();
            SearchName = $('#Alias').val();
            Address = $('#Direccion').val();
            Address2 = $('#Dir2').val();
            CountryRegionCode = $('#CodPais').val();
            Departamento = $('#Poblac').val();
            City = $('#Provin').val();
            PostCode = $('#CodiPos').val();
            ID_CARGO = $('#Cargo').val();
            Blocked = $('#Blocked').val();
            LastDateModified = $('#FecchaModif').val();
            CrearEmployee(No, FirstName, MiddleName, LastName, SecondLastName, MarriedLastname, MiddleInitial, Suffix, Initials, SearchName, Address, Address2, CountryRegionCode, Departamento, City, PostCode, ID_CARGO, Blocked, LastDateModified);
        });

        $("#guardar2").click(function () {
            var No = $('#NumeroEmp').val();
            Area = $('#Area').val();
            Dpto = $('#Depart').val();
            CrearEmployeeArea(No, Area, Dpto );
        });

        $("#guardar3").click(function () {
            No = $('#NumeroEmp').val();
            DUI= $("#numdui").val();
            SocialSecurityNo=$("#numseguro").val();
            NomDUI=$("#numbredui").val();
            SocialSecurityname=$("#numbresisss").val();
            LugExpTI=$("#lugarexp").val();
            NUP=$("#nup").val();
            ProfDUI=$("#profesion").val();
            NUPName=$("#nombrenup").val();
            TILetras=$("#duiletras").val();
            nit=$("#numbnit").val();
            FExpTILetras=$("#fechletras").val();
            NITName=$("#nombrenit").val();
            CrearEmployeeDoc(No, DUI, SocialSecurityNo, NomDUI, SocialSecurityname, LugExpTI, NUP, ProfDUI, NUPName, TILetras, nit, FExpTILetras, NITName);
        });

        $("#guardar4").click(function () {
            No = $('#NumeroEmp').val();
            PhoneNo = $("#numtel").val();
            HomePhoneNo = $("#phone").val();
            Extension = $("#numexten").val();
            MobilePhoneNo = $("#telmovil").val();
            CompanyEMail = $("#correoemp").val();
            EMail = $("#correo").val();

            CrearEmployeeContac(No, PhoneNo, HomePhoneNo, Extension, MobilePhoneNo, CompanyEMail, EMail);
        });

        $("#guardar5").click(function () {
            No = $('#NumeroEmp').val();
            BirthDate = $('#fechnac').val();
            Edad = $("#numedad").val();
            MaritalStatus = $("#estadocivil").val();
            gender = $("#genero").val();

            CrearEmployeePersonal(No, BirthDate, Edad, MaritalStatus, gender);
        });

        $("#guardar6").click(function () {
            No = $('#NumeroEmp').val();
            ID_DISTRIBUCION = $('#gastos').val();
            ID_MANO_OBRA = $("#manoobra").val();
            ID_DVC = $("#prestaciones").val();
            ID_HORASEXTRA = $("#horaextra").val();
            Status = $('#estadoemp').val();
            ID_CONTRATO = $('#codlaboral').val();
            FechContAjust = $("#fechajust").val();
            ID_MOV_TERMIN = $("#motivoterm").val();
            EmploymentDate = $("#fechcont").val();
            TerminationDate = $("#fechterm").val();
            ID_TIPO_EMPLEADO = $("#tipoemp").val();
            ID_AFP = $("#afps").val();
            CrearEmployeeAdministracion(No, ID_DISTRIBUCION, ID_MANO_OBRA, ID_DVC, ID_HORASEXTRA, Status, ID_CONTRATO, FechContAjust, ID_MOV_TERMIN, EmploymentDate, TerminationDate, ID_TIPO_EMPLEADO, ID_AFP);
        });

        $("#guardar7").click(function () {
            No = $('#NumeroEmp').val();
            EmployerNo = $('#Employer').val();
            ClassCode = $("#claseemp").val();
            ID_TIPO_EMPLEADO = $("#typecode").val();
            Comision = $("#conision").val();

            CrearEmployeePayRoll(No, EmployerNo, ClassCode, ID_TIPO_EMPLEADO, Comision);
        });
        $("#fechnac").change(function () {
            CalculateAge($("#fechnac").val());
        });
            if ('@ViewBag.idseleccinado') {
                CargarEmployee('@ViewBag.idseleccinado');
            }

    });

    function CrearEmployeePayRoll(No, EmployerNo, ClassCode, ID_TIPO_EMPLEADO, Comision)
    {

        url = '@Url.Action("CrearEmployeePayRoll", "Employee")';
        var data = { No: No, EmployerNo: EmployerNo, ClassCode: ClassCode, ID_TIPO_EMPLEADO: ID_TIPO_EMPLEADO, Comision: Comision };
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });

    }

    function CrearEmployeeContac(No, PhoneNo, HomePhoneNo, Extension, MobilePhoneNo, CompanyEMail, EMail)
    {
        url = '@Url.Action("Create_EmployeeContac", "Employee")';
        var data = { No: No, PhoneNo: PhoneNo, HomePhoneNo: HomePhoneNo, Extension: Extension, MobilePhoneNo: MobilePhoneNo, EMail: EMail};
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });

    }



    function CrearEmployeeAdministracion(No, ID_DISTRIBUCION, ID_MANO_OBRA, ID_DVC, ID_HORASEXTRA, Status, ID_CONTRATO, FechContAjust, ID_MOV_TERMIN, EmploymentDate, TerminationDate, ID_TIPO_EMPLEADO, ID_AFP) {
        alert(No + '/' + ID_DISTRIBUCION + '/' + ID_MANO_OBRA + '/' + ID_DVC + '/' + ID_HORASEXTRA + '/' + Status + '/' + ID_CONTRATO + '/' + FechContAjust + '/' + ID_MOV_TERMIN + '/' + EmploymentDate + '/' + TerminationDate + '/' + ID_TIPO_EMPLEADO + '/' + ID_AFP);
        url = '@Url.Action("Create_EmployeeAdministracion", "Employee")';
       var data = { No: No, ID_DISTRIBUCION: ID_DISTRIBUCION, ID_MANO_OBRA: ID_MANO_OBRA, ID_DVC: ID_DVC, ID_HORASEXTRA: ID_HORASEXTRA, Status: Status, ID_CONTRATO: ID_CONTRATO, FechContAjust: FechContAjust, ID_MOV_TERMIN: ID_MOV_TERMIN, EmploymentDate: EmploymentDate, TerminationDate: TerminationDate, ID_TIPO_EMPLEADO: ID_TIPO_EMPLEADO, ID_AFP: ID_AFP };
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });

    }

    function CrearEmployeePersonal(No, BirthDate, Edad, MaritalStatus, gender)
    {

        url = '@Url.Action("Create_EmployeePersonal", "Employee")';
        var data = { No: No, BirthDate: BirthDate, Edad: Edad, MaritalStatus: MaritalStatus, gender: gender };
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });

    }
    function CrearEmployeeDoc(No, DUI, SocialSecurityNo, NomDUI, SocialSecurityname, LugExpTI, NUP, ProfDUI, NUPName, TILetras, nit, FExpTILetras, NITName)
    {
        url = '@Url.Action("Create_EmployeeDoc", "Employee")';
        var data = { No: No, DUI: DUI, SocialSecurityNo: SocialSecurityNo, NomDUI: NomDUI, SocialSecurityname: SocialSecurityname, LugExpTI: LugExpTI, NUP: NUP, ProfDUI: ProfDUI, NUPName: NUPName, TILetras: TILetras, nit: nit, FExpTILetras: FExpTILetras, NITName:NITName };
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });
        Alert("Documetnos actualizados satisfactoriamente");
    }
    function CrearEmployeeArea(No, Area, Dpto)
    {
        url = '@Url.Action("Create_EmployeeAreas", "Employee")';
        var data = { No: No, Area: Area, Dpto: Dpto };
        $.post(url, data).done(function (result) {
            toastr.success("Exitoso");
        });

    }
    function cargarDeptoArea(cd_Area, CDEMPRESA,cdDpto) {
        //debugger;
        var url = '@Url.Action("ObtenerDep_Empresas", "Employee")';
        var data = { cd_Area: cd_Area, CDEMPRESA: '0001' };
        $.get(url, data).done(function (result) {
            $('#Depart').html('');
            for (var i = 0; i < result.length; i++) {
                if (result[i].ID_DEPTO == cdDpto) {
                    $('#Depart').append('<option value="' + result[i].ID_DEPTO + '" Selected="selected">' + result[i].DESCRIPCION + '</option>')
                } else {
                    $('#Depart').append('<option value="' + result[i].ID_DEPTO + '" >' + result[i].DESCRIPCION + '</option>')
                }

            }
        });
    }
    function CalculateAge(DOB) {
        this.birthday = new Date(DOB);
        const diff = Date.now() - this.birthday.getTime();
        const ageDate = new Date(diff);
        var age =Math.abs(ageDate.getUTCFullYear() - 1970);
        $('#numedad').val(age);
    }
    $("#Area").change(function () {
        cargarDeptoArea($('#Area').val(), '','');
    });
    function CargarEmployee( No) {
        url = '@Url.Action("ObtenerEmployee", "Employee")';
        var data = { No: No };

        $.post(url, data).done(function (result) {
            for (var i = 0; i < result.length; i++) {
                $('#NumeroEmp').val(result[i].No);
                $("#Nombre").prop("disabled", false);
                $('#Nombre').val(result[i].FirstName);
                $("#Nombre2").prop("disabled", false);
                $('#Nombre2').val(result[i].MiddleName);
                $("#Apellido").prop("disabled", false);
                $('#Apellido').val(result[i].LastName);
                $("#Apellido2").prop("disabled", false);
                $('#Apellido2').val(result[i].SecondLastName);
                $("#ApeCasada").prop("disabled", false);
                $('#ApeCasada').val(result[i].MarriedLastname);
                $("#Middle").prop("disabled", false);
                $('#Middle').val(result[i].MiddleInitial);
                $("#Suffix").prop("disabled", false);
                $('#Suffix').val(result[i].Suffix);
                $("#Iniciales").prop("disabled", false);
                $('#Iniciales').val(result[i].Initials);
                $("#Alias").prop("disabled", false);
                $('#Alias').val(result[i].SearchName);
                $("#Direccion").prop("disabled", false);
                $('#Direccion').val(result[i].Address);
                $("#Dir2").prop("disabled", false);
                $('#Dir2').val(result[i].Address2);
                $("#CodPais").prop("disabled", false);
                document.getElementById("CodPais").value = result[i].CountryRegionCode;
                $("#Poblac").prop("disabled", false);
                cargarDepartamentos(result[i].CountryRegionCode, result[i].Departamento);
                $("#Provin").prop("disabled", false);
                cargarMunicipios(result[i].Departamento, result[i].City);
                $("#CodiPos").prop("disabled", false);
                cargarCP(result[i].City, result[i].PostCode);
                $("#Cargo").prop("disabled", false);
                document.getElementById("Cargo").value = result[i].ID_CARGO;
                $("#Blocked").prop("disabled", false);
                document.getElementById("Blocked").checked = result[i].Blocked;
                $("#FecchaModif").prop("disabled", false);
                var today = eval (result[i].LastDateModified.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                document.getElementById("FecchaModif").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
                //segundo tab
                $("#Area").prop("disabled", false);
                document.getElementById("Area").value = result[i].Area;
                $("#Depart").prop("disabled", false);
                cargarDeptoArea($('#Area').val(), '', result[i].Dpto)
                //seccion documentos
                $("#numdui").prop("disabled", false);
                $('#numdui').val(result[i].DUI);
                $("#numseguro").prop("disabled", false);
                $('#numseguro').val(result[i].SocialSecurityNo);
                $("#numbredui").prop("disabled", false);
                $('#numbredui').val(result[i].NomDUI);
                $("#numbresisss").prop("disabled", false);
                $('#numbresisss').val(result[i].SocialSecurityname);
                $("#lugarexp").prop("disabled", false);
                $('#lugarexp').val(result[i].LugExpTI);
                $("#nup").prop("disabled", false);
                $('#nup').val(result[i].NUP);
                $("#profesion").prop("disabled", false);
                $('#profesion').val(result[i].ProfDUI);
                $("#nombrenup").prop("disabled", false);
                $('#nombrenup').val(result[i].NUPName);
                $("#duiletras").prop("disabled", false);
                $('#duiletras').val(result[i].TILetras);
                $("#numbnit").prop("disabled", false);
                $('#numbnit').val(result[i].NIT);
                $("#fechletras").prop("disabled", false);
                $('#fechletras').val(result[i].FExpTILetras);
                $("#nombrenit").prop("disabled", false);
                $('#nombrenit').val(result[i].NITName);
                //tab comunicacion
                $("#numtel").prop("disabled", false);
                $('#numtel').val(result[i].PhoneNo);
                $("#phone").prop("disabled", false);
                $('#phone').val(result[i].HomePhoneNo);
                $("#numexten").prop("disabled", false);
                $('#numexten').val(result[i].Extension);
                $("#telmovil").prop("disabled", false);
                $('#telmovil').val(result[i].MobilePhoneNo);
                $("#correoemp").prop("disabled", false);
                $('#correoemp').val(result[i].CompanyEMail);
                $("#correo").prop("disabled", false);
                $('#correo').val(result[i].EMail);
            }
        });
        }

</script>