﻿@model PagedList.PagedList<ControlPlanilla.Models.CalculationOrderControl>
@using PagedList.Mvc;
@{
    var i = 0;
}


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CalculationOrderCode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayrollControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AnotherOrderUses)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MasterOrder)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CalculationOrders)
                </th>*@


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td hidden>
                    @Html.HiddenFor(modelItem => item.CalculationOrder.Code, new { htmlAttributes = new { @class = "form-control", @id = "CalculationOrderCode_" + i, @posicion = i, @readonly = "readonly" } })
                </td>

                <td>
                    @Html.EditorFor(modelItem => item.OrderNo, new { htmlAttributes = new { @class = "form-control", @id = "OrderNo_" + i, @posicion = i, @readonly = "readonly", @type="text", @style = "width:75px;" } })
                </td>
                <td>
                    @Html.DropDownList("PayrollControl_" + i, new SelectList(ViewBag.PayrollControl, "Value", "Text", item.PayrollControlCode), htmlAttributes: new { @class = "form-control", @posicion = i })
                </td>
                <td>
                    <div class="checkbox">
                        @Html.EditorFor(modelItem => item.AnotherOrderUses, new { htmlAttributes = new { @class = "form-control", @id = "AnotherOrderUses_" + i, @posicion = i } })
                    </div>

                </td>
                <td>
                    <div class="checkbox">
                        @Html.EditorFor(modelItem => item.MasterOrder, new { htmlAttributes = new { @class = "form-control", @id = "MasterOrder_" + i, @posicion = i } })
                    </div>
                </td>
                @*<td>
                        <div class="checkbox">
                            @Html.DisplayFor(modelItem => item.CalculationOrders)
                        </div>
                    </td>*@

                <td>
                    <button class="btn btn-sm botones" onclick="EditarOrder(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarOrder(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td>
                
            </td>
            <td>
                @Html.DropDownList("PayrollControl", new SelectList(ViewBag.PayrollControl, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                <div class="checkbox">
                    <input type="checkbox" name="AnotherOrderUses" id="AnotherOrderUses" class="form-control"/>
                </div>
            </td>
            <td>
                <div class="checkbox">
                    <input type="checkbox" name="MasterOrder" id="MasterOrder" class="form-control" />
                </div>
            </td>
            
            <td>
                <button class="btn btn-sm botones" onclick="CrearOrder()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>


    </tbody>

</table>

<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("CalculationOrderControls", "CalculationOrders",
    new { Code = ViewBag.Code,  page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {

            HttpMethod = "POST",
            UpdateTargetId = "LinesList",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))