﻿@model ControlPlanilla.Models.CalculationOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Crear calculations orders</h3>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

<div class="col-sm-12">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @maxlength = "10" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.MasterOrder, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MasterOrder, new { htmlAttributes = new { @class = "col-md-10 form-control", @style = "text-align: left" } })
                    @Html.ValidationMessageFor(model => model.MasterOrder, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.PayrollControls, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayrollControls, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PayrollControls, "", new { @class = "text-danger" })
            </div>
        </div>*@
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            @Html.LabelFor(model => model.SynchRequired, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="col-sm-9">
        <div class="form-group">
            <div class="checkbox">
                @Html.EditorFor(model => model.SynchRequired, new { htmlAttributes = new { @class = "col-md-10 form-control", @style = "text-align: left" } })
                @Html.ValidationMessageFor(model => model.SynchRequired, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    </div>
</div>
        }

        <br />
