﻿@model ControlPlanilla.Models.CalculationOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle calculations orders</h3>
                    <div class="col-sm-12">
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MasterOrder)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MasterOrder)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PayrollControls)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PayrollControls)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SynchRequired)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SynchRequired)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
<br />