﻿@model IEnumerable<ControlPlanilla.Models.CalculationOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
@{
    var i = 0;
}
<br />
                <h3>Calculations orders</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Crear registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MasterOrder)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PayrollControls)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SynchRequired)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                i += 1;
                            <tr>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                                </td>
                                <td>
                                    <a href="" class="btn btn-info btn-xs detalle" data-id="@item.Code">
                                        <span class="glyphicon glyphicon glyphicon-modal-window">
                                            @item.Code
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MasterOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PayrollControls)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SynchRequired)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>




<!--Modal para los detalles del calculation order-->
<div class="modal fade" id="abrirModalOrders" name="abrirModalOrders" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelOrder">Direct Deposit Sections</label>
            </div>
            <div class="modal-body col-12">
                <div id="ListOrders" name="ListOrders" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var CodeOrder = "";
    //Everytime we press delete in the table row
    $('.detalle').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        var id = $(this).data('id');

        //$('#item-to-delete').val(id);

        $('#myLabelOrders').html("Calculation Order Controls: " + id);
        CodeOrder = id;
        TraerOrders()
    });

    function TraerOrders()
    {
          $.blockUI();
        var url = '@Url.Action("CalculationOrderControls", "CalculationOrders")';
        var data = { Code: CodeOrder };

         $.post(url, data).done(function (result) {

            $('#ListOrders').html('');
            $('#ListOrders').html(result);
            $('#abrirModalOrders').modal('show');

            $.unblockUI();
         });
    }

    function ActualizarOrders()
    {
          $.blockUI();
        var url = '@Url.Action("CalculationOrderControls", "CalculationOrders")';
        var data = { Code: CodeOrder };

         $.post(url, data).done(function (result) {

            $('#ListOrders').html('');
            $('#ListOrders').html(result);

            $.unblockUI();
         });
    }

    function CrearOrder()
    {
        $('.botones').attr("disabled", "disabled");

        var PayControl = $('#PayrollControl').val();
       
        var OrderUses = document.getElementById('AnotherOrderUses').checked;
        var MasOrder = document.getElementById('MasterOrder').checked;

        var url = '@Url.Action("CrearOrder", "CalculationOrders")';

        var data = { CalculationOrderCode: CodeOrder, PayrollControlCode: PayControl, AnotherOrderUses: OrderUses, MasterOrder: MasOrder };

        $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        ActualizarOrders();
                        toastr.success("Registro creado");
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                });
        $('.botones').removeAttr("disabled", "disabled");
    }

    function EditarOrder(element)
    {
        $('.botones').attr("disabled", "disabled");

        var posicion = $(element).attr("posicion");
        var i = posicion;
        var PayControl = $('#PayrollControl_'+i).val();

        var OrderNum = $('#OrderNo_' + i).val();
        var OrderUses = document.getElementById('AnotherOrderUses_'+i).checked;
        var MasOrder = document.getElementById('MasterOrder_'+i).checked;

        var url = '@Url.Action("EditarOrder", "CalculationOrders")';

        var data =
        {
            CalculationOrderCode: CodeOrder, OrderNo: OrderNum, PayrollControlCode: PayControl,
            AnotherOrderUses: OrderUses, MasterOrder: MasOrder
        };


        $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        ActualizarOrders();
                        toastr.success("Registro actualizado");
                        $('.botones').removeAttr("disabled", "disabled");

                    }
                });
        $('.botones').removeAttr("disabled", "disabled");
    }


    function EliminarOrder(element)
    {
        $('.botones').attr("disabled", "disabled");

        var posicion = $(element).attr("posicion");
        var i = posicion;
        var OrderNum = $('#OrderNo_' + i).val();
        alert(OrderNum);
        var url = '@Url.Action("EliminarOrder", "CalculationOrders")';

        var data = { CalculationOrderCode: CodeOrder, OrderNo: OrderNum };


        $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        ActualizarOrders();
                        toastr.success("Registro eliminado");
                        $('.botones').removeAttr("disabled", "disabled");

                    }
                });
        $('.botones').removeAttr("disabled", "disabled");
    }



</script>