﻿@model IEnumerable<ControlPlanilla.Models.ESTADOS_CIVILES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Estado Civil</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.DESCRIPCION)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_ESTADO_CIVIL }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.ID_ESTADO_CIVIL }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_ESTADO_CIVIL })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DESCRIPCION)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
        <br />
