﻿@model ControlPlanilla.Models.PAISES

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Eliminar País</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                        <h3>¿Está seguro de eliminar este registro?</h3>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.DS_NOMBREPAIS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DS_NOMBREPAIS)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CD_AREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CD_AREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_CREA)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_CREA)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUA_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUA_ACTU)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FECH_ACTU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FECH_ACTU)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        }
                    </div>
        <br />
