﻿@model ControlPlanilla.Models.PayrollControlGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Payroll Control Groups</h3>

                <div class="col-sm-12">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PayControls)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PayControls)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsGroupUsed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsGroupUsed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PayControlFilter)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PayControlFilter)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>