﻿@model PagedList.IPagedList<ControlPlanilla.Models.PayrollControlGroupControl>
@using PagedList.Mvc;

@{
    var i = 0;
}
<table class="table table-responsive table-bordered table-hover" id="tListGroups" style="display: block;
    overflow-x: auto;
    white-space: nowrap;">

    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.FirstOrDefault().PayrollControlGroupName)
            </th>
            <th>
                @Html.LabelFor(model => model.FirstOrDefault().PayControlCode)
            </th>
            <th>
                @Html.LabelFor(model => model.FirstOrDefault().PayControlName)
            </th>
            <th>
                @Html.LabelFor(model => model.FirstOrDefault().MonthlySchedule)
            </th>
            <th>
                @Html.LabelFor(model => model.FirstOrDefault().PayrollPostingGroup)
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PayrollControlGroupName, new { htmlAttributes = new { @class = "form-control", @id = "txtGroupName_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.PayControlCode, new { htmlAttributes = new { @class = "form-control", @id = "txtGroupCode_" + i, @posicion = i, @disabled = "disabled" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.PayControlName, new { htmlAttributes = new { @class = "form-control", @id = "txtControlName_" + i, @posicion = i, @style = "width: 200px" } })
                </td>
                <td>
                    @Html.DropDownList("MonthlySchedule" + i, new SelectList(ViewBag.MonthlySchedule, "Value", "Text", item.MonthlySchedule), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:170px;" })
                </td>
                <td>
                    @Html.DropDownList("PayrollPostingGroup" + i, new SelectList(ViewBag.PayrollPostingGroup, "Value", "Text", item.PayrollPostingGroup), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:150px;" })
                </td>


                <td>
                    <button class="btn btn-sm botones" onclick="EditarGroup(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarGroup(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>

            </tr>
        }
        <tr>
            <td>
                <label>@ViewBag.Nombre</label>
            </td>
            <td>
                @*<input id="PayControlCode" type="text" class="form-control" maxlength="20" />*@
                @Html.DropDownList("PayControlCode", new SelectList(ViewBag.ControlCode, "Value", "Text"), null,
                    htmlAttributes: new
                    {
                            @class = "form-control base",
                            @onchange = "PayControlCode();",
                            @onload = "PayControlCode();"
                    })
            </td>
            <td>
                <input id="PayControlName" type="text" class="form-control" style="width: 200px" readonly="readonly" />
            </td>
            <td>
                @Html.DropDownList("MonthlySchedule", new SelectList(ViewBag.MonthlySchedule, "Value", "Text"), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:170px;" })
            </td>
            <td>
                @Html.DropDownList("PayrollPostingGroup", new SelectList(ViewBag.PayrollPostingGroup, "Value", "Text"), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:150px;" })
            </td>
            <td>
                <button class="btn btn-sm botones" onclick="CrearGroup()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>

        </tr>
    </tbody>

</table>

<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("GroupControls", "PayrollControlGroups",
    new { Codigo = ViewBag.Codigo, Nombre = ViewBag.Nombre, page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {

            HttpMethod = "POST",
            UpdateTargetId = "ListGroups",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))

<script>
    function PayControlCode() {
        
        var combo = document.getElementById("PayControlCode");
        var selected = combo.options[combo.selectedIndex].text;

        $('#PayControlName').val(selected);

    }
</script>