﻿@model IEnumerable<ControlPlanilla.Models.PayrollControlGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Payroll Control Groups</h3>

                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayControls)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsGroupUsed)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PayControlFilter)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                        </td>
                        <td>
                            <a href="" class="btn btn-info btn-xs detalle" data-toggle="modal" data-target="#myModal" nombre="@item.Name" data-id="@item.Code">
                                <span class="glyphicon glyphicon glyphicon-modal-window">
                                    @item.Code
                                </span>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayControls)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsGroupUsed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayControlFilter)
                        </td>
                    </tr>
                        }

                    </table>
                </div>

<!--Modal para la seccion del arhivo de abono-->
<div class="modal fade" id="abrirModalDetalles" name="abrirModalDetalles" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelGroup"></label>
            </div>
            <div class="modal-body col-12">
                <div id="ListGroups" name="ListGroups" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var ControlGroup = "";
    var nombreGrupo=""
     $('.detalle').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        var id = $(this).data('id');

        //$('#item-to-delete').val(id);
         ControlGroup = id;
         nombreGrupo = $(this).attr("nombre");
        $('#myLabelGroup').html("Payroll control groups controls: " + id);

        TraerDetalles()
     });

    function TraerDetalles()
    {
        $('.botones').attr("disabled", "disabled");
        var url = '@Url.Action("GroupControls", "PayrollControlGroups")';
        var data = { Codigo: ControlGroup, Nombre: nombreGrupo };

         $.post(url, data).done(function (result) {

            $('#ListGroups').html('');
            $('#ListGroups').html(result);
            $('#abrirModalDetalles').modal('show');

             $('.botones').removeAttr("disabled", "disabled");
         });
     }

    //CRUD de GroupsControls
    function ActualizarDetelles() {
        $('.botones').attr("disabled", "disabled");
        var url = '@Url.Action("GroupControls", "PayrollControlGroups")';
        var data = { Codigo: ControlGroup };

        $.post(url, data).done(function (result) {
            $('#ListGroups').html('');
            $('#ListGroups').html(result);
            $('.botones').removeAttr("disabled", "disabled");
        });

    }
    function CrearGroup()
    {
        $('.botones').attr("disabled", "disabled");
        var payCode = $('#PayControlCode').val();
        var payName = $('#PayControlName').val();
        var periodo = $('#MonthlySchedule').val();
        var posting = $('#PayrollPostingGroup').val();

        var url = '@Url.Action("CrearGroup", "PayrollControlGroups")';

        var data =
        {
            PayrollControlGroupCode: ControlGroup, PayControlCode: payCode,
            PayControlName: payName, PayrollControlGroupName: nombreGrupo,
            MonthlySchedule: periodo, PayrollPostingGroup: posting
        };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarDetelles();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });

    }

    function EditarGroup(element)
    {
        var posicion = $(element).attr("posicion");
        var i = posicion;
        alert(i);
        $('.botones').attr("disabled", "disabled");
        var payCode = $('#txtGroupCode_'+i).val();
        alert(payCode);
        var payName = $('#txtControlName_' + i).val();
        var periodo = $('#MonthlySchedule' + i).val();
        alert(periodo);
        var posting = $('#PayrollPostingGroup'+i).val();

        var url = '@Url.Action("EditarGroup", "PayrollControlGroups")';

        var data =
        {
            PayrollControlGroupCode: ControlGroup, PayControlCode: payCode,
            PayControlName: payName, PayrollControlGroupName: nombreGrupo,
            MonthlySchedule: periodo, PayrollPostingGroup: posting
        };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarDetelles();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }

    function EliminarGroup(element)
    {
        var posicion = $(element).attr("posicion");
        var i = posicion;
        $('.botones').attr("disabled", "disabled");
        var payCode = $('#txtGroupCode_'+i).val();
        //var payName = $('#PayControlName_'+i).val();
        //var periodo = $('#MonthlySchedule_'+i).val();
        //var posting = $('#PayrollPostingGroup_'+i).val();

        var url = '@Url.Action("EliminarGroup", "PayrollControlGroups")';

        var data =
        {
            GroupCode: ControlGroup, ControlCode: payCode,
        };

            $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarDetelles();
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                $('.botones').removeAttr("disabled", "disabled");
            });
    }

</script>