﻿@model ControlPlanilla.Models.PayrollRate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Tarifa</h3>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EditStatus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EditStatus)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UnitofMeasureCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UnitofMeasureCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BorrarPosteo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BorrarPosteo)
                            </dd>

                        </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>
