﻿@model IEnumerable<ControlPlanilla.Models.PayrollRate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Tarifas</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EditStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitofMeasureCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BorrarPosteo)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            
                            @Html.DisplayFor(modelItem => item.EditStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitofMeasureCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BorrarPosteo)
                                </td>
                    </tr>
                        }

                    </table>
                </div>