﻿@model ControlPlanilla.Models.AREAS_EMPRESA

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Crear Area de Empresa</h3>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

<div class="col-sm-12">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label>PAIS</label>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="form-group">
            <select class="form-control" name="cmbPaises" id="cmbPaises" required>
                @foreach (var item in ViewBag.cmbPaises)
                {
                    <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                }
            </select>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>Empresa</label>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <select class="form-control" name="CD_EMPRESA" id="CD_EMPRESA" required>
                    @foreach (var item in ViewBag.cmbDepartamentos)
                    {
                        <option value="@item.ID_DEPTO">@item.NOMBRE_DEPTO</option>
                    }
                </select>
            </div>
        </div>
        </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>



            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                @Html.ActionLink("Regresar a la Lista", "Index")
            </div>
        </div>
        }
        <br />

        <script>
    $("#cmbPaises").change(function () {
        cargarEmpresas($('#cmbPaises').val());
    });


    function cargarEmpresas(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerEmpresas", "AREAS_EMPRESA")';
            var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#CD_EMPRESA').html('');
            for (var i = 0; i < result.length; i++) {
                $('#CD_EMPRESA').append('<option value="' + result[i].CD_EMPRESA + '">' + result[i].DS_EMPRESA + '</option>')
            }
            });
    }
        </script>
