﻿@model ControlPlanilla.Models.EmployeePayrollControl

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

    <br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="col-sm-12">
    <h4>EmployeePayrollControl</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeNo, "EmployeeNo", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                @Html.DropDownList("EmployeeNo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PayControlCode, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <select id="PayControlCode" name="PayControlCode" class="form-control" tabindex=12>
                    <option>Seleccione una opción</option>
                    @foreach (var item in ViewBag.paycontrols)
                    {
                        <option value="@item.Code">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.MonthlySchedule, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <select id="MonthlySchedule" name="MonthlySchedule" class="form-control" tabindex=12>
                    <option>Seleccione una opción</option>
                    @foreach (var item in ViewBag.PayrollControlMonthlySchedule)
                    {
                        <option value="@item.ID_CALENDARIO">@item.DESCRIPCION</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <input type="checkbox" id="Active" tabindex=20 />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PayrollPostingGroup, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <select id="PayrollPostingGroup" name="PayrollPostingGroup" class="form-control" tabindex=12>
                    <option>Seleccione una opción</option>
                    @foreach (var item in ViewBag.PayrollPostingGroup)
                    {
                        <option value="@item.Code">@item.Code</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>

        <div class="form-group"> 
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                @Html.ActionLink("Regresar a la Lista", "Index")
            </div>
    </div>
        }

