﻿@model ControlPlanilla.Models.EmployeePayrollControl

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Eliminar EmployeePayrollControl</h3>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

    <h3>¿Está seguro de eliminar este registro?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.MonthlySchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlySchedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollPostingGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollPostingGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
