﻿@model ControlPlanilla.Models.EmployeePayrollControl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}


<br />

<h3>EmployeePayrollControl</h3>
<div class="col-sm-12">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlySchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlySchedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollPostingGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollPostingGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>

                </div>
<br />
