﻿@model IEnumerable<ControlPlanilla.Models.EmployeePayrollControl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
<br />
<h2>Index</h2>
<div class="col-sm-12 overflow-auto" style="height:400px;">
    <p>
        @Html.ActionLink("Nuevo Registro", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlySchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollPostingGroup)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.EmployeeNo, id2 = item.PayControlCode }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.EmployeeNo, id2 = item.PayControlCode }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.EmployeeNo, id2 = item.PayControlCode })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySchedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayrollPostingGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxableAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlobalDimension1Filter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlobalDimension2Filter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountyFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalityFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GLPostTypeFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayrollLedgEntryNoFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkTypeFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepAuthTypeFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepAuthCodeFilter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayControlType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calculate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>
    </tr>
        }

    </table>
</div>
<br />
