﻿<style>
    /*estilo para button file*/
    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
</style>
<script>
    /*funcion para mostrar la imagen al cargar el archivo*/
    $(document).ready( function() {
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
		}); 	
	});
</script>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <br /><br />
        <div class="card card-stm" style="background-color:white;">
            <div class="card-header">
                <h3>Employer</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive" style="padding:15px">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#General">General</a></li>
                        <li><a data-toggle="tab" href="#Comunic">Comunicación</a></li>
                    </ul>
                    <div class="tab-content center-block">
                        <div id="General" class="tab-pane fade in active">
                            <br />
                            <form class="form-inline" role="form">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblNo">
                                            No:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtNo" class="form-control" name="TxtNo" />
                                        </div>

                                        <label class="control-label col-md-3" id="lblNoPatronal">
                                            No. Patronal IHSS:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtNoPatronal" class="form-control" name="TxtNoPatronal" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblNonmbre">
                                            Nonmbre:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtNombre" class="form-control" name="TxtNombre" />
                                        </div>
                                        <label class="control-label col-md-3" id="lblcodIHSS">
                                            Correlativo planilla IHSS:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtcodIHSS" class="form-control" name="TxtcodIHSS" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblPosting">
                                            Net Pay Posting Group:
                                        </label>
                                        <div class="col-md-3">
                                            <select id="cboPostingG" name="cboPostingG" class="form-control col-sm-3">
                                                <option>Seleccione una opción</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-md-3" id="lblVacacion">
                                            Código Vacación:
                                        </label>
                                        <div class="col-md-3">
                                            <select id="cboVacacion" name="cboVacacion" class="form-control col-sm-3">
                                                <option>Seleccione una opción</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblBlocked">
                                            Blocked:
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="checkbox" id="CkBlocked" />
                                        </div>
                                        <label class="control-label col-md-3" id="lblEmpresa">
                                            Cod. Rap Empresa:
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" id="TxtEmpresa" class="form-control" name="TxtEmpresa" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblFechaMod">
                                            Última fecha de modificación:
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" id="TxtFechaMod" class="form-control" name="TxtFechaMod" disabled />
                                        </div>
                                        <label class="control-label col-md-3" id="lblCodEmp">
                                            Código Empresa:
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" id="TxtCodEmp" class="form-control" name="TxtCodEmp" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblIDInc">
                                            Id de Incapacidad:
                                        </label>
                                        <div class="col-md-3">
                                            <select id="cboIDInc" name="cboIDInc" class="form-control col-sm-3">
                                                <option>Seleccione una opción</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-md-3" id="lblEPH">
                                            EPH:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtEPH" class="form-control" name="TxtEPH" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblDiasInc">
                                            Días Pago Incapacidad:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtDiasInc" class="form-control" name="TxtDiasInc" />
                                        </div>
                                        <label class="control-label col-md-3" id="lblEPHCT">
                                            EPH. CT:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtEPHCT" class="form-control" name="TxtEPHCT" />
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary-stm" id="limpiar" onclick="nuevo()">Limpiar</button>
                                <button class="btn btn-primary-stm" id="guardar" onclick="save()">Guardar</button>
                                <br />
                            </form>
                        </div><!--fin tab general-->
                        <div id="Comunic" class="tab-pane fade">
                            <br />
                            <form class="form-inline" role="form">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblDir">
                                            Dirección:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtDir" class="form-control" name="TxtDir" />
                                        </div>

                                        <label class="control-label col-md-3" id="lblCorreoEmp">
                                            Correo Empresarial:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtCorreoEmp" class="form-control" name="TxtCorreoEmp" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblDir2">
                                            Dirección 2:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtDir2" class="form-control" name="TxtDir2" />
                                        </div>
                                        <label class="control-label col-md-3" id="lblnombMun">
                                            Nombre Municipalidad:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtnombMun" class="form-control" name="TxtnombMun" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblCiudad">
                                            Ciudad:
                                        </label>
                                        <div class="col-md-3">
                                            <select id="cboCiudad" name="cboCiudad" class="form-control col-sm-3">
                                                <option>Seleccione una opción</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-md-3" id="lblContactoM">
                                            Nombre de Contacto MPAL:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtContactoM" class="form-control" name="TxtContactoM" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblEstado">
                                            Estado:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtEstado" name="TxtEstado" class="form-control" />
                                        </div>
                                        <label class="control-label col-md-3" id="lblLogo">
                                            Logo Municipalidad:
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    Browse… <input type="file" id="imgInp">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" width="100" readonly>
                                        </div>
                                        <img id='img-upload' />
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblZipCode">
                                            ZIP Code:
                                        </label>
                                        <div class="col-sm-3">
                                            <select id="cboZipCode" name="cboZipCode" class="form-control col-sm-3">
                                                <option>Seleccione una opción</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-md-3" id="lblCodRegion">
                                            Country/Region Code:
                                        </label>
                                        <div class="col-sm-3">
                                            <select id="cboCodRegion" name="cboCodRegion" class="form-control col-sm-3">
                                                <option>Seleccione una opción</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblTel">
                                            Número de teléfono:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtTel" class="form-control" name="TxtTel" />
                                        </div>
                                        <label class="control-label col-md-3" id="lblFax">
                                            Fax No:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtFax" class="form-control" name="TxtFax" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblRTN">
                                            RTN:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtRTN" class="form-control" name="TxtRTN" />
                                        </div>
                                        <label class="control-label col-md-3" id="lblPage">
                                            Home Page:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="TxtPage" class="form-control" name="TxtPage" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3" id="lblTwit">
                                            Twitter Username:
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" id="Txtwit" class="form-control" name="Txtwit" />
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary-stm" id="limpiar" onclick="nuevo()">Limpiar</button>
                                <button class="btn btn-primary-stm" id="guardar" onclick="save()">Guardar</button>
                                <br />
                            </form>
                        </div><!--fin tab comunicacion-->
                    </div>
                    </div>
                    </div>
                </div>
        <br />
    </div>
</div>
