﻿@model ControlPlanilla.Models.DEPARTAMENTOS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Crear Departamento</h3>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

<div class="col-sm-12">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.CD_PAIS, "CD_PAIS", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.DropDownList("CD_PAIS", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CD_PAIS, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.NOMBRE_DEPTO, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.NOMBRE_DEPTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_DEPTO, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.CODIGO_DEPTO, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.CODIGO_DEPTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CODIGO_DEPTO, "", new { @class = "text-danger" })
            </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    </div>
        }
        <br />
