﻿@model ControlPlanilla.Models.DEPARTAMENTOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Departamento</h3>
                <div class="col-sm-12">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.NOMBRE_DEPTO)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NOMBRE_DEPTO)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CODIGO_DEPTO)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CODIGO_DEPTO)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PAISES.DS_NOMBREPAIS)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PAISES.DS_NOMBREPAIS)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_CREA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_CREA)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.USUA_ACTU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUA_ACTU)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FECH_ACTU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECH_ACTU)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_DEPTO }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>
        <br />
