﻿@model ControlPlanilla.Models.DEPARTAMENTOS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Departamento</h3>
                <div class="table-responsive" style="padding:15px">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="col-sm-12">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID_DEPTO)

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CD_PAIS, "CD_PAIS", htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.DropDownList("CD_PAIS", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CD_PAIS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NOMBRE_DEPTO, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.NOMBRE_DEPTO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NOMBRE_DEPTO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CODIGO_DEPTO, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.CODIGO_DEPTO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.CODIGO_DEPTO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            </div>



                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        </div>
                            }
                        </div>
                        <br />
