﻿@model IEnumerable<ControlPlanilla.Models.DEPARTAMENTOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Departamentos</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.PAISES.DS_NOMBREPAIS)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NOMBRE_DEPTO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CODIGO_DEPTO)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID_DEPTO }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.ID_DEPTO }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_DEPTO })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAISES.DS_NOMBREPAIS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOMBRE_DEPTO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CODIGO_DEPTO)
                        </td>
                    </tr>
                        }

                    </table>
                </div>
        <br />
