﻿@model ControlPlanilla.Models.EmployeeRate

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Eliminar EmployeeRate</h3>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

    <h3>¿Está seguro de eliminar este registro?</h3> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitofMeasureCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitofMeasureCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrarPosteo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrarPosteo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayControlRel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayControlRel)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
