﻿@model ControlPlanilla.Models.EmployeeRate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Detalle EmployeeRate</h3>
<div class="col-sm-12">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitofMeasureCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitofMeasureCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrarPosteo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrarPosteo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayControlRel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayControlRel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar a La Lista", "Index")
</p>
<br />