﻿@model ControlPlanilla.Models.EmployeeRate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Editar EmployeeRate</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="col-sm-12">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmployeeNo)

    @Html.HiddenFor(model => model.PayrollRateCode)

    @Html.HiddenFor(model => model.EffectiveDate)

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeNo, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.DropDownList("EmployeeNo", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PayrollRateCode, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.DropDownList("PayrollRateCode", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.PayrollRateCode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Employer, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.DropDownList("Employer", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Employer, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.BorrarPosteo, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.BorrarPosteo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BorrarPosteo, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" /> |
        @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    </div>
        }

<br />