﻿@model IEnumerable<ControlPlanilla.Models.EmployeeRate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h2>Index</h2>
<div class="col-sm-12 overflow-auto" style="height:400px;">
    <p>
        @Html.ActionLink("Nuevo Registro", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitofMeasureCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrarPosteo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayControlRel)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.EmployeeNo, id2 = item.PayrollRateCode, id3 = item.EffectiveDate }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.EmployeeNo, id2 = item.PayrollRateCode, id3 = item.EffectiveDate }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.EmployeeNo, id2 = item.PayrollRateCode, id3 = item.EffectiveDate })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitofMeasureCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrarPosteo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Referencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayControlRel)
                </td>
            </tr>
        }

    </table>
</div>
<br />
