﻿@model ControlPlanilla.Models.PayrollJournalTemplate

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Editar PayrollJournalTemplate</h3>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

    <h3>¿Está seguro de eliminar este registro?</h3> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestReportID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestReportID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostingReportID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostingReportID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForcePostingReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForcePostingReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckPrintReportID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckPrintReportID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recurring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurring)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLPostOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLPostOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPayrollRunNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPayrollRunNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostingReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostingReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckPrintReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckPrintReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollRunNoSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollRunNoSeries)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
