﻿@model IEnumerable<ControlPlanilla.Models.PayrollJournalTemplate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
<h3>Listado PayrollJournalTemplate</h3>

<div class="col-sm-12 overflow-auto" style="height:400px;">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GLPostOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollRunNoSeries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestReportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestReportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostingReportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostingReportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckPrintReportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckPrintReportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForcePostingReport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recurring)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Name }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.Name }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Name })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GLPostOption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayrollRunNoSeries)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestReportID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestReportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostingReportID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostingReportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckPrintReportID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckPrintReportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForcePostingReport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recurring)
                </td>
            </tr>
        }

    </table>
</div>
<br />
