﻿@model ControlPlanilla.Models.CIUDADES

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Crear Ciudad</h3> 
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

<div class="col-sm-12">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>PAIS</label>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <select class="form-control" name="cmbPaises" id="cmbPaises" required>
                    @foreach (var item in ViewBag.cmbPaises)
                    {
                        <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ID_DEPTO, "ID_DEPTO", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.DropDownList("ID_DEPTO", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_DEPTO, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.NOMBRE_CIUDAD, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.NOMBRE_CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE_CIUDAD, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.CODIGO_CIUDAD, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.EditorFor(model => model.CODIGO_CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CODIGO_CIUDAD, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>



        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    </div>
        }
        <br />

        <script>
    $("#cmbPaises").change(function () {
        cargarDepartamentos($('#cmbPaises').val());
    });
    function cargarDepartamentos(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerDepartamentos", "CIUDADES")';
        var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#ID_DEPTO').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#ID_DEPTO').append('<option value="' + result[i].ID_DEPTO + '">' + result[i].NOMBRE_DEPTO + '</option>')
                }
            });
    }
        </script>
