﻿@model ControlPlanilla.Models.CIUDADES

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Editar Ciudad</h3>
                <div class="table-responsive" style="padding:15px">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="table-responsive" style="padding:15px">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID_CIUDAD)

                            <div class="form-group">
                                <label class="control-label col-md-2">PAIS</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="cmbPaises" id="cmbPaises" required>
                                        @foreach (var item in ViewBag.cmbPaises)
                                        {
                                            <option value="@item.CD_PAIS">@item.DS_PAIS</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.ID_DEPTO, "ID_DEPTO", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ID_DEPTO", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ID_DEPTO, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NOMBRE_CIUDAD, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NOMBRE_CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NOMBRE_CIUDAD, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CODIGO_CIUDAD, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CODIGO_CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CODIGO_CIUDAD, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        </div>
                    }
                </div>
        <br />


<script>
     //Selecionar pais de la empresa por defecto
    document.getElementById("cmbPaises").value = '@Model.DEPARTAMENTOS.CD_PAIS';
    $("#cmbPaises").change(function () {
        cargarDepartamentos($('#cmbPaises').val());
    });
    function cargarDepartamentos(cdPais) {
            //debugger;
            var url = '@Url.Action("ObtenerDepartamentos", "CIUDADES")';
        var data = { cd_pais: cdPais };
            $.get(url, data).done(function (result) {
                $('#ID_DEPTO').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#ID_DEPTO').append('<option value="' + result[i].ID_DEPTO + '">' + result[i].NOMBRE_DEPTO + '</option>')
                }
            });
    }

</script>
