﻿@model PagedList.IPagedList<ControlPlanilla.Models.BaseAmountDetail>
@using PagedList.Mvc;

@{
    var i = 0;
}

<table class="table table-bordered table-responsive table-hover" style="display: block;
    overflow-x: auto;
    white-space: nowrap;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayrollControl)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NameFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayrollTypeReportingAuthority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().WorkRepAuthCodeFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().WorkTypeFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayrollPostType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PayrollControlType)
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CountyFilter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LocalityFilter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BaseAmount)
        </th>*@




            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>
                    @Html.EditorFor(modelItem => item.LineNumber, new { htmlAttributes = new { @class = "form-control", @id = "LineNumber_" + i, @type="text", @posicion = i, @readonly = "readonly" } })
                </td>
                <td>                    
                    @Html.EditorFor(modelItem => item.PayrollControl.Name, new { htmlAttributes = new { @class = "form-control", @id = "ControlName_" + i, @posicion = i, @readonly = "readonly" } })
                </td>

                <td>
                    @Html.EditorFor(modelItem => item.NameFilter, new { htmlAttributes = new { @class = "form-control", @id = "NameFilter_" + i, @posicion = i } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.PayrollTypeReportingAuthority.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @id = "TypeReportingAuthority_" + i, @posicion = i, @readonly = "readonly" } })
                </td>

                <td>
                    @Html.EditorFor(modelItem => item.WorkRepAuthCodeFilter, new { htmlAttributes = new { @class = "form-control", @id = "WorkRepAuthCodeFilter_" + i, @posicion = i, @readonly = "readonly" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.WorkTypeFilter, new { htmlAttributes = new { @class = "form-control", @id = "WorkTypeFilter_" + i, @posicion = i, @readonly = "readonly" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.PayrollPostType.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @id = "PayrollPostType_" + i, @posicion = i, @readonly = "readonly" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.PayrollControlType.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @id = "PayrollControlType_" + i, @posicion = i, @readonly = "readonly" } })
                </td>


                @*<td>
                        @Html.DisplayFor(modelItem => item.CountyFilter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalityFilter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BaseAmount.Name)
                    </td>*@

                <td>
                    <button class="btn btn-sm botones" onclick="EditarDetalle(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    |
                    <button class="btn btn-sm botones" onclick="EliminarDetalle(this)" posicion="@i">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ConsultarBaseAmount", "BaseAmount",
    new { Code = ViewBag.Code, date = ViewBag.Fecha, page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {

            HttpMethod = "POST",
            UpdateTargetId = "LinesList",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))

<script>
    window.onload = function ()
    {
        //funciones a ejecutar
        alert("Hola");
        $('#btnGenerarDetalles').css('display', 'none');
    };
    
</script>