﻿
<div class="table-responsive" style="text-align:center;">
    <div class="row">
        <div class="col-lg-3">
            Tipo de Control de pago
        </div>
        <div class="col-lg-9">
            @Html.DropDownList("PayrollControlTypeFilter", new SelectList(ViewBag.PayrollControlTypeFilter, "Value", "Text",null), htmlAttributes: new { @class = "form-control", @posicion = 1, @style = "width:100%;" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            Tipo de posteo de contabilización
        </div>
        <div class="col-lg-9">
            @Html.DropDownList("GLPostTypeFilter", new SelectList(ViewBag.GLPostTypeFilter, "Value", "Text",null), htmlAttributes: new { @class = "form-control", @posicion = 1, @style = "width:100%;" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            Tipo de agente de retención
        </div>
        <div class="col-lg-9">
            @Html.DropDownList("Type", new SelectList(ViewBag.Type, "Value", "Text",null), htmlAttributes: new { @class = "form-control", @posicion = 1, @style = "width:100%;" })
        </div>
    </div>

</div>