﻿@model IEnumerable<ControlPlanilla.Models.BaseAmount>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}
@{
    var i = 0;
}
<br />
<h3>Listado Base Amounts</h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="DatosGenerales-tab" data-toggle="tab" href="#DatosGenerales" role="tab" aria-controls="DatosGenerales" aria-selected="true">Datos Generales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="Detalles-tab" data-toggle="tab" href="#Detalles" role="tab" aria-controls="Detalles" aria-selected="false">Detalles</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="DatosGenerales" role="tabpanel" aria-labelledby="DatosGenerales-tab">
        <br />
        <table class="table table-bordered table-hover">
            <tr>
                <th>Code</th>
                <th>Effective Date</th>
                <th>Name</th>
                <th>Estatus</th>
                <th>Base Amounts</th>
                @if (ViewBag.ArchivoAdjunto)
                {
                    <th>
                        Archivos Adj.
                    </th>
                }
            </tr>
            @foreach (var item in Model)
            {
                i += 1;
                <tr>
                    <td>
                        <a href="" data-id="@item.Code" class="fa-linkedin deta"
                           EffectiveDate="@item.EffectiveDate.ToString("yyyy-MM-dd")" nombre="@item.Name"
                           EditStatus="@item.EditStatus" BaseAmountDetailsExist="@item.BaseAmountDetailsExist.ToString()"
                           NumberofOccurrences="@item.NumberofOccurrences" posicion="@i">
                            @Html.DisplayFor(modelitem => item.Code)
                        </a>
                    </td>
                    <td>@item.EffectiveDate</td>
                    <td>
                        @Html.DisplayTextFor(modelitem => item.Name)
                    </td>
                    <td>
                        @Html.DropDownList("EditStatus1", new SelectList(ViewBag.EditStatus, "Value", "Text", item.EditStatus), htmlAttributes: new { @class = "form-control", @posicion = i, @style = "width:194px;", @readonly = "readonly" })
                    </td>
                    <td style="text-align:center;">
                        <div class="checkbox">
                            @Html.DisplayFor(modelitem => item.BaseAmountDetailsExist)
                        </div>
                    </td>
                    @if (ViewBag.ArchivoAdjunto)
                    {
                        <th>
                            @Html.ActionLink("Archivos", "SubirArchivos", "Auditoria", new { opcion = ViewBag.OpcionSistema, DsForaneo = item.Name, CdForaneo = item.Code }, htmlAttributes: new { @class = "" })
                        </th>
                    }

                </tr>
            }

        </table>
    </div>
    <div class="tab-pane fade" id="Detalles" role="tabpanel" aria-labelledby="Detalles-tab">
        <br />

            <form class="form" role="form" id="formBaseAm">
                <!--formulario -->
                <div class="row">
                    <div class="col-sm-3">
                        <label>Code</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="Code" name="Code" required />
                        <a id="linkCode" href="" class="btn btn-info filtros hidden"></a>
                    </div>
                    <div class="col-sm-3">
                        <label>Effective Date</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="EffectiveDate" name="EffectiveDate" style="width:194px;" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Name</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="Name" name="Name" required />
                    </div>
                    <div class="col-sm-3">
                        <label>Status</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("EditStatus", new SelectList(ViewBag.EditStatus, "Value", "Text"), htmlAttributes: new { @class = "form-control", @posicion = 1, @style = "width:194px;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>NumberofOccurrences</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="NumberofOccurrences" name="NumberofOccurrences" readonly="readonly" />
                    </div>
                    <div class="col-sm-3">
                        <label>BaseAmountDetailsExist</label>
                    </div>
                    <div class="col-sm-3" style="text-align:justify;">
                        @*<select id="CboBSD" name="CboBSD" class="form-control">
                            <option>Seleccione una opción</option>
                        </select>*@
                        <input type="checkbox" value="" class="form-control" id="BaseAmountDetailsExist" name="BaseAmountDetailsExist" required />
                    </div>
                </div>
                <br />
                <button class="btn btn-primary" id="limpiar">Limpiar</button>
                <button class="btn btn-primary" id="guardar">Guardar</button>
                <button Class="btn btn-primary" id="actualizar">Actualizar</button>
                <button Class="btn btn-primary" id="eliminar">Eliminar</button>
                <br />
            </form><!--fin formulario -->

        </div>
    </div>
<br />



<!--Modal para los filtros-->
<div class="modal fade" id="abrirModalFiltros" name="abrirModalFiltros" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="overflow-x: hidden; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title" id="myLabelFiltros">Seleccionar filtro(s).</label>
            </div>
            <div class="modal-body col-12">
                @*<div id="ListFiltros" name="ListFiltros" style="width:100%;">
                        @Html.Action("FiltrosBaseAmount", "BaseAmount")
                    </div>*@

                <div id="ListBaseDetalles" name="ListBaseDetalles" style="width:100%;"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnGenerarDetalles" onclick="GenerarDetalle()">Generar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>

    //Variables para almacenar las llaver primarias y poder crear los detalles
    var Code, Fecha

    $('#limpiar').click(function () {
        $('#Code').removeAttr("disabled", "disabled");
        $('#EffectiveDate').removeAttr("disabled", "disabled");

        $('#guardar').removeAttr("disabled", "disabled");
        $('#actualizar').attr("disabled", "disabled");
        $('#eliminar').attr("disabled", "disabled");

        $('#linkCode').addClass("hidden");
        $('#Code').removeClass("hidden");

        $('#Code').val('');
        $('#EffectiveDate').val('');
        $('#Name').val('');
        $('#NumberofOccurrences').val('');
        $('#BaseAmountDetailsExist').attr("checked", false);
    })


    $('#guardar').click(function() {
        var formContainer = $('#formBaseAm');

        var bol = document.getElementById('BaseAmountDetailsExist').checked;
        if (bol) {
            $('#BaseAmountDetailsExist').val(true)
        }
        else {
            $('#BaseAmountDetailsExist').val(false)
        }

        $.ajax({
        url: '@Url.Action("CrearBaseAmount", "BaseAmount")',
        type: 'POST',
        cache: true,
        data: formContainer.serialize(),
        success: function(result) {
            var modelStatus = $('.model-status');
            if (result) {
                modelStatus.text("Estado: Enviado con éxito");
            }
            else {
                modelStatus.text("Estado: Enviado con error. Compruebe que ha rellenado todos los campos");
            }
        },
        error: function(jqXHR, textStatus, error) {
            $('.model-status').text("Estado: Error inesperado");
        }
    });


    })


    $('#actualizar').click(function() {
        var formContainer = $('#formBaseAm');

        var bol = document.getElementById('BaseAmountDetailsExist').checked;
        if (bol) {
            $('#BaseAmountDetailsExist').val(true)
        }
        else {
            $('#BaseAmountDetailsExist').val(false)
        }

        $.ajax({
        url: '@Url.Action("EditarBaseAmount", "BaseAmount")',
        type: 'POST',
        cache: true,
        data: formContainer.serialize(),
        success: function(result) {
            var modelStatus = $('.model-status');
            if (result) {
                modelStatus.text("Estado: Enviado con éxito");
            }
            else {
                modelStatus.text("Estado: Enviado con error. Compruebe que ha rellenado todos los campos");
            }
        },
        error: function(jqXHR, textStatus, error) {
            $('.model-status').text("Estado: Error inesperado");
        }
    });


    })

     $('#eliminar').click(function() {
        var formContainer = $('#formBaseAm');

        var bol = document.getElementById('BaseAmountDetailsExist').checked;
        if (bol) {
            $('#BaseAmountDetailsExist').val(true)
        }
        else {
            $('#BaseAmountDetailsExist').val(false)
        }

        $.ajax({
        url: '@Url.Action("EliminarBaseAmount", "BaseAmount")',
        type: 'POST',
        cache: true,
        data: formContainer.serialize(),
        success: function(result) {
            var modelStatus = $('.model-status');
            if (result) {
                modelStatus.text("Estado: Enviado con éxito");
            }
            else {
                modelStatus.text("Estado: Enviado con error. Compruebe que ha rellenado todos los campos");
            }
        },
        error: function(jqXHR, textStatus, error) {
            $('.model-status').text("Estado: Error inesperado");
        }
    });


    })

    $('.deta').click(function(e) {
           e.preventDefault();

           //Update the item to delete id so our model knows which one to delete
        var Code = $(this).data('id');
        var EffectiveDate= $(this).attr('EffectiveDate')
        var Name=$(this).attr('Nombre')
        var EditStatus=$(this).attr('EditStatus')
        var NumberofOccurrences=$(this).attr('NumberofOccurrences')
        var BaseAmountDetailsExist = $(this).attr('BaseAmountDetailsExist')

        $('#myTab a[href="#Detalles"]').tab('show');
        $('#Code').val(Code);
        $('#linkCode').html(Code);
        $('#linkCode').attr('Codigo', Code);
        $('#linkCode').attr('fecha', EffectiveDate);


        $('#EffectiveDate').val(EffectiveDate);
        $('#EffectiveDate').attr("readonly", "readonly");
        $('#Name').val(Name);
        $('#EditStatus').val(EditStatus);
        $('#NumberofOccurrences').val(NumberofOccurrences);

        if (BaseAmountDetailsExist == "True") {
            $('#BaseAmountDetailsExist').attr("checked", true);
        } else {
            $('#BaseAmountDetailsExist').attr("checked", false);
        }


        $('#guardar').attr("disabled", "disabled");
        $('#actualizar').removeAttr("disabled", "disabled");
        $('#eliminar').removeAttr("disabled", "disabled");
        $('#linkCode').removeClass("hidden");
        $('#Code').addClass("hidden");

    });

    //Para crear detalles del base amount

     $('.filtros').click(function (e) {
        e.preventDefault();

        //Update the item to delete id so our model knows which one to delete
        Code = $(this).attr('Codigo');
        Fecha = $(this).attr('fecha');
        //$('#item-to-delete').val(id);

        $('#myLabelFiltros').html("Detalle de cantidad base: " + Code + " " + Fecha);

        ConsultarBaseAmount()
    });

    function ConsultarBaseAmount()
    {
        $.blockUI();
        var data = { Code:Code, Date : Fecha };
        var url = '@Url.Action("ConsultarBaseAmount", "BaseAmount")';

        $.post(url, data).done(function (result) {
            $('#ListBaseDetalles').html('');
            $('#ListBaseDetalles').html(result);
            $('#abrirModalFiltros').modal('show');
            $.unblockUI();
         });


    }

    function GenerarDetalle() {
        var PayrollControlTypeFilter = $('#PayrollControlTypeFilter').val();
        var GLPostTypeFilter = $('#GLPostTypeFilter').val();
        var Type = $('#Type').val();
        if ((Type == "" || Type == undefined) &&
            (GLPostTypeFilter == "" || GLPostTypeFilter == undefined) &&
            (PayrollControlTypeFilter == "" || PayrollControlTypeFilter == undefined))
        {
            toastr.warning("Debe de seleccionar al menos un filtro");
        }
        else  {
            var data = { Code: Code, Date : Fecha, ControlType: PayrollControlTypeFilter, PosType: GLPostTypeFilter, TipoAgente:Type };
            var url = '@Url.Action("CrearDetalles", "BaseAmount")';

            $.post(url, data).done(function (result) {

                if (result == "True")
                {
                    toastr.success("Detalles creados con éxito.");
                    //$('#btnGenerarDetalles').css('display', 'none');
                    ActualizarListaDetalles();
                }
                else if (result=="False")
                {
                    toastr.info("No existen control de pago con lo(s) filtro(s) seleccionados");
                    ActualizarListaDetalles()
                }

             });
        }

    }

    function ActualizarListaDetalles() {
        var data = { Code:Code, Date : Fecha };
        var url = '@Url.Action("ConsultarBaseAmount", "BaseAmount")';

        $.post(url, data).done(function (result) {
            $('#ListBaseDetalles').html('');
            $('#ListBaseDetalles').html(result);
         });
    }


    function EditarDetalle(element) {
        $('.botones').attr("disabled", "disabled");

        var posicion = $(element).attr("posicion");
        var i = posicion;
        var LinNumber = $('#LineNumber_' + i).val();
        alert(LinNumber);
        var Name = $('#NameFilter_' + i).val();

        var url = '@Url.Action("EditarDetalle", "BaseAmount")';

        var data = { BaseAmountCode: Code, EffectiveDate: Fecha, LineNumber: LinNumber, NameFilter: Name };

        $.post(url, data).done(function (result) {
                    if (result=="True")
                    {
                        ActualizarListaDetalles();
                        toastr.success("Registro actualizado");
                        $('.botones').removeAttr("disabled", "disabled");

                    }
                });
        $('.botones').removeAttr("disabled", "disabled");
    }

    function EliminarDetalle(element) {
        $('.botones').attr("disabled", "disabled");

        var posicion = $(element).attr("posicion");
        var i = posicion;
        var LinNumber = $('#LineNumber_' + i).val();


        var url = '@Url.Action("EliminarDetalle", "BaseAmount")';

        var data = { BaseAmountCode: Code, EffectiveDate: Fecha, LineNumber: LinNumber };

        $.post(url, data).done(function (result) {
                    if (result)
                    {
                        ActualizarListaDetalles();
                        toastr.success("Registro eliminado");
                        $('.botones').removeAttr("disabled", "disabled");
                    }
                });
        $('.botones').removeAttr("disabled", "disabled");
    }


</script>