﻿@model ControlPlanilla.Models.MethodStep

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Crear Method Steps</h3>
 
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="col-sm-12">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FunctionNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.FunctionNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FunctionNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BracketTypeCode, "BracketTypeCode", htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.DropDownList("BracketTypeCode", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BracketTypeCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BracketStatusSelectionMode, "BracketStatusSelectionMode", htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.DropDownList("BracketStatusSelectionMode", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BracketStatusSelectionMode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RateUsedType, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select id="RateUsedType" name="RateUsedType" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StepClassCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.DropDownList("StepClassCode", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StepClassCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UsesBaseAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"> 
                                        @Html.EditorFor(model => model.UsesBaseAmount, new { htmlAttributes = new { @type="checkbox",@class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UsesBaseAmount, "", new { @class = "text-danger" }) 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UsesActivationCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                        @Html.EditorFor(model => model.UsesActivationCode, new { htmlAttributes = new { @type="checkbox",@class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UsesActivationCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UsesPayrollRate, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                        @Html.EditorFor(model => model.UsesPayrollRate, new { htmlAttributes = new { @type="checkbox",@class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UsesPayrollRate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UsesPayStructure, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                        @Html.EditorFor(model => model.UsesPayStructure, new { htmlAttributes = new { @type="checkbox",@class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UsesPayStructure, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RequiresEmpAuthInfo, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                        @Html.EditorFor(model => model.RequiresEmpAuthInfo, new { htmlAttributes = new { @type="checkbox",@class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RequiresEmpAuthInfo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                                @Html.ActionLink("Regresar a la Lista", "Index")
                            </div>
                        </div>
                            }
        <br />

<script>
    window.onload = function ()
    {
        //funciones a ejecutar
        $.blockUI();
        cargarRateType();
        $.unblockUI();
    };

    //combo RateUsedType
    function cargarRateType() {
            var url = '@Url.Action("RateUsedType","Home")';
            var data = "";
            $.get(url, data).done(function (result) {
                $('#RateUsedType').html('');
                for (var i = 0; i < result.length; i++) {
                    $('#RateUsedType').append('<option value="' + result[i].Value + '">' + result[i].Text + '</option>')
                }
            });
    }

</script>