﻿@model ControlPlanilla.Models.MethodStep

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Detalle Method Steps</h3>
                <div class="col-sm-12">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FunctionNo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FunctionNo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BracketType.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BracketType.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BracketStatusSelectionMode1.DESCRIPCION)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BracketStatusSelectionMode1.DESCRIPCION)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RateUsedType)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.RateUsedType)*@
                            @if (Model.RateUsedType == 1)
                            {
                                <text>Employee</text>
                            }
                            else if (Model.RateUsedType == 2)
                            {
                                <text>Employer</text>
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.StepClassCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StepClassCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UsesBaseAmount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UsesBaseAmount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UsesActivationCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UsesActivationCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UsesPayrollRate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UsesPayrollRate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UsesPayStructure)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UsesPayStructure)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RequiresEmpAuthInfo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RequiresEmpAuthInfo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Comment)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Comment)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Code }) |
                        @Html.ActionLink("Regresar a la Lista", "Index")
                    </p>
                </div>
        <br />

