﻿@model IEnumerable<ControlPlanilla.Models.MethodStep>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Vista.cshtml";
}

<br />
                <h3>Listado Method Steps</h3>
                <div class="col-sm-12 overflow-auto" style="height:400px;">
                    <p>
                        @Html.ActionLink("Nuevo Registro", "Create")
                    </p>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.StepClassCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BracketType.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesBaseAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesPayrollRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesActivationCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RateUsedType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsesPayStructure)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BracketStatusSelectionMode1.DESCRIPCION)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.Code }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Code })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StepClassCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BracketType.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsesBaseAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsesPayrollRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsesActivationCode)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.RateUsedType)*@
                                    
                                    @if (item.RateUsedType == 1 )
                                    {
                                        <div>Employee</div>
                                    }
                                    else if (item.RateUsedType == 2)
                                    {
                                        <div>Employer</div>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsesPayStructure)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BracketStatusSelectionMode1.DESCRIPCION)
                                </td>

                            </tr>
                        }

                    </table>
                </div>
        <br />
